/images/*
!/images/.htaccess
!/images/FB_LOGO.png
!/images/GOOGLE_LOGO.png
!/images/LINE_LOGO.png
!/images/ProfilePicture.jpg
/upload/*
!/upload/.htaccess
/output
!/output/.htaccess
/sessionTemp/*
/view/templates_c/*
backup.txt