Options -Indexes
<IfModule mod_rewrite.c>

    #線上
	#ExpiresActive On
	#ExpiresDefault "access plus 2 months"
	#ExpiresByType image/gif A2592000
	#ExpiresByType image/png A2592000
	#ExpiresByType image/jpg A2592000
	#ExpiresByType image/jpeg A2592000
	#ExpiresByType image/ico A2592000
	#ExpiresByType text/css A2592000
	#ExpiresByType text/javascript A2592000
	#AddOutputFilterByType DEFLATE text/html text/plain text/xml application/x-javascript application/x-httpd-php
	#AddOutputFilter DEFLATE js css
	
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #線上

    RewriteEngine on
    #RewriteBase /

	ErrorDocument 403 http://%{HTTP_HOST}/404
	ErrorDocument 404 http://%{HTTP_HOST}/404

	#縮圖轉址
    RewriteRule (.+)\.(.+)\.min$ $1_min\.$2 [R,L]

	#RewriteRule (.[^\.]).(php)$ - [L]
	#RewriteRule (.[^\.]).(mp3|mov|php|mp4|avi|wmv)$ - [NC,F,L]

	RewriteCond $1 !^(ajax\.php|upload\.php|web|socket\.php|robots\.txt|output|upload|css|js|fonts|images|language|include|verifycode\.php|.*\.ico|sitemap\.xml|$)
	#RewriteCond $1 ^(error|serback)

	#.* 一到多個任意字元 
    RewriteRule ^(.*)$ index.php [L,QSA]


</IfModule>

