({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">
        關於我們 / About
    </div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="col-sm-3">
                <div class="in-left-menu classBox">
                    <ul class="classLink">
                        ({$data.list_li_html})
                    </ul> 
                </div> 
            </div> 
            <div class="col-sm">
                <h3 class="page-title">({$data.one.name})</h3>
                <div class="page-main">
                    ({$data.one.detail})
                </div>
            </div> <!-- 右欄 END -->
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})