({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title"> 聯絡我們 / Contact </div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="col-sm-3">
                <div class="left-beautify"><img src="images/contactleft.jpg"></div>
            </div>
            <div class="col-sm">
                <!-- 左欄 -->
                <h3 class="page-title">聯絡我們</h3>
                <div class="contact-body">
                    <div class="googlemap">
                        ({$data.one.googleMap})
                    </div>
                    <div class="contact-note">* 為必填項目</div>
                    <div class="form-box">
                        <!-- 表單 -->
                        ({include "module/form_style01.html"})
                    </div>
                </div>
            </div>
            <!-- 左欄 EDN -->
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})