({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">
        會員專區
    </div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="member-login-box col-sm">
                <h3 class="page-title">加入會員</h3>
                <form action="" method="POST">
                    <div class="form-box">
                        <div class="opinion clearfix"> <span class="opinion-left01">帳號 *</span>
                            <input type="email" name="account" data-text="帳號" data-check="Email" placeholder="請輸入您的E-mail" class="input-main-style01" value="({$data.socialData.email})" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">設定密碼 *</span>
                            <input type="password" name="password" placeholder="密碼至少8碼" class="input-main-style01" data-text="密碼" data-check="Password" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">確認密碼 *</span>
                            <input type="password" name="checkPassword" placeholder="確認密碼" class="input-main-style01" data-text="確認密碼" data-check="Password" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">您的姓名 *</span>
                            <input type="text" placeholder="姓名" name="name" class="input-main-style01" value="({$data.socialData.name})" data-text="性名" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">電話號碼 *</span>
                            <input type="text" placeholder="電話號碼" data-text="電話號碼" class="input-main-style01" name="cellPhone" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">手機號碼 *</span>
                            <input type="text" placeholder="手機號碼" data-text="手機號碼" class="input-main-style01" name="phone" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">聯絡地址 *</span>
                            <div class="input-main-select" id="twzipcode">
                                <script>
                                    $('#twzipcode').twzipcode({
                                        'css': ['form-control', 'form-control'],
                                        'countyName': 'address[0]',
                                        'districtName': 'address[1]',
                                        'zipcodeName': 'address[2]',
                                        'zipcodeIntoDistrict': true,
                                    });
                                    $('#twzipcode').find('select').attr('required', true);
                                    $('#twzipcode').find('select[name="address[0]"]').attr('data-text', "聯絡地址-縣市");
                                    $('#twzipcode').find('select[name="address[1]"]').attr('data-text', "聯絡地址-鄉鎮市區");
                                </script>
                                <input type="text" name="address[3]" placeholder="聯絡地址" data-text="聯絡地址" class="input-main-style03" required>
                            </div>
                        </div>
                        ({include "module/memberField_style01.html"})
                        <div class="cart-btn"><a href="javascript:;" onclick="formSubmit(0); return false;" class="btn-send">加入會員</a></div>
                        ({$console->getToken()})
                    </div>
                </form>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})