({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">
        會員專區
    </div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="col-sm-3">
                <div class="left-menu-title">會員選單</div>
                <div class="in-left-menu classBox">
                    <ul class="classLink">
                        <li><a href="({$web.main_url})/member/detail">修改會員資料</a></li>
                        <li><a href="({$web.main_url})/member/order">訂單查詢</a></li>
                        <li><a href="({$web.main_url})/member/password" class="current">修改密碼</a></li>
                        <li><a href="({$web.main_url})/member/logout">登出</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <h3 class="page-title">修改密碼</h3>
                <form action="" method="POST">
                    <div class="form-box order-search clearfix">
                        <!-- 表單 -->
                        <div class="opinion clearfix"> <span class="opinion-left01">新密碼</span>
                            <input type="password" name="newPassword" data-text="新密碼" data-check="Password" placeholder="新密碼" class="input-main-style01" required>
                        </div>
                        <div class="opinion clearfix"> <span class="opinion-left01">確認密碼</span>
                            <input type="password" name="checkNewPassword" data-text="確認密碼" data-check="Password" placeholder="確認密碼" class="input-main-style01" required>
                        </div>
                        <div class="cart-btn">
                            <a href="javascript:;" onclick="formSubmit(0); return false;" class="btn-send">確認送出</a>
                        </div>
                        <!-- 表單 -->
                    </div>
                    ({$console->getToken()})
                </form>
            </div>
            <!-- 右欄 END -->
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})