({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">
        會員專區
    </div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body">
            <div class="member-login-box row justify-content-center">
                <div class="col-sm">
                    <h3 class="page-title">登入會員</h3>
                    <form action="" method="POST">
                        <div class="form-box">
                            <!-- 表單 -->
                            <div class="opinion"> <span class="opinion-left01">帳號</span>
                                <input type="email" placeholder="E-mail" name="account" class="input-main-style01" data-text="帳號" data-check="Email" required>
                            </div>
                            <div class="opinion"> <span class="opinion-left01">密碼</span>
                                <input type="password" placeholder="Password" name="password" class="input-main-style01" data-text="密碼" required>
                            </div>
                            <div class="cart-btn">
                                <a href="javascript:;" class="btn-send" onclick="formSubmit(0);return false;">會員登入</a>
                                <a href="({$web.main_url})/({$console->path[0]})/forget" class="btn-reset">忘記密碼</a>
                                <a href="({$web.main_url})/({$console->path[0]})/join" class="btn-send-over">加入會員</a>
                            </div>
                        </div>
                        ({$console->getToken()})
                    </form>
                </div>
                <div class="col-sm-5">
                    <h3 class="page-title">社群登入</h3>
                    <div class="login-tool">
                        <ul>
                            ({if $web.googleAuthAppID})
                                <li><a href="javascript:;" id="GoogleBtn"><img src="images/google_icon&48.png"></a></li>
                            ({/if})
                            ({if $web.fbAuthAppID})
                            ({/if})
                                <li><a href="javascript:;" onclick="fbLogin();"><img src="images/facebook_icon&48.png"></a></li>
                            ({if $web.lineAuthClientID})
                                <li><a href="javascript:;" onclick="lineLogin();"><img src="/images/LINE_LOGO_min.png"></a></li>
                            ({/if})
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})