({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">產品總覽 / Product Overview</div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="col-sm-3">
                <div class="search">
                    <div class="search-input">
                        <input type="text" class="form-control" id="searchKeyWord" placeholder="請輸入產品關鍵字" 
                            value="({$smarty.get.searchKeyWord})" 
                            onkeydown="
                                if (event.keyCode == 13) {
                                    location.href='({$web.main_url})/product/all?searchKeyWord='+this.value;
                                }
                            ">
                        <a href="javascript:;" onclick="location.href='({$web.main_url})/product/all?searchKeyWord='+$('#searchKeyWord').val();"><img src="images/btn-search.png"></a>
                    </div>
                </div>
                <div class="in-left-menu classBox">
                    <ul class="classLink">
                        ({$data.class_li_html})
                    </ul>
                </div>
            </div>
        ({if !$console->path[2]})
            <div class="col-sm">
                <!-- 左欄 -->
                ({if isset($smarty.get.searchKeyWord)})
                    <h3 class="page-title">搜尋結果</h3>
                    ({if $data.list.0})
                        <div class="pro-search-info">
                            關鍵字 "({$smarty.get.searchKeyWord})" 搜尋結果 ({count($data.list)}) 筆
                        </div>
                    ({else})
                        <div class="pro-search-info">
                            關鍵字 "({$smarty.get.searchKeyWord})" 搜尋不到任何商品
                        </div>
                    ({/if})
                ({else})
                    <h3 class="page-title">({$data.oneClass.name})</h3>
                    <div class="pro-store-info">
                        ({$data.oneClass.memo})
                    </div>
                ({/if})
                <div class="pro-list">
                    <ul class="clearfix">
                        ({section name=i loop=$data.list})
                            ({assign var="specificationsID" value="|__|"|explode:$data.list[i].specificationsID})
                            ({assign var="specifications" value="|__|"|explode:$data.list[i].specifications})
                            ({assign var="stock" value="|__|"|explode:$data.list[i].stock})

                        <li>
                            <!-- 產品 -->
                            <h4>({$data.list[i].name})</h4>
                            <div class="pro-photo">
                                <a href="({$data.list[i].__href})"><img src="({$data.list[i].pictureList})" class="index-pro-img" alt=""></a>
                            </div>

                            ({if ($data.list[i].memberPrice || $data.list[i].specialPrice) && $data.list[i].originalPrice})
                                <span class="pro-store">NT. $({$data.list[i].originalPrice})</span>
                            ({/if})
                            ({if $member && $data.list[i].memberPrice})
                                <span class="pro-price">NT. $({$data.list[i].memberPrice}) </span>
                            ({else if $data.list[i].specialPrice})
                                <span class="pro-price">NT. $({$data.list[i].specialPrice}) </span>
                            ({else})
                                <span class="pro-price">NT. $({$data.list[i].originalPrice})</span>
                            ({/if})

({if count($specificationsID)>1})
<!-- 多規格 -->

<div class="cart">
    ({if ($stock|array_sum)>0})
        <a href="javascript:;"
            data-toggle="modal" 
            data-target="#addcartModal({$data.list[i].id})" 
            onclick="
                        $('#sidr-left').hide();
                        $('#count({$data.list[i].id})').data('specifications','').val('1');
                        $('.specs li').removeClass('current');
                    "> 
             + 購物車
        </a>
    ({else})
        <a href="javascript:;" disable> 補貨中</a>
    ({/if})
</div>

<!-- Modal -->
<div class="addcart-box modal fade" id="addcartModal({$data.list[i].id})" tabindex="-1" role="dialog" aria-labelledby="addcartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">({$data.list[i].name})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body container">
                <div class="row align-items-center">
                    <div class="col-3"><img src="({$data.list[i].pictureList})" class="addcart-img" alt=""></div>
                    <div class="col-9">
                        <div class="price text-left">
                            ({if $data.list[i].originalPrice})
                                <div class="h6">售 價：NT$({$data.list[i].originalPrice})</div>
                            ({/if})
                            ({if $data.list[i].specialPrice})
                                <div class="h5">優惠價：NT$({$data.list[i].specialPrice})</div>
                            ({/if})
                            ({if $data.list[i].memberPrice})
                                <div class="h4 text-danger">會員價：NT$({$data.list[i].memberPrice})</div>
                            ({/if})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="spec-title text-left">規格 <span class="contact-note"> ( ※ 請選擇 <i class="fa fa-magic" aria-hidden="true"></i> )</span></div>
                        <ul class="specs">
                            ({assign var="specificationsID" value="|__|"|explode:$data.list[i].specificationsID})
                            ({assign var="specifications" value="|__|"|explode:$data.list[i].specifications})
                            ({assign var="stock" value="|__|"|explode:$data.list[i].stock})
                            
                            ({section name=j loop=$specificationsID})
                                <li ({if !$stock[j]})disable({else})onclick="$('#count({$data.list[i].id})').data('specifications','({$specificationsID[j]})');"({/if})>({$specifications[j]})</li>
                            ({/section})
                        </ul>
                    </div>
                </div>
                <div class="addcart-qty row">
                    <div class="quantity-title col-12 col-md-5">
                       
                        <!-- 購買數量增減模組 Begin -->
                         <div class="input-group mb-3"> 
                            <div class="input-group-prepend"> <span class="input-group-text" id="minus({$data.list[i].id})"><i class="fa fa-minus"></i></span> </div>
                            <input type="text" class="form-control text-center" value="1" maxlength="4" id="count({$data.list[i].id})" data-productid="({$data.list[i].id})" data-specifications="">
                            <div class="input-group-append"> <span class="input-group-text" id="plus({$data.list[i].id})"><i class="fa fa-plus"></i></span> </div>
                        </div>
                        <script>
                            $('#plus({$data.list[i].id})').click(function(){
                                var count = parseInt($('#count({$data.list[i].id})').val()) + 1;
                                if(count>9999) count = 9999;
                                $('#count({$data.list[i].id})').val(count);
                            });
                            
                            $('#minus({$data.list[i].id})').click(function(){
                                var count = parseInt($('#count({$data.list[i].id})').val()) - 1;
                                if(count<1) count = 1;
                                $('#count({$data.list[i].id})').val(count);
                            });
                        </script>

                    </div>
                    <!-- 購買數量增減模組 end -->
                    <div class="col-6 col-md-3"></div>
                    <div class="col-6 col-md-4">
                        <a href="javascript:;" onclick="
                                if(shoppingAddProduct( $('#count({$data.list[i].id})') )){
                                    $('#sidr-left').show();
                                    $('#addcartModal({$data.list[i].id})').modal('hide');
                                }
                                " class="btn btn-danger">加入購物車</a>
                    </div>
                    <!--<div class="col-6 col-md-3"><a href="javascript:;" class="btn btn-danger" data-dismiss="modal">立即結帳</a></div>-->
                </div>
            </div>
        </div>
    </div>
</div>

({else})
<!-- 規格只有1個 -->
<div class="cart">
    <input type="hidden" value="1" id="count({$data.list[i].id})" data-productid="({$data.list[i].id})" data-specifications="({$specificationsID[0]})">
    ({if $data.list[i].stock>0})
        <a href="javascript:;" onclick="$('#sidr-left').show();shoppingAddProduct($('#count({$data.list[i].id})'));"> + 購物車</a>
    ({else})
        <a href="javascript:;" disable> 補貨中</a>
    ({/if})
</div>

({/if})
                        </li><!-- 產品 end -->

                        ({/section})
                    </ul>
                </div>
                <script src="js/images.js" type="text/javascript"></script><!-- 圖片等比例縮放 -->
                <style>.pro-photo img.index-pro-img {max-height:100%; max-width:100%;}</style>
                <!-- 頁次模組 -->
                <div class="page">({$data.page})</div>
            </div><!-- 左欄 EDN -->
        ({else})
            <div class="col-sm">
                <!-- 右欄 -->
                <h3 class="page-title">({$data.oneClass.name})</h3>
                <div class="pro-detaile clearfix">
                    <!-- 產品明細 -->
                    <h3 class="pro-detaile-title">({$data.one.name})</h3>
                    <!-- 產品標題 -->
                    <div class="pro-detaile-box">
                        <!-- 明細上半區塊 -->
                        <div class="pro-detaile-photo-box">
                            <!-- 明細區塊左邊  -->
                            <script src="js/jquery-easingpack.js"></script>
                            <script src="js/jquery-easing-compatibilitypack.js"></script>
                            <script src="js/coda-sliderpack.js"></script>
                            <script src="js/pro-images.js"></script>
                            <div class="pro-photo-box slider-wrap clearfix">
                                <!-- 產品大圖 -->
                                <div id="main-photo-slider" class="csw">
                                    <div class="panelContainer">
                                        ({section name=i loop=$data.one.picture})
                                        <div class="panel">
                                            <div class="wrapper"><img src="({$data.one.picture[i]})" alt=="({$data.one.pictureAlt[i]})"></div>
                                        </div>
                                        ({/section})
                                    </div>
                                </div>
                                <div id="movers-row">
                                    ({section name=i loop=$data.one.picture})
                                        <div><a class="cross-link" href="#({$smarty.section.i.index+1})"><img class="nav-thumb" src="({$data.one.picture[i]})"></a></div>
                                    ({/section})
                                </div>
                            </div>
                            <!-- 產品大圖 END -->
                        </div>
                        <!-- 產品明細左欄 EDN -->
                        <div class="pro-detaile-spe-box">
                            <!-- 明細區塊右邊  -->
                            <div class="pro-list-time">上架時間 ({$data.one.release_date|date_format:"%Y-%m-%d"})</div>
                            <!-- 上架時間 -->
                            <div class="pro-specification">
                                <!-- 簡介 -->
                                ({$data.one.memo})
                            </div>
                            <div class="cart-info">
                                <!-- 售價與購物車按鈕 -->
                                <div class="price">
                                    <div class="price special">
                                        ({if $data.one.originalPrice})
                                            <div class="price origin">原價 NT$({$data.one.originalPrice})</div>
                                        ({/if})
                                        ({if $data.one.specialPrice})
                                            優惠價 NT$({$data.one.specialPrice})
                                        ({/if})
                                    </div>
                                    ({if $data.one.memberPrice})
                                        會員價 NT$({$data.one.memberPrice})
                                    ({/if})
                                </div>
({if count($data.one.specificationsID)>1})
    <div class="addcart-box ">
        <div class="col">
            <div class="spec-title text-left">規格 <span class="contact-note"> ( ※ 請選擇 <i class="fa fa-magic" aria-hidden="true"></i> )</span></div>
            <ul class="specs">                            
                ({section name=j loop=$data.one.specificationsID})
                    <li ({if !$data.one.stock[j]})disable({else})onclick="$('#count').data('specifications','({$data.one.specificationsID[j]})');"({/if})>({$data.one.specifications[j]})</li>
                ({/section})
            </ul>
        </div>
    </div>
    <div class="qtynspec">
        <div class="quantity">
            <div class="quantity-title">數量</div>
            <!-- 購買數量增減模組 Begin -->
            <div class="qtyInputBox">
                <!-- 購買數量增減模組 Begin -->
                <span class="input-group-btn">
                    <button id="minus"><i class="fa fa-minus"></i></button>
                </span>
                <input type="text" value="1" maxlength="5" id="count" data-productid="({$data.one.id})" data-specifications="">
                <span class="input-group-btn">
                    <button id="plus"><i class="fa fa-plus"></i></button>
                </span>
                <!-- 購買數量增減模組 End -->
            </div>
            <script>
                $('#plus').click(function(){
                    var count = parseInt($('#count').val()) + 1;
                    if(count>9999) count = 9999;
                    $('#count').val(count);
                });
                
                $('#minus').click(function(){
                    var count = parseInt($('#count').val()) - 1;
                    if(count<1) count = 1;
                    $('#count').val(count);
                });
            </script>
        </div>
    </div> 
    <div class="add-to-cart">
        ({if ($data.one.stock|array_sum)>0})
            <a href="javascript:;" onclick="
                if(shoppingAddProduct( $('#count') )){
                    $('#sidr-left').show();
                }
                "> + 購物車</a>
        ({else})
            <a href="javascript:;" disable> 補貨中</a>
        ({/if})
    </div>
({else})
    <div class="qtynspec">
        <div class="quantity">
            <div class="quantity-title">數量</div>
            <!-- 購買數量增減模組 Begin -->
            <div class="qtyInputBox">
                <!-- 購買數量增減模組 Begin -->
                <span class="input-group-btn">
                    <button id="minus"><i class="fa fa-minus"></i></button>
                </span>
                <input type="text" value="1" maxlength="5" id="count" data-productid="({$data.one.id})" data-specifications="({$data.one.specificationsID.0})">
                <span class="input-group-btn">
                    <button id="plus"><i class="fa fa-plus"></i></button>
                </span>
                <!-- 購買數量增減模組 End -->
            </div>
            <script>
                $('#plus').click(function(){
                    var count = parseInt($('#count').val()) + 1;
                    if(count>9999) count = 9999;
                    $('#count').val(count);
                });
                
                $('#minus').click(function(){
                    var count = parseInt($('#count').val()) - 1;
                    if(count<1) count = 1;
                    $('#count').val(count);
                });
            </script>
        </div>
    </div> 
    <div class="add-to-cart">
        ({if $data.one.stock>0})
            <a href="javascript:;" onclick="
                if(shoppingAddProduct( $('#count') )){
                    $('#sidr-left').show();
                }
                "> + 購物車</a>
        ({else})
            <a href="javascript:;" disable> 補貨中</a>
        ({/if})
    </div>
({/if})
                            </div>
                        </div>
                            <!-- 明細區塊右邊 END  -->
                    </div>
                    <!-- 產品明細上半區塊 -->
                    <h3 class="pro-introduce">商品介紹</h3>
                    <div class="pro-content">({$data.one.detail})</div>
                    <!-- 產品內文 END -->
                </div>
                <!-- 產品明細 END  -->
                <!-- 頁次模組 -->
                <div class="page"><a href="javascript:history.back();">回上一頁</a></div>
            </div>
                <!-- 右邊區塊 -->
        ({/if})
        </div>
            <!-- InstanceEndEditable -->
    </div>
        <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})