({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">購物車 / Shopping car</div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="col-sm">
                <div class="steps clearfix">
                    <div class="step"><span class="badge"><span class="text">1</span></span> <span>購物車</span></div>
                    <div class="step active"><span class="badge"><span class="text">2</span></span> <span>填寫資料</span></div>
                    <div class="step"><span class="badge"><span class="text">3</span></span> <span>訂單確認</span></div>
                </div>
                <h3 class="page-title">填寫資料</h3>
                <div class="section-body">
                    <div class="shopping-list-toc">合計：NT$({$data.order.total+$data.order.freight})</div>
                    <div class="shopping-list-more">購物車(({count($data.orderList)})件) <i class="fa fa-question-circle" aria-hidden="true"></i></div>
                    <!-- 購物清單 -->
                    <div class="shopping-car" style="display:none;">
                        <ul class="shopping-car-list">
                            <li class="row">
                                <div class="shopping-car-content o-col-sm-5"><b>商品資料</b></div>
                                <div class="shopping-car-content o-col-sm-2"><b>價 格</b></div>
                                <div class="shopping-car-content o-col-sm-2"><b>數 量</b></div>
                                <div class="shopping-car-content o-col-sm-3"><b>小 計</b></div>
                            </li>
                                ({section name=i loop=$data.orderList})

                                <li class="row align-items-center">
                                    <div class="shopping-car-content shop-car-info o-col-sm-5">
                                        <a href="({$web.main_url})/product/({$data.orderList[i].productId})" target="_blank" class="pro-photo"><img src="({$data.orderList[i].picture})" alt=""/></a>
                                        <div class="description">
                                            <div class="shop-car-info-title">({$data.orderList[i].name})({if "default" != $data.orderList[i].specificationsName})(({$data.orderList[i].specificationsName}))({/if})</div>
                                        </div>
                                    </div>
                                    <div class="shopping-car-content shop-car-price o-col-sm-2">NT$({$data.orderList[i].price})({if $data.orderList[i].price<$data.orderList[i].onlineProduct.originalPrice})<span class="original-price">NT$({$data.orderList[i].onlineProduct.originalPrice})</span>({/if})</div>
                                    <div class="shopping-car-content shop-car-quantity o-col-sm-2">
                                        <div class="qtyInputBox b1"> 
                                          <!-- 購買數量增減模組 Begin --> 
                                          <span class="input-group-btn">
                                          <button disabled=""><i class="fa fa-minus"></i></button>
                                          </span>
                                          <input type="text" value="({$data.orderList[i].count})" maxlength="5" disabled="">
                                          <span class="input-group-btn">
                                          <button disabled=""><i class="fa fa-plus"></i></button>
                                          </span> 
                                          <!-- 購買數量增減模組 End --> 
                                        </div>
                                    </div>
                                    <div class="shopping-car-content shop-car-subtotal o-col-sm-3">NT$({$data.orderList[i].price*$data.orderList[i].count})</div>
                                </li>
                                    ({if $data.orderList[i].onlineProduct.addProduct})
                                        ({section name=j loop=$data.orderList[i].onlineProduct.addProduct.id})

({section name=addI loop=$data.orderList[i].addProductList})
    ({if $data.orderList[i].addProductList[addI].productId==$data.orderList[i].onlineProduct.addProduct.id[j] && $data.orderList[i].addProductList[addI].specifications==$data.orderList[i].onlineProduct.addProduct.specifications[j]})
        ({assign var="tempCount" value=$data.orderList[i].addProductList[addI].count})
    ({/if})
({/section})
                                            <input type="hidden" 
                                                value="({if $tempCount})({$tempCount})({else})1({/if})" 
                                                id="count({$smarty.section.i.index})_({$smarty.section.j.index})" 
                                                data-productid="({$data.orderList[i].productId})" 
                                                data-addproductid="({$data.orderList[i].onlineProduct.addProduct.id[j]})" 
                                                data-specifications="({$data.orderList[i].onlineProduct.addProduct.specifications[j]})"
                                            >

<li class="addcontainer row align-items-center">
    <h1 class=" o-col-sm-auto">加價購</h1>
    <div class="shopping-car-content shop-car-info col">
        <a target="_blank" class="pro-photo"><img src="({$data.orderList[i].onlineProduct.addProduct.online[j].pictureList})" alt="" /></a>
        <div class="description">
            <div class="shop-car-info-title">好康◆加購價$({$data.orderList[i].onlineProduct.addProduct.addProductMoney[j]})(原價$({$data.orderList[i].onlineProduct.addProduct.online[j].originalPrice}))◆</div>
            <div class="spec"></div>
            <label><input disabled type="checkbox" ({if $tempCount>0})checked({/if}) onclick="if($(this).prop('checked')) {shoppingAddAddProduct($('#count({$smarty.section.i.index})_({$smarty.section.j.index})'));}else {shoppingRmAddProduct($('#count({$smarty.section.i.index})_({$smarty.section.j.index})'),false);}"> <b>我要加<span class="addc-price">$({$data.orderList[i].onlineProduct.addProduct.addProductMoney[j]})</span>買 ({$data.orderList[i].onlineProduct.addProduct.online[j].name})</b></label>
        </div>
    </div>
    <div class="shopping-car-content shop-car-quantity o-col-sm-2">
        <select class="Qty" onchange="$('#count({$smarty.section.i.index})_({$smarty.section.j.index})').val(this.value);shoppingAddEditCount($('#count({$smarty.section.i.index})_({$smarty.section.j.index})'));" disabled>
            ({for $c=1 to $data.orderList[i].onlineProduct.addProduct.maxCount[j]})
                <option class="Qty" value="({$c})" ({if $c==$tempCount})selected({/if})>({$c})</option>
            ({/for})
        </select>
    </div>
    <div class="shopping-car-content shop-car-subtotal o-col-sm-2">NT$({$data.orderList[i].onlineProduct.addProduct.addProductMoney[j]*$tempCount})</div>
</li>
                                           
                                        ({/section})
                                    ({/if})
                                ({/section})
                        </ul>
                    </div>
                    <script type="text/javascript">
                    $(document).ready(function() {
                        $(".shopping-list-more").click(function() {
                            $(".shopping-car").slideToggle("20");
                            $(this).css("transform", "180deg");
                        });
                    });
                    </script>
                </div>
                <form action="" method="POST">
                    <div class="shopping-car-add row">
                        <div class="col-sm">
                            <h3 class="page-title">訂購人</h3>
                            <div class="form-box">
                                <span class="contact-note">* 為必填項目</span>
                                <div class="opinion"> <span class="opinion-left01">姓名*</span>
                                    <input type="text" class="input-main-style01" placeholder="姓名" value="({$member.name})" name="BuyName" required data-text="訂購人姓名">
                                </div>
                                <div class="opinion"> <span class="opinion-left01">電子郵件*</span>
                                    <input type="text" class="input-main-style01" placeholder="xxx@xxx.xxx" value="({$member.account})" name="BuyEmail" required data-text="電子信箱" data-check="Email">
                                </div>
                                <div class="opinion clearfix"> <span class="opinion-left01">聯絡地址 * </span>
                                    <div class="input-main-select" id="twzipcode">
                                        <script>
                                        $('#twzipcode').twzipcode({
                                            'countyName': 'BuyAddress[0]',
                                            'districtName': 'BuyAddress[1]',
                                            'zipcodeName': 'BuyAddress[2]',
                                            'zipcodeIntoDistrict': true,
                                            'countySel'   : '({$member.address[0]})',
                                            'districtSel' : '({$member.address[1]})',
                                            'zipcodeSel' : '({$member.address[2]})'
                                        });
                                        $('#twzipcode').find('select').attr('required', true);
                                        $('#twzipcode').find('select[name="BuyAddress[0]"]').attr('data-text', "聯絡地址-縣市");
                                        $('#twzipcode').find('select[name="BuyAddress[1]"]').attr('data-text', "聯絡地址-鄉鎮市區");
                                        </script>
                                        <input type="text" placeholder="聯絡地址" class="input-main-style03" name="BuyAddress[3]" data-text="聯絡地址" value="({$member.address[3]})" required>
                                    </div>
                                </div>
                                <div class="opinion"> <span class="opinion-left01">電話號碼</span>
                                    <input type="text" placeholder="電話號碼" data-text="電話號碼" class="input-main-style01" name="BuyCellPhone" value="({$member.cellPhone})">
                                </div>
                                <div class="opinion"> <span class="opinion-left01">手機號碼</span>
                                    <input type="text" placeholder="手機號碼" data-text="手機號碼"  class="input-main-style01" name="BuyPhone" value="({$member.phone})">
                                </div>
                            </div>
                            <h3 class="page-title">訂單備註</h3>
                            <div class="form-box clearfix">
                                <textarea rows="5" class="input-style01" type="text" placeholder="有什麼想告訴賣家嗎？" name="memo"></textarea>
                            </div>
                            <h3 class="page-title">付款資料</h3>
                            <div class="page-main">已選擇的付款方式：({$data.order.paymentTitle}) </div>
                            <div class="font_006">({$data.order.paymentText|nl2br})</div>
                            <div class="page-main">已選擇的送貨方式：({$data.order.shipmentTitle}) </div>
                            <div class="font_006">({$data.order.shipmentText|nl2br})</div>
                        </div>
                        <div class="col-sm">
                            <h3 class="page-title">收件人</h3>
                            <div class="form-box">
                                <label class="control-label"><input type="checkbox" id="sameDataCheckbox" onclick="sameData();"> 同訂購人</label>
                                <script>
                                  function sameData() {
                                      if ($('#sameDataCheckbox:checked').length > 0) {
                                          $('input[name="ReceiverName"]').val($('input[name="BuyName"]').val());
                                          $('input[name="ReceiverEmail"]').val($('input[name="BuyEmail"]').val());
                                          $('input[name="ReceiverPhone"]').val($('input[name="BuyCellPhone"]').val());
                                          $('input[name="ReceiverSex"][value="'+$('input[name="BuySex"]').val()+'"]').attr('checked',true);
                                          $('input[name="ReceiverZip"]').val($('input[name="BuyZip"]').val());
                                          $('input[name="ReceiverAddress"]').val($('input[name="BuyAddress"]').val());
                                          $('input[name="ReceiverCellPhone"]').val($('input[name="BuyPhone"]').val());
                                          $('input[name="ReceiverAddress[3]"]').val($('input[name="BuyAddress[3]"]').val());
                                          $('select[name="ReceiverAddress[0]"]').val($('select[name="BuyAddress[0]"]').val());
                                          $('select[name="ReceiverAddress[0]"]').change();
                                          $('select[name="ReceiverAddress[1]"]').val($('select[name="BuyAddress[1]"]').val());
                                          $('select[name="ReceiverAddress[2]"]').val($('select[name="BuyAddress[2]"]').val());
                                      }
                                  }
                                </script>
                                <span class="contact-note">* 為必填項目</span>
                                <div class="opinion"> <span class="opinion-left01">姓名*</span>
                                    <input type="text" name="ReceiverName" placeholder="收(取)貨人 姓名" class="input-main-style01" data-text="收(取)貨人 姓名" required>
                                </div>
                                <div class="opinion"> <span class="opinion-left01">電子郵件 *</span>
                                    <input type="text" name="ReceiverEmail" placeholder="收(取)貨人 電子郵件" class="input-main-style01" data-text="收(取)貨人 電子郵件" required>
                                </div>
                                <div class="opinion clearfix"> <span class="opinion-left01">聯絡地址 * </span>
                                    <div class="input-main-select" id="twzipcode1">
                                        <script>
                                        $('#twzipcode1').twzipcode({
                                            'countyName': 'ReceiverAddress[0]',
                                            'districtName': 'ReceiverAddress[1]',
                                            'zipcodeName': 'ReceiverAddress[2]',
                                            'zipcodeIntoDistrict': true
                                        });
                                        $('#twzipcode1').find('select').attr('required', true);
                                        $('#twzipcode1').find('select[name="ReceiverAddress[0]"]').attr('data-text', "收(取)貨人 聯絡地址-縣市");
                                        $('#twzipcode1').find('select[name="ReceiverAddress[1]"]').attr('data-text', "收(取)貨人 聯絡地址-鄉鎮市區");
                                        </script>
                                        <input type="text" placeholder="收(取)貨人 聯絡地址" class="input-main-style03" name="ReceiverAddress[3]" data-text="收(取)貨人 聯絡地址" required>
                                        
                                    </div>
                                </div>
                                <div class="opinion"> <span class="opinion-left01">電話號碼</span>
                                    <input type="text" name="ReceiverPhone" placeholder="收(取)貨人 電話號碼" class="input-main-style01" data-text="收(取)貨人 電話號碼" >
                                </div>
                                <div class="opinion"> <span class="opinion-left01">手機號碼*</span>
                                    <input type="text" placeholder="收(取)貨人 手機號碼" name="ReceiverCellPhone" data-check="SenderCellPhone" class="input-main-style01" data-text="收(取)貨人 手機號碼" required>
                                </div>
                                ({include "module/orderField_style01.html"})
                            </div>
                            <h3 class="page-title">發票資料</h3>
                            <div class="form-box clearfix">
                                <div class="opinion clearfix"> <span class="opinion-left01">索取發票</span>
                                    <select class="input-main-style01" name="invoiceType">
                                        <option selected="selected" value="二聯式">二聯式</option>
                                        <option value="三聯式">三聯式</option>
                                    </select>
                                </div>
                                <div class="opinion clearfix"> <span class="opinion-left01">載具類型</span>
                                    <select class="input-main-style01" name="vehicleType">
                                        <option selected="selected" value="隨貨寄送">隨貨寄送</option>
                                        <option value="捐贈發票">捐贈發票</option>
                                    </select>
                                </div>
                                <div class="opinion clearfix"> <span class="opinion-left01">公司抬頭</span>
                                    <input type="text" placeholder="公司抬頭" name="companyName" class="input-main-style01">
                                </div>
                                <div class="opinion clearfix"> <span class="opinion-left01">公司統編</span>
                                    <input type="text" placeholder="公司統編" name="companyGUINumber" class="input-main-style01">
                                </div>
                            </div>

                            ({if $data.needMap})
                                <h3 class="page-title">超商資料</h3>
                                
                                <div class="form-box clearfix">
                                    <!-- <a class="btn-send" href="javascript:;" onclick="changeMap();return false;">請選擇超商</a>   -->
                                <i class="fas fa-hand-point-left" style="font-size:24px;color:#f00">  </i>
                            
                                    <div class="opinion clearfix"> <span class="opinion-left01">超商店號</span>
                                        <input type="text" onclick="changeMap();return false;" readonly required placeholder="超商店號" name="CVSStoreID" data-text="超商店號" class="input-main-style01">
                                        <a class="btn openlink" href="javascript:;" onclick="changeMap();return false;" style="padding:5px 10px;"><i class="fa fa-magic" aria-hidden="true"></i> 請選擇超商</a>
                                    </div>

                                    <!-- <div class="opinion clearfix"> <span class="opinion-left01">超商店號</span>
                                        <input type="text" readonly required placeholder="超商店號" name="CVSStoreID" data-text="超商店號" class="input-main-style01">
                                    </div> -->
                                    <div class="opinion clearfix"> <span class="opinion-left01">超商名稱</span>
                                        <input type="text" readonly required placeholder="超商名稱" name="CVSStoreName" data-text="超商名稱" class="input-main-style01">
                                    </div>
                                    <div class="opinion clearfix"> <span class="opinion-left01">超商地址</span>
                                        <input type="text" readonly required placeholder="超商地址" name="CVSAddress" data-text="超商地址" class="input-main-style01">
                                    </div>
                                </div>
                                <script>
                                    function mapLoad(){
                                        $('input[name="CVSStoreID"]').val(mapData.CVSStoreID);
                                        $('input[name="CVSStoreName"]').val(mapData.CVSStoreName);
                                        $('input[name="CVSAddress"]').val(mapData.CVSAddress);
                                    }
                                    function changeMap(){
                                        window.open(_jsPath+'/shopping/map'
                                                    , 'ECPayMap'
                                                    , config='height=800,width=1200,left='+(window.screen.width-1200)/2+',top='+(window.screen.height-800)/2);
                                    }
                                </script>
                            ({/if})
                        </div>
                    </div>
                    ({$console->getToken()})
                </form>


                <div class="cart-btn">
                    <a href="({$web.main_url})/({$console->path[0]})/1" class="btn-reset">返回購物車</a>
                    <a href="javascript:;" onclick="formSubmit(0);return false;" class="btn-send">提交訂單</a>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})