({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner">
    <div class="banner-title">購物車 / Shopping car</div>
</div>
<!-- InstanceEndEditable -->
<!-- 內容 -->
<div class="warpper">
    <!-- 編輯區 -->
    <div class="main">
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body row">
            <div class="col-sm">
                <div class="steps clearfix">
                    <div class="step"><span class="badge"><span class="text">1</span></span> <span>購物車</span></div>
                    <div class="step"><span class="badge"><span class="text">2</span></span> <span>填寫資料</span></div>
                    <div class="step active"><span class="badge"><span class="text">3</span></span> <span>訂單確認</span></div>
                </div>
                <div class="jump-window-box">
                    <h3 class="page-title">結帳完成</h3>
                    <div class="form-box">
                        <h3>您的訂單已送出，請耐心等候商品送達。</h3>
                        <div class="cart-btn"><a href="({$web.main_url})/member/order" class="btn-send">訂單查詢</a></div>
                    </div>
                    <!-- 右欄 END -->
                </div>
                <!-- 右欄 END -->
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 end -->
</div>
<!-- 內容 end -->
({include "foor.html"})