<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>({$data.mailTitle})</title>
</head>

<body>
    <span style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block; ">親愛的 ({$member.name}) 先生/小姐 您好：</span>
    <span style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block; ">請<a href="({$data.checkUrl})">點選</a>重新設定密碼</span>
    <p style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block;">請您妥善保管好您的密碼,謝謝！</p>
    <p style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block;">如連結無法點擊，請複製以下網址</p>
    ({$data.checkUrl})
</body>

</html>