<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>訂單確認-通知訂貨人</title>
</head>

<body>
    <span style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block; ">親愛的 ({if $member.name})({$member.name})({else})({$order.formData.BuyName})({/if}) 先生/小姐 您好：</span>
    <span style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block; ">您在「<a href="({$data.webUrl})">({$data.webName})</a>」於({$order.create_date})，完成訂購，此次購物明細表如下：</span>
    <span style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block; ">訂單編號：({$order.orderNumber})</span>
    <table width="100%" border="0" cellspacing="5" cellpadding="1" bgcolor=" #EDEDED" style="border:1px solid #000;">
        <tbody>
            <tr>
                <td bgcolor="#ffffff" style="font-family:Microsoft JhengHei;color: #000; font-size: 13px;">
                    <table width="100%" border="0" cellspacing="1" cellpadding="5">
                        <tbody>
                            <tr>
                                <td width="80" align="center" bgcolor="#010101">
                                    <font color="#ffffff">購物編號</font>
                                </td>
                                <td align="center" bgcolor="#010101">
                                    <font color="#ffffff">商品名稱</font>
                                </td>
                                <td width="40" align="center" bgcolor="#010101">
                                    <font color="#ffffff">數量</font>
                                </td>
                                <td width="60" align="center" bgcolor="#010101">
                                    <font color="#ffffff">單價</font>
                                </td>
                            </tr>
                            ({section name=i loop=$orderList})
	                            <tr>
	                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">ID ({$orderList[i].id})</td>
	                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;"><!-- <img style="max-height: 45px; max-width: 45px;" src="({$data.webUrl})({$orderList[i].picture})"> -->({$orderList[i].name})</td>
	                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$orderList[i].count})</td>
	                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$orderList[i].price})</td>
	                            </tr>
                                ({if isset($orderList.addList)})
                                    ({section name=j loop=$orderList.addList})
			                            <tr>
			                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">+  ({$orderList[i].addList[j].id})</td>
			                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;"><!-- <img style="max-height: 45px; max-width: 45px;" src="({$data.webUrl})({$orderList[i].addList[j].picture})"> -->({$orderList[i].addList[j].name})</td>
			                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$orderList[i].addList[j].count})</td>
			                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$orderList[i].addList[j].price})</td>
			                            </tr>
                                    ({/section})
                                ({/if})
                            ({/section})
                            <tr>
                                <td align="center" bgcolor="#F3F3F3" style=" border-bottom: 1px #E7E7E7 solid;">&nbsp;</td>
                                <td bgcolor="#F3F3F3" style=" border-bottom: 1px #E7E7E7 solid;">&nbsp;</td>
                                <td align="center" bgcolor="#F3F3F3" style=" border-bottom: 1px #E7E7E7 solid;">小計</td>
                                <td align="center" bgcolor="#F3F3F3" style=" border-bottom: 1px #E7E7E7 solid;">({$order.total})</td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">&nbsp;</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">&nbsp;</td>
                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">運費</td>
                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.freight})</td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">&nbsp;</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">&nbsp;</td>
                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">
                                    <font color="#D14B4D">總價</font>
                                </td>
                                <td align="center" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">
                                    <font color="#D14B4D">({$order.total+$order.freight})</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <table width="100%" border="0" cellspacing="1" cellpadding="5" class="style-table01">
                        <tbody>
                            <tr>
                                <td width="100" align="right" bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">付款方式</td>
                                <td bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">({$data["paymentTitle"][$order.paymentMethod]})</td>
                            </tr>
                            <tr>
                                <td width="100" align="right" bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">送貨方式</td>
                                <td bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">({$data["shipmentTitle"][$order.shipmentMethod]})</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="1" cellpadding="5" class="style-table01">
                        <tbody>
                            <tr>
                                <td width="100" align="right" bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">訂購人</td>
                                <td bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.BuyName})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">訂購人E-mail</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.BuyEmail})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">訂購人電話</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.BuyPhone})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">訂購人地址</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.BuyAddress[0]})({$order.formData.BuyAddress[1]})({$order.formData.BuyAddress[2]})({$order.formData.BuyAddress[3]})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">備註</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.memo})</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="1" cellpadding="5" class="style-table01">
                        <tbody>
                            <tr>
                                <td width="100" align="right" bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">收件人</td>
                                <td bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.ReceiverName})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">收件人E-mail</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.ReceiverEmail})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">收件人電話</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.ReceiverCellPhone})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">收件人地址</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.ReceiverAddress[0]})({$order.formData.ReceiverAddress[1]})({$order.formData.ReceiverAddress[2]})({$order.formData.ReceiverAddress[3]})</td>
                            </tr>
                        </tbody>
                    </table>

                    ({if $order.formData.CVSStoreID})
	                    <table width="100%" border="0" cellspacing="1" cellpadding="5" class="style-table01">
	                        <tbody>
	                            <tr>
	                                <td width="100" align="right" bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">超商店號</td>
	                                <td bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.CVSStoreID})</td>
	                            </tr>
	                            <tr>
	                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">超商名稱</td>
	                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.CVSStoreName})</td>
	                            </tr>
	                            <tr>
	                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">超商地址</td>
	                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.CVSAddress})</td>
	                            </tr>
	                        </tbody>
	                    </table>
               		({/if})
                    <table width="100%" border="0" cellspacing="1" cellpadding="5" class="style-table01">
                        <tbody>
                            <tr>
                                <td width="100" align="right" bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">索取發票</td>
                                <td bgcolor="#EDEDED" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.invoiceType})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">載具類型</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.vehicleType})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">公司抬頭</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.companyName})</td>
                            </tr>
                            <tr>
                                <td align="right" bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">公司統編</td>
                                <td bgcolor="#FFFFFF" style=" border-bottom: 1px #E7E7E7 solid;">({$order.formData.companyGUINumber})</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <span style="font-size:15px; color: #6C5F25; font-family:Microsoft JhengHei; padding-bottom: 10px; display: block; ">如果有任何問題請與管理員聯繫(<a href="mailto:({$data.webEmail})">({$data.webEmail})</a>)！</span>
</body>

</html>