<footer id="footer">
    <!-- 底部 -->
    <div class="footer">
        <div class="f-information">
            <div class="f-logo"><img src="images/f-logo.png" alt="" /></div>
            <div class="f-content">
                <div class="f-title">漢易科技有限公司</div>
                <i class="fa fa-phone" aria-hidden="true"></i>({$web.companyPhone})<i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:({$web.companyEmail})">({$web.companyEmail})</a>
                <br>
                <i class="fa fa-map" aria-hidden="true"></i>({$web.companyAddress})
            </div>
        </div>
        <div class="copyright">COPYRIGHT © 2018 漢易 Technology Co,.Ltd ALL RIGHTS RESERVED.
            <div class="wd"><a href="https://www.104portal.com.tw/" target="_blank">DESIGN-VIPCASE</a></div>
        </div>
    </div>
</footer>
<script src="js/jquery.slicknav.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#menu').slicknav();
});
</script>
<script src="js/jquery.sidr.min.js"></script>
<script>
$(document).ready(function() {
    /*
        $('#left-menu2').sidr({
          name: 'sidr-left',
          side: 'left' // By default
        });
      */
    $('[id="left-menu"]').each(function(idx, obj) {
        $(obj).sidr({
            name: 'sidr-left',
            side: 'left' // By default
        });
    });

    $('#left-menu2').sidr({
        name: 'sidr-left',
        side: 'left' // By default
    });

    $('#right-menu').sidr({
        name: 'sidr-right',
        side: 'right'
    });
});
</script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- 卷軸 -->
<script>
(function($) {
    $(window).on("load", function() {
        $("#content-4").mCustomScrollbar({
            theme: "rounded-dots",
            scrollInertia: 400
        });
    });
})(jQuery);
</script>
</body>
<!-- InstanceEnd -->

</html>