({include "top.html"})
<div class="inside-banner" style=" background-image: url(images/banner006.jpg);">
    <div class="banner-title">
        <div class="banner-ch">會員專區</div>
        <div class="banner-en">Member</div>
    </div>
</div>
<!-- InstanceEndEditable -->
<div class="warpper">
    <div class="main clearfix">
        <!-- 編輯區 -->
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body clearfix">
            <div class="member-login-box bg-gary-whrite">
                <h3 class="page-title">註冊條款</h3>
                <div class="cor-100 col-m">
                    <div class="member-terms content" id="content-4">
                        ({$data.one})
                    </div>
                    <div class="cart-btn">
                        <a href="({$console->path[0]})/join" class="btn-send">同意</a>
                        <a href="({$console->path[0]})/index" class="btn-reset">不同意</a></div>
                </div>
                <!-- 右欄 END -->
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 END -->
</div>
({include "foor.html"})