({include "top.html"})
<div class="inside-banner" style=" background-image: url(images/banner005.jpg);">
  <div class="banner-title">
     <div class="banner-ch">購物須知</div>
     <div class="banner-en">Shopping</div>
  </div>
</div>
<!-- InstanceEndEditable -->
<div class="warpper">
  <div class="main clearfix"><!-- 編輯區 --> 
    <!-- InstanceBeginEditable name="EditRegion1" -->
    <div class="content-body clearfix">
   
     
     <div class="cor-100 col-m">
       <div class="page-main">
            ({$data.one.detail})
       </div>
     
     
      </div> <!-- 右欄 END -->
      
      
    </div>
  <!-- InstanceEndEditable --> </div>
  <!-- 編輯區 END --> 
</div>



({include "foor.html"})