({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner" style=" background-image: url(images/banner005.jpg);">
    <div class="banner-title">
        <div class="banner-ch">購物車</div>
        <div class="banner-en">Shopping Car</div>
    </div>
</div>
<!-- InstanceEndEditable -->
<div class="warpper">
    <div class="main clearfix">
        <!-- 編輯區 -->
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body clearfix">
            <div class="steps clearfix">
                <div class="step"><span class="badge"><span class="text">1</span></span> <span>購物車</span></div>
                <div class="step"><span class="badge"><span class="text">2</span></span> <span>填寫資料</span></div>
                <div class="step active"><span class="badge"><span class="text">3</span></span> <span>完成訂單</span></div>
            </div>
            <div class="jump-window-box bg-gary-whrite">
                <h3 class="page-title">結帳完成</h3>
                <div class="form-box clearfix">
                    <div class="form-box clearfix">
                        <!-- 表單 -->
                        <div class="contact-note">您的訂單已送出，請耐心等候商品送達。</div>
                        <div class="cart-btn"><a href="({$web.main_url})/member/order" class="btn-send">訂單查詢</a></div>
                    </div>
                </div>
                <!-- 右欄 END -->
            </div>
            <!-- 右欄 END -->
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 END -->
</div>
({include "foor.html"})