({include "top.html"})
<!-- InstanceBeginEditable name="banner" -->
<div class="inside-banner" style=" background-image: url(images/banner005.jpg);">
    <div class="banner-title">
        <div class="banner-ch">購物車</div>
        <div class="banner-en">Shopping Car</div>
    </div>
</div>
<!-- InstanceEndEditable -->
<div class="warpper">
    <div class="main clearfix">
        <!-- 編輯區 -->
        <!-- InstanceBeginEditable name="EditRegion1" -->
        <div class="content-body clearfix">
            <div class="steps clearfix">
                <div class="step active"><span class="badge"><span class="text">1</span></span> <span>購物車</span></div>
                <div class="step"><span class="badge"><span class="text">2</span></span> <span>填寫資料</span></div>
                <div class="step"><span class="badge"><span class="text">3</span></span> <span>完成訂單</span></div>
            </div>
            ({if count($data.orderList)<1})
                <div class="jump-window-box bg-gary-whrite">
                    <h3 class="page-title05">購物車中沒有商品</h3>
                    <div class="form-box clearfix">
                        <div class="form-box clearfix">
                            <!-- 表單 -->
                            <div class="contact-note">您的購物車中沒有商品。</div>
                            <div class="cart-btn"><a href="({$web.main_url})/product" class="btn-send">前往購物</a></div>
                        </div>
                    </div>
                    <!-- 右欄 END -->
                </div>
            ({else})
                <h3 class="page-title">購物車</h3>
                <!-- 購物清單 -->
                <div class="shopping-car">
                    <ul class="shopping-car-list">
                        <li class="th clearfix">
                            <div class="shop-car-info col-045">商品資料</div>
                            <div class="shop-car-price col-015">價 格</div>
                            <div class="shop-car-quantity col-015">數 量</div>
                            <div class="shop-car-subtotal col-015">小 計</div>
                            <div class="shop-car-del cor-010">刪除</div>
                        </li>
                        ({section name=i loop=$data.orderList})
                        <li class="clearfix">
                            <div class="shop-car-info col-045">
                                <a href="({$web.main_url})/product/detail/({$data.orderList[i].productId})" target="_blank" class="pro-photo" style="background-image: url('({$data.orderList[i].picture})')"></a>
                                <div class="description">
                                    <div>({$data.orderList[i].name})</div>
                                </div>
                            </div>
                            <div class="shop-car-price price col-015" id="price({$smarty.section.i.index})">NT$({$data.orderList[i].price})</div>
                            <div class="shop-car-quantity numb col-015">
                                <div class="qtyInputBox b({$smarty.section.i.index})">
                                    <!-- 購買數量增減模組 Begin -->
                                    <span class="input-group-btn"><button><i class="fa fa-minus"></i></button></span>
                                    <input type="text" value="({$data.orderList[i].count})" id="count({$smarty.section.i.index})" maxlength="5" data-productid="({$data.orderList[i].productId})" data-specifications="({$data.orderList[i].specifications})" onchange="shoppingEditCount($(this));">
                                    <span class="input-group-btn"><button><i class="fa fa-plus"></i></button></span>
                                    <!-- 購買數量增減模組 End -->
                                </div>
                                <script>
                                    $('.qtyInputBox.b({$smarty.section.i.index}) button i.fa-plus').click(function() {
                                        var qty = $('.qtyInputBox.b({$smarty.section.i.index}) input').val();
                                        qty = parseInt(qty) + 1;
                                        $('.qtyInputBox.b({$smarty.section.i.index}) input').val(qty);
                                        shoppingEditCount($('.qtyInputBox.b({$smarty.section.i.index}) input'));
                                    });

                                    $('.qtyInputBox.b({$smarty.section.i.index}) button i.fa-minus').click(function() {
                                        var qty = $('.qtyInputBox.b({$smarty.section.i.index}) input').val();
                                        if (qty < 2) { qty = 1; } else { qty = qty - 1; }
                                        $('.qtyInputBox.b({$smarty.section.i.index}) input').val(qty);
                                        shoppingEditCount($('.qtyInputBox.b({$smarty.section.i.index}) input'));
                                    });
                                </script>
                            </div>
                            <div class="shop-car-subtotal count col-015" id="total({$smarty.section.i.index})">NT$({$data.orderList[i].price*$data.orderList[i].count})</div>
                            <div class="shop-car-del cor-010"><a href="javascript:;" onclick="shoppingRmProduct($('#count({$smarty.section.i.index})'));"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                        </li>
                        ({/section})
                    </ul>
                </div>
                <div class="clearfix" style="height:30px;"></div>
                <div class="clearfix">
                    <div class="col-065 col-m clearfix">
                        <!-- 左欄 -->
                        <h3 class="page-title02">選擇送貨及付款方式</h3>
                        <!-- 購物清單 -->
                        <div class="checkout-box clearfix">
                            <!-- 表單 -->
                            <div class="opinion clearfix"> <span class="opinion-left01">付款方式</span>
                                <select id="paymentMethod" class="input-main-style02" onchange="getShipment();">
                                    <option value="">請選擇</option>
                                    ({section name=i loop=$data.paymentMethod})
                                    <option value="({$data.paymentMethod[i].key})" ({if $data.paymentMethod[i].key==$data.order.paymentMethod})selected({/if})>({$data.paymentMethod[i].name})</option>
                                    ({/section})
                                </select>
                            </div>
                            <div class="opinion clearfix"> <span class="opinion-left01">送貨方式</span>
                                <select id="shipmentMethod" class="input-main-style02" onchange="setShipmentMethod();">
                                    <option value="">請選擇</option>
                                    ({section name=i loop=$data.shipmentMethod})
                                    <option value="({$data.shipmentMethod[i].key})" ({if $data.shipmentMethod[i].key==$data.order.shipmentMethod})selected({/if})>({$data.shipmentMethod[i].name})</option>
                                    ({/section})
                                </select>
                            </div>
                            <script>
                            function getShipment() {
                                val = $("#paymentMethod").val();
                                $('#shipmentMethod').html("");
                                $('#shipmentMethod').append('<option value="">請選擇</option>');
                                $.ajax({
                                    type: "GET",
                                    data: { ajax: "getShipment", value: val },
                                    dataType: 'text',
                                    success: function(msg) {
                                        try {
                                            temp = JSON.parse(msg);
                                            if (temp.data.length > 0) {
                                                $(temp.data).each(function(index, obj) {
                                                    $('#shipmentMethod').append('<option value="' + obj["key"] + '">' + obj["name"] + '</option>');
                                                });
                                            }
                                        } catch (e) {

                                        }
                                    }
                                });
                                setPaymentMethod();
                                setShipmentMethod();

                            }

                            function setShipmentMethod() {
                                val = $("#shipmentMethod").val();
                                $.ajax({
                                    type: "GET",
                                    data: { ajax: "setShipmentMethod", value: val },
                                    dataType: 'text',
                                    success: function(msg) {}
                                });
                            }

                            function setPaymentMethod() {
                                val = $("#paymentMethod").val();
                                $.ajax({
                                    type: "GET",
                                    data: { ajax: "setPaymentMethod", value: val },
                                    dataType: 'text',
                                    success: function(msg) {}
                                });
                            }
                            </script>
                        </div>
                    </div>
                    <div class="cor-035 col-m">
                        <h3 class="page-title03">訂單資訊</h3>
                        <div class="section-body">
                            <div class="checkout-cart-summary">
                                <div class="subtotal clearfix"> <span class="pull-left">小計:</span> <span class="pull-right">NT$({$data.order.total})</span> </div>
                                <div class="delivery-fee clearfix"> <span class="pull-left">運費:</span> <span class="pull-right">NT$({$data.order.freight})</span> </div>
                                <div class="total clearfix"> <span class="pull-left">合計<span class="hidden-sm hidden-md hidden-lg"> (({count($data.orderList)})件)</span>:</span> <span class="pull-right toc">NT$({$data.order.total+$data.order.freight})</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="height:30px;"></div>
                <div class="cart-btn"><a href="({$web.main_url})/product" class="btn-reset">繼續購物</a> <a href="javascript:;" onclick="return next();" class="btn-send">填寫資料</a></div>
                <script>
                    function next(){
                        if($("#paymentMethod").val() && $("#shipmentMethod").val()){
                            location.href = '({$web.main_url})/({$console->path[0]})/2';
                        }else{
                            alert("請選擇付款方式及送貨方式");
                        }
                        return false;
                    }
                </script>
            ({/if})
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <!-- 編輯區 END -->
</div>
({include "foor.html"})