({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                        ({if $console->path[0]=="basic" && $console->path[1]=="product"})
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="list" href="#list-advanced-serch">({$console->getLabel("ADVANCED")})({$console->getLabel("SEARCH")})</a>
                            </li>
                        ({/if})
                    ({/if})
                    ({if $switch.editList!=0 || $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-detail">({$console->getLabel("DETAIL")})</a>
                        </li>
                        ({if $data.system.formData})
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="list" href="#list-form-data">({$console->getLabel("FORM_DATA")})</a>
                            </li>
                        ({/if})
                        ({if $console->path[0]=="basic" && $console->path[1]=="product"})
                            ({if $web.stockMode})
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="list" href="#list-specifications">({$console->getLabel("PRODUCT_SPECIFICATIONS")})</a>
                                </li>
                            ({/if})
                            ({if $web.originalPriceCheck || $web.specialPriceCheck || $web.memberPriceCheck})
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="list" href="#list-price">({$console->getLabel("PRICE_SETTING")})</a>
                                </li>
                            ({/if})
                            ({if $web.addProductCheck})
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="list" href="#list-add-product">({$console->getLabel("ADD_PRODUCT")})</a>
                                </li>
                            ({/if})
                        ({/if})
                        ({if $data.system.pageSetting})
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="list" href="#list-page-setting">({$console->getLabel("PAGE_SETTING")})</a>
                            </li>
                        ({/if})
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

            ({if $switch.listList!=0})
                <div class="card-body tab-pane fade show active" id="list-list">
                    <form action="" method="POST" >
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" width="2%">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input border" id="checkAll">
                                        <label class="custom-control-label" for="checkAll"></label>
                                    </div>
                                </th>
                                <th scope="col">({$console->getLabel("NAME")})</th>
                                ({if $data.list[0].class})
                                    <th scope="col">({$console->getLabel("CLASS")})</th>
                                ({/if})
                                <th scope="col">({$console->getLabel("SORT")})</th>
                                <th scope="col">({$console->getLabel("STATUS")})</th>
                                <th scope="col">({$console->getLabel("CREATE_DATE")})</th>
                                <th scope="col">({$console->getLabel("UPDATE_DATE")})</th>
                                <th scope="col">({$console->getLabel("TOW_SORT")})</th>
                            </tr>
                        </thead>
                        <tbody>
                            ({section name=i loop=$data.list})
                                <tr data-parent="({$data.list[i].parent})" data-id="({$data.list[i].id})">
                                    <td scope="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                            <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                        </div>
                                    </td>
                                    ({if $console->path[0]!="class"})
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                        </td>
                                    ({else})
                                        <td >
                                            ({for $j=1 to $data.list[i].floor})&nbsp;&nbsp;&nbsp;&nbsp;({/for})
                                            ({if $data.list[i].floor < $data.maxFloor})
                                                <span class="glyphicon glyphicon-minus" style="color:#6e7892" data-id="({$data.list[i].id})" onclick="treeFoldStar(({$data.list[i].id}))"></span>
                                            ({else})
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            ({/if})
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                        </td>
                                    ({/if})
                                    ({if $data.list[i].class})
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].class})</a>
                                            
                                        </td>
                                    ({/if})
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control col-md-3" name="sort_({$data.list[i].id})" value="({$data.list[i].sort})" autocomplete="off">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="onoffswitch">
                                            <input type="hidden" name="status_({$data.list[i].id})" value="0">
                                            <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if})>
                                            <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                        </div>
                                    </td>
                                    <td >
                                        ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                    </td>
                                    <td >
                                        ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                    </td>
                                    <th >
                                        <span class="glyphicon-move" style="font-size: 20px;"></span>
                                    </th>
                                </tr>

                            ({/section})
                            
                        </tbody>
                    </table>
                    ({$console->getToken()})
                    </form>
                </div>

                <!-- 進階搜尋 -->
                <div class="card-body tab-pane fade " id="list-advanced-serch">
                    <form action="" method="GET" >
                        ({foreach from=$smarty.get key=k item=v})
                            ({if $k!="searchKeyWord" && $k!="startDate" && $k!="endDate" && $k!="status" && $k!="per" && $k!="class"})
                                <input type="hidden" value="({$v})" name="({$k})">
                            ({/if})
                        ({/foreach})

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('SEARCH_KEYWORD')})</label>
                                <input type="text" name="searchKeyWord" class="form-control" value="({$smarty.get.searchKeyWord})" data-text="({$console->getLabel('NAME')})">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('FROM')})</label>
                                <input type="date" value="({if isset($smarty.get.startDate)})({$smarty.get.startDate})({/if})" class="form-control" name="startDate">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('TO')})</label>
                                <input type="date" value="({if isset($smarty.get.endDate)})({$smarty.get.endDate})({/if})" class="form-control" name="endDate">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('STATUS')})</label>
                                <select name="status" class="form-control">
                                    <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                    <option value="1" ({if isset($smarty.get.status) && $smarty.get.status=='1'})selected({/if})>({$console->getLabel("STATUS_1")})</option>
                                    <option value="0" ({if isset($smarty.get.status) && $smarty.get.status=='0'})selected({/if})>({$console->getLabel("STATUS_0")})</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('PAGE_DATA_COUNT')})</label>
                                <select name="per" class="form-control">
                                    <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                    <option value="10" ({if isset($smarty.get.per) && $smarty.get.per=='10'})selected({/if})>10</option>
                                    <option value="20" ({if isset($smarty.get.per) && $smarty.get.per=='20'})selected({/if})>20</option>
                                    <option value="30" ({if isset($smarty.get.per) && $smarty.get.per=='30'})selected({/if})>30</option>
                                    <option value="40" ({if isset($smarty.get.per) && $smarty.get.per=='40'})selected({/if})>40</option>
                                    <option value="50" ({if isset($smarty.get.per) && $smarty.get.per=='50'})selected({/if})>50</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("CLASS")})</label>
                                <select class="form-control" name="class" >
                                    <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                    ({if $data.class.list})
                                        ({section name=i loop=$data.class.list})
                                            <option value="({$data.class.list[i].id})" style="margin-left:({$data.class.list[i].floor})em;" ({if $data.class.maxFloor>$data.class.list[i].floor})disabled({/if}) ({if $data.class.list[i].id==$smarty.get.class})selected({/if})>({$data.class.list[i].name})</option>
                                        ({/section})
                                    ({/if})
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('STOCK_BELOW')})</label>
                                <select name="stockBelow" class="form-control">
                                    <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                    <option value="1" ({if isset($smarty.get.stockBelow) && $smarty.get.stockBelow=='1'})selected({/if})>1</option>
                                    <option value="5" ({if isset($smarty.get.stockBelow) && $smarty.get.stockBelow=='5'})selected({/if})>5</option>
                                    <option value="10" ({if isset($smarty.get.stockBelow) && $smarty.get.stockBelow=='10'})selected({/if})>10</option>
                                    <option value="20" ({if isset($smarty.get.stockBelow) && $smarty.get.stockBelow=='20'})selected({/if})>20</option>
                                    <option value="50" ({if isset($smarty.get.stockBelow) && $smarty.get.stockBelow=='50'})selected({/if})>50</option>
                                    <option value="100" ({if isset($smarty.get.stockBelow) && $smarty.get.stockBelow=='100'})selected({/if})>100</option>
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-secondary glyphicon-search" type="submit"> ({$console->getLabel("SEARCH")})</button>
                        <button class="btn btn-link glyphicon" onclick="location.href='({$data.listUrl})';return false;"> ({$console->getLabel("RESET")})</button>
                    </form>
                </div>
            ({/if})

            ({if $switch.editList!=0 || $switch.addList!=0})
                <div class="card-body tab-pane fade show active" id="list-detail">

                    ({if $console->path[0]!="basicOne"})
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('NAME')})</label>
                                <input type="text" name="name" class="form-control" autocomplete="name" value="({$data.one.name})" data-text="({$console->getLabel("NAME")})" required>
                            </div>
                        </div>
                    ({/if})

                    ({if $console->path[0]=="class"})
                        ({if $switch.editList!=0})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel("FLOOR")})</label>
                                    <div class="form-group">
                                        <select class="form-control" name="parent" data-type="chosen" data-text="({$console->getLabel("FLOOR")})" required>
                                            <option value="">({$console->getLabel("PLEASE_CHOOSE")})</option>
                                            <option value="0,-1" ({if 0==$data.one.parent})selected({/if})>({$console->getLabel("ROOT_DIRECTORY")})</option>
                                            ({section name=i loop=$data.list})
                                                ({if $data.list[i].floor < $data.addMaxFloor})
                                                <option value="({$data.list[i].id}),({$data.list[i].floor})" style="margin-left:({$data.list[i].floor+1})em;" ({if $data.list[i].id==$data.one.parent})selected({/if})> ({$data.list[i].name})</option>
                                                ({/if})
                                            ({/section})
                                        </select>
                                    </div>
                                </div>
                            </div>
                        ({else})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel("FLOOR")})</label>
                                    <div class="form-group">
                                        <select class="form-control" name="parent" data-type="chosen" data-text="({$console->getLabel("FLOOR")})" required>
                                            <option value="">({$console->getLabel("PLEASE_CHOOSE")})</option>
                                            <option value="0,-1">({$console->getLabel("ROOT_DIRECTORY")})</option>
                                            ({section name=i loop=$data.list})
                                                ({if $data.list[i].floor < $data.addMaxFloor})
                                                <option value="({$data.list[i].id}),({$data.list[i].floor})" style="margin-left:({$data.list[i].floor+1})em;">({$data.list[i].name})</option>
                                                ({/if})
                                            ({/section})
                                        </select>
                                    </div>
                                </div>
                            </div>
                        ({/if})
                    ({/if})

                    ({if $data.class})
                        ({if $switch.editList!=0})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel("CLASS")})</label>
                                    <div class="form-group">
                                        <input type="hidden" name="class">
                                        <select class="form-control" name="class[]" data-type="chosen" data-text="({$console->getLabel("CLASS")})" data-placeholder="({$console->getLabel("PLEASE_CHOOSE")})" required multiple>
                                            ({section name=i loop=$data.class.list})
                                                <option value="({$data.class.list[i].id})" style="margin-left:({$data.class.list[i].floor})em;" ({if $data.class.maxFloor>$data.class.list[i].floor})disabled({/if}) ({if in_array($data.class.list[i].id,$data.one.class)})selected({/if})>({$data.class.list[i].name})</option>
                                            ({/section})
                                        </select>
                                    </div>
                                </div>
                            </div>
                        ({else})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel("CLASS")})</label>
                                    <div class="form-group">
                                        <input type="hidden" name="class">
                                        <select class="form-control" name="class[]" data-type="chosen" data-text="({$console->getLabel("CLASS")})" data-placeholder="({$console->getLabel("PLEASE_CHOOSE")})" required multiple>
                                            ({section name=i loop=$data.class.list})
                                                <option value="({$data.class.list[i].id})" style="margin-left:({$data.class.list[i].floor})em;" ({if $data.class.maxFloor>$data.class.list[i].floor})disabled({/if})>({$data.class.list[i].name})</option>
                                            ({/section})
                                        </select>
                                    </div>
                                </div>
                            </div>
                        ({/if})
                    ({/if})

                    ({include "__field.html"})
                    
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel('STATUS')})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="status" value="0">
                                <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" ({if !$data.one || $data.one.status})checked({/if}) >
                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                            </div>
                        </div>
                    </div>
                    
                    <small class="text-muted">
                        ({$console->getLabel('CREATE_DATE')})
                        ({$data.one.create_date})(({$data.one.create_user}));
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                    
                </div>

                ({if $data.system.formData})
                    <!-- 表單資料 -->
                    <div class="card-body tab-pane fade" id="list-form-data">
                        <input class="btn btn-outline-secondary mb-3" type="button" value="({$console->getLabel('ADD_DATA')})" onclick="addFormData();">
                        <div class="form-row form-inline" id="specifications_div" >
                            <input type="hidden" name="dataName">
                            <input type="hidden" name="dataType">
                            <input type="hidden" name="dataOption">
                            <input type="hidden" name="dataRequired">
                            ({section name=i loop=$data.one.dataName})
                                <div class="col-md-12 mb-3 specifications-div">
                                    <span> ({$console->getLabel('NAME')})：</span><input type="text" class="form-control" name="dataName[]" data-text="({$console->getLabel('NAME')})" value="({$data.one.dataName[i]})" data-check="Only" required>
                                    <span> ({$console->getLabel('TYPE')})：</span><select type="text" class="form-control" name="dataType[]" onchange="selectType(this);">
                                        ({foreach from=$data.typeOption key=k item=v})
                                            <option value="({$k})" ({if $k==$data.one.dataType[i]})selected({/if})>({$console->getLabel($v)})</option>
                                        ({/foreach})
                                    </select>
                                    
                                    <span class="option_div" ({if !($data.one.dataType[i]=="select" || $data.one.dataType[i]=="radio" || $data.one.dataType[i]=="checkbox")})style="display:none"({/if})>
                                        <span> ({$console->getLabel('OPTION')})：</span><textarea class="form-control" name="dataOption[]" data-text="({$console->getLabel('OPTION')})" placeholder="data1,data2">({$data.one.dataOption[i]})</textarea>
                                    </span> 
                                    
                                    <span> ({$console->getLabel('REQUIRED')})：</span><select type="text" class="form-control" name="dataRequired[]">
                                        <option value="0" ({if !$data.one.dataRequired[i]})selected({/if})>({$console->getLabel("_NO")})</option>
                                        <option value="1" ({if $data.one.dataRequired[i]})selected({/if})>({$console->getLabel("_YES")})</option>
                                    </select>
                                    <span> </span><input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">
                                </div>
                            ({/section})
                        </div>
                    </div>
                    <script>
                        var checkboxI=0;
                        function addFormData(){
                            $('#specifications_div').append(''+
                            '<div class="col-md-12 mb-3 specifications-div">'+
                                '<span> ({$console->getLabel('NAME')})：</span><input type="text" class="form-control" name="dataName[]" data-text="({$console->getLabel('NAME')})" value="" data-check="Only" required>'+
                                '<span> ({$console->getLabel('TYPE')})：</span><select type="text" class="form-control" name="dataType[]" onchange="selectType(this);">'+
                                    ({foreach from=$data.typeOption key=k item=v})
                                        '<option value="({$k})">({$console->getLabel($v)})</option>'+
                                    ({/foreach})
                                '</select>'+
                                '<span class="option_div" style="display:none">'+
                                    '<span> ({$console->getLabel('OPTION')})：</span><textarea class="form-control" name="dataOption[]" data-text="({$console->getLabel('OPTION')})" placeholder="data1,data2"></textarea>'+
                                '</span> '+
                                '<span> ({$console->getLabel('REQUIRED')})：</span><select type="text" class="form-control" name="dataRequired[]">'+
                                    '<option value="0">({$console->getLabel("_NO")})</option>'+
                                    '<option value="1">({$console->getLabel("_YES")})</option>'+
                                '</select>'+
                                '<span> </span><input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">'+
                            '</div>');
                            checkboxI++;
                        }
                        $(function(){
                            $('#specifications_div').sortable({
                                items: '.specifications-div'
                            });
                        });
                        function selectType(data){
                            var temp = ["select","radio","checkbox"];
                            if(temp.indexOf($(data).val())>-1){
                                $(data).parent().find(".option_div").show();
                            }else{
                                $(data).parent().find(".option_div").hide();
                            }
                        }
                    </script>
                ({/if})

                ({if $data.system.pageSetting})
                <div class="card-body tab-pane fade" id="list-page-setting">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("CUSTOM_PAGE_TITLE")})</label>
                            <input type="text" class="form-control" name="pageTitle" value="">
                            <small class="text-muted">({$console->getLabel("CUSTOM_PAGE_TITLE_TEXT")})</small>
                        </div>
                    </div>

                    ({if $console->path[0]!="basicOne"})
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("CUSTOM_URL")})</label>
                            <input type="text" class="form-control" name="urlKey" value="" onkeyup="this.value=this.value.replace(/\\*\/*\?*/g,'');">
                            <small class="text-muted">({$console->getLabel("CUSTOM_URL_TEXT")})</small>
                        </div>
                    </div>
                    ({/if})

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("CUSTOM_PAGE_META")})</label>
                            <textarea class="form-control" rows="8" name="pageMeta"></textarea>
                            <small class="text-muted">({$console->getLabel("CUSTOM_PAGE_META_TEXT")})</small>
                        </div>
                    </div>
                </div>
                ({/if})

                ({if $console->path[0]=="basic" && $console->path[1]=="product"})
                    <!-- 商品規格 -->
                    <div class="card-body tab-pane fade" id="list-specifications">
                        <input class="btn btn-outline-secondary mb-3" type="button" value="({$console->getLabel('ADD_SPECIFICATIONS')})" onclick="addSpecifications();">
                        <div class="form-row form-inline" id="specifications_div" >
                            <input type="hidden" name="specificationsID" value="default">
                            <input type="hidden" name="specifications" value="default">
                            <input type="hidden" name="stock" value="0">
                            <input type="hidden" name="maxCount" value="0">
                            ({section name=i loop=$data.one.specifications})
                                <div class="col-md-12 mb-3 specifications-div">
                                    <span> ({$console->getLabel('SPECIFICATIONS_ID')})：</span><input type="text" class="form-control" name="specificationsID[]" data-text="({$console->getLabel('SPECIFICATIONS_ID')})" value="({$data.one.specificationsID[i]})" data-check="Only" onkeyup="this.value=this.value.replace(/\W/g,'');" required>
                                    <span> ({$console->getLabel('SPECIFICATIONS_NAME')})：</span><input type="text" class="form-control" name="specifications[]" data-text="({$console->getLabel('SPECIFICATIONS_NAME')})" value="({$data.one.specifications[i]})" required>
                                    <span> ({$console->getLabel('STOCK')})：</span><input type="text" class="form-control" name="stock[]" value="({$data.one.stock[i]})" data-text="({$console->getLabel('STOCK')})" onkeyup="this.value=this.value.replace(/\D/g,'');" data-check="Number" required>
                                    <span> ({$console->getLabel('MAX_COUNT')})：</span><input type="text" class="form-control" name="maxCount[]" value="({$data.one.maxCount[i]})" data-text="({$console->getLabel('MAX_COUNT')})" onkeyup="this.value=this.value.replace(/\D/g,'');" data-check="Number" required>
                                    <span> </span><input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">
                                </div>
                            ({/section})
                        </div>
                    </div>
                    <script>
                        function addSpecifications(){
                            if($("#list-specifications .specifications-div").length>=5){
                                alert(_jsMsg["SELECT_ACHIEVE_MAX"]+" 5");
                                return false;
                            }
                            $('#specifications_div').append('<div class="col-md-12 mb-3 specifications-div">'+
                                '<span> ({$console->getLabel('SPECIFICATIONS_ID')})：</span><input type="text" class="form-control" name="specificationsID[]" data-text="({$console->getLabel('SPECIFICATIONS_ID')})" value="" data-check="Only" required>'+
                                '<span> ({$console->getLabel('SPECIFICATIONS_NAME')})：</span><input type="text" class="form-control" name="specifications[]" data-text="({$console->getLabel('SPECIFICATIONS_NAME')})" value="" required>'+
                                '<span> ({$console->getLabel('STOCK')})：</span><input type="text" class="form-control" name="stock[]" value="" data-text="({$console->getLabel('STOCK')})" onkeyup="this.value=this.value.replace(/\\D/g,\'\');" data-check="Number" required>'+
                                '<span> ({$console->getLabel('MAX_COUNT')})：</span><input type="text" class="form-control" name="maxCount[]" value="0" data-text="({$console->getLabel('MAX_COUNT')})" onkeyup="this.value=this.value.replace(/\\D/g,\'\');" data-check="Number" required>'+
                                '<span> </span><input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">'+
                            '</div>');
                        }
                        $(function(){
                            $('#specifications_div').sortable({
                                items: '.specifications-div'
                            });
                        });
                    </script>

                    <!-- 售價設定 -->
                    <div class="card-body tab-pane fade" id="list-price">
                        ({if $web.originalPriceCheck})
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('ORIGINAL_PRICE')})</label>
                                <input type="text" name="originalPrice" class="form-control" value="({$data.one.originalPrice})" onkeyup="this.value=this.value.replace(/\D/g,'');" data-text="({$console->getLabel('ORIGINAL_PRICE')})" data-check="Number" required>
                            </div>
                        </div>
                        ({/if})
                        ({if $web.specialPriceCheck})
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('SPECIAL_PRICE')})</label>
                                <input type="text" name="specialPrice" class="form-control" value="({$data.one.specialPrice})" onkeyup="this.value=this.value.replace(/\D/g,'');" data-text="({$console->getLabel('SPECIAL_PRICE')})" data-check="Number" required>
                            </div>
                        </div>
                        ({/if})
                        ({if $web.memberPriceCheck})
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('MEMBER_PRICE')})</label>
                                <input type="text" name="memberPrice" class="form-control" value="({$data.one.memberPrice})" onkeyup="this.value=this.value.replace(/\D/g,'');" data-text="({$console->getLabel('MEMBER_PRICE')})" data-check="Number" required>
                            </div>
                        </div>
                        ({/if})
                    </div>

                    <!-- 加價購商品 -->
                    <div class="card-body tab-pane fade" id="list-add-product">
                        <div class="form-row form-inline">
                            <div class="col-md-12 mb-3">
                                <!-- <span> ({$console->getLabel('PRODUCT_NAME')})：</span> --><input type="text" class="form-control" id="addProductKeyword" placeholder="({$console->getLabel("SEARCH_KEYWORD")})">
                                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('SEARCH')})" onclick="searchProduct();">
                            
                                <select class="form-control" id="productSelect">
                                    <option></option>
                                </select>
                                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('ADD')})" onclick="addProductF($('#productSelect').val());">
                            </div>
                        </div>
                        <div class="form-row form-inline" id="addProduct_div" >
                            <input type="hidden" name="addProduct" value="">
                            <input type="hidden" name="addProductSpecifications" value="">
                            <input type="hidden" name="addProductMaxCount" value="">
                        </div>
                        <script>
                            var searchProductArray=[];
                            function searchProduct(){
                                $('#productSelect').html("");
                                $.ajax({
                                    url: _jsPath+"/ajax.php",
                                    type: "GET",
                                    data: { searckProduct: 1, ({if $data.one.id})noSearchID: ({$data.one.id}),({/if}) keyword: $("#addProductKeyword").val() },
                                    dataType:'text',
                                    success: function(msg){
                                        temp = JSON.parse(msg);
                                        if(temp.length>0){
                                            $(temp).each(function(index,obj){
                                                $('#productSelect').append('<option value="'+obj["id"]+'">'+obj["name"]+'</option>');
                                                searchProductArray[obj["id"]] = obj;
                                            });
                                        }else{
                                            $('#productSelect').append('<option>NULL</option>');
                                        }
                                    }
                                });
                            }

                            function addProductF(id,selected,maxCount,money){
                                if(id){
                                    $.ajax({
                                        url: _jsPath+"/ajax.php",
                                        type: "GET",
                                        data: { searckProduct: 1, id: id, keyword: '' },
                                        dataType:'text',
                                        async: false,
                                        success: function(msg){
                                            temp = JSON.parse(msg);
                                            if(temp.length>0){
                                                temp = temp[0];
                                                var optionHtml = "";
                                                for (var i = 0; i < temp["specificationsID"].length; i++) {
                                                    if(temp["specificationsID"][i] == selected){
                                                        optionHtml += '<option value="'+temp["specificationsID"][i]+'" selected>'+temp["specifications"][i]+'</option>';
                                                    }else{
                                                        optionHtml += '<option value="'+temp["specificationsID"][i]+'">'+temp["specifications"][i]+'</option>';
                                                    }
                                                }
                                                maxCount = typeof(maxCount)=="undefined"?0:maxCount;
                                                money = typeof(money)=="undefined"?temp["originalPrice"]:money;
                                                var divHtml = 
                                                    '<div class="col-md-12 mb-3 specifications-div">'+
                                                        '<input type="hidden" name="addProduct[]" value="'+id+'">'+
                                                        '<img src="'+temp["picture"]+'?aaa='+temp["update_date"]+'" style="max-width:100px;">'+
                                                        '<span>'+temp["name"]+' </span>'+
                                                        '<select class="form-control" name="addProductSpecifications[]">'+optionHtml+
                                                        '</select>'+
                                                        '<span> ({$console->getLabel('MAX_COUNT')})：</span><input type="text" class="form-control" name="addProductMaxCount[]" value="'+maxCount+'" data-text="({$console->getLabel('MAX_COUNT')})" onkeyup="this.value=this.value.replace(/\D/g,\'\');" data-check="Number" required>'+
                                                        '<span> ({$console->getLabel('MONEY')})：</span><input type="text" class="form-control" name="addProductMoney[]" value="'+money+'" data-text="({$console->getLabel('MONEY')})" onkeyup="this.value=this.value.replace(/\D/g,\'\');" data-check="Number" required>'+
                                                        ' <input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">'+
                                                    '</div>';
                                                $("#addProduct_div").append(divHtml);
                                            }
                                        }
                                    });
                                }
                            }

                            $(function(){
                                $('#addProduct_div').sortable({
                                    items: '.specifications-div'
                                });
                                ({section name=i loop=$data.one.addProduct})
                                    ({if $data.one.addProduct[i]})
                                        addProductF(({$data.one.addProduct[i]}),'({$data.one.addProductSpecifications[i]})','({$data.one.addProductMaxCount[i]})','({$data.one.addProductMoney[i]})');
                                    ({/if})
                                ({/section})
                            });
                        </script>
                    </div>
                ({/if})
            ({/if})

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})