
({assign var="aceI" value=0})
({assign var="colorI" value=0})
({assign var="imgI" value=0})
({assign var="fileI" value=0})
({assign var="mapI" value=0})
({assign var="searchI" value=0})
({section name=i loop=$data.system.dataType})

    ({if $data.system.dataType[i] == "text" || $data.system.dataType[i] == "youtube"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <input type="text" name="({$data.system.dataKey[i]})" class="form-control" value="({$data.one[$data.system.dataKey[i]]})" data-text="({$console->getLabel($data.system.dataName[i])})">
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
    ({else if $data.system.dataType[i] == "status"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <div class="onoffswitch">
                    <input type="hidden" name="({$data.system.dataKey[i]})" value="0">
                    <input type="checkbox" name="({$data.system.dataKey[i]})" class="onoffswitch-checkbox" id="({$data.system.dataKey[i]})" value="1" ({if $data.one[$data.system.dataKey[i]]})checked({/if})>
                    <label class="onoffswitch-label" for="({$data.system.dataKey[i]})"></label>
                </div>
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
    ({else if $data.system.dataType[i] == "color"})
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <input type="text" class="form-control" name="({$data.system.dataKey[i]})" value="({$data.one[$data.system.dataKey[i]]})">
                <input class="form-control" id='colorpicker({$colorI})'/>
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
            <script>
                $("#colorpicker({$colorI})").spectrum( {
                    preferredFormat: "hex",
                    showInput: true,
                    color: "({if isset($data.one[$data.system.dataKey[i]])})({$data.one[$data.system.dataKey[i]]})({/if})",
                    chooseText: "({$console->getLabel('CHOOSE')})",
                    cancelText: "({$console->getLabel("CANCEL")})",
                    change: function(color) {
                        $("[name='({$data.system.dataKey[i]})']").val($("#colorpicker({$colorI})").spectrum("get").toHexString());
                    }
                });
            </script>
        </div>
        ({assign var="colorI" value=$colorI+1})
    ({else if $data.system.dataType[i] == "textarea"})
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <textarea class="form-control" rows="8" name="({$data.system.dataKey[i]})">({$data.one[$data.system.dataKey[i]]})</textarea>
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
    ({else if $data.system.dataType[i] == "date"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <input type="date" name="({$data.system.dataKey[i]})" class="form-control" data-text="({$console->getLabel($data.system.dataName[i])})" value="({$data.one[$data.system.dataKey[i]]})" >
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
    ({else if $data.system.dataType[i] == "aceEditor"})
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <div>
                    ({assign var=_I_ value=$aceI})
                    ({include file='module.tinymceEditor.html'})
                </div>
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
        ({assign var="aceI" value=$aceI+1})
    ({else if $data.system.dataType[i] == "imageModule"})
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <div>
                    ({assign var=_I_ value=$imgI})
                    ({include file='module.uploadImg.html'})
                </div>
                <!-- <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small> -->
            </div>
        </div>
        ({assign var="imgI" value=$imgI+1})
    ({else if $data.system.dataType[i] == "fileModule"})
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <div>
                    ({assign var=_I_ value=$fileI})
                    ({include file='module.uploadFile.html'})
                </div>
                <!-- <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small> -->
            </div>
        </div>
        ({assign var="fileI" value=$fileI+1})
    ({else if $data.system.dataType[i] == "googleMap"})
        <div class="form-row">
            <label class="mb-3">({$console->getLabel($data.system.dataName[i])})</label>
            <div class="col-md-12 mb-3 form-inline specifications-div">
                <div class="col-md-12 mb-3" id="google_map_data_div({$mapI})">
                    <span> ({$console->getLabel('ADDRESS_OR_COORDINATE')})：</span><input type="text" class="form-control">
                    <span> ({$console->getLabel('WIDTH')})：</span><input type="text" class="form-control" value="100%">
                    <span> ({$console->getLabel('HEIGHT')})：</span><input type="text" class="form-control" value="500">
                    <span> ({$console->getLabel('MAP_PROPORTION')})：</span><input type="text" class="form-control" value="16">
                    <span> ({$console->getLabel('MAP_MODE')})：</span><select type="text" class="form-control"><option value="p">({$console->getLabel('TOPOGRAPHIC_MAP')})</option><option value="h">({$console->getLabel('SATELLITE_IMAGERY')})</option></select>
                    <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('SEARCH')})" onclick="getGoogleMap();">
                </div>
                <div class="col-md-12 mb-3" id="google_map_div({$mapI})">
                    ({$data.one[$data.system.dataKey[i]]|htmlspecialchars_decode})
                </div>
                <input type="hidden" name="({$data.system.dataKey[i]})" value="({$data.one[$data.system.dataKey[i]]})">
            </div>
            <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            <script>
                function getGoogleMap(){
                    var data = $("#google_map_data_div({$mapI})>input,#google_map_data_div({$mapI})>select");
                    if(!data.eq(0).val()){
                        alert(_jsMsg["ADDRESS_IS_NULL"]);
                        return;
                    }
                    var address = encodeURI(data.eq(0).val());
                    var w = data.eq(1).val()?data.eq(1).val():"100%";
                    var h = data.eq(2).val()?data.eq(2).val():"500";
                    var z = data.eq(3).val()?data.eq(3).val():"16";
                    var t = data.eq(4).val()?data.eq(4).val():"p";

                    var output = '<iframe width="'+w+'" height="'+h+'" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com.tw/maps?f=q&output=embed&hl='+_lang+'&geocode=&q='+address+'&z='+z+'&t='+t+'"></iframe>';
                    $("#google_map_div({$mapI})").html(output);
                    $("input[name='({$data.system.dataKey[i]})']").val(output);
                }
            </script>
        </div>
        ({assign var="mapI" value=$mapI+1})
    ({else if $data.system.dataType[i] == "search"})
        <div class="form-row form-inline mb-3">
            <label class="mb-3">({$console->getLabel($data.system.dataName[i])})</label>
            <div class="col-md-12 mb-3">
                <input type="text" class="form-control" id="sKeyword({$searchI})" placeholder="({$console->getLabel("SEARCH_KEYWORD")})">
                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('SEARCH')})" onclick="searchNews({$searchI})();">
            
                <select class="form-control" id="sSelect({$searchI})">
                    <option></option>
                </select>
                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('ADD')})" onclick="addNewsF({$searchI})($('#sSelect({$searchI})').val());">
            </div>
            <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
        </div>
        <div class="form-row form-inline" id="s_div({$searchI})" >
            <input type="hidden" name="({$data.system.dataKey[i]})" value="">
        </div>
        <script>
            var searchNewsArray=[];
            function searchNews({$searchI})(){
                $('#sSelect({$searchI})').html("");
                $.ajax({
                    url: _jsPath+"/ajax.php",
                    type: "GET",
                    data: { searckData: '({$data.system.dataSearch[i]})', keyword: $("#sKeyword({$searchI})").val() },
                    dataType:'text',
                    success: function(msg){
                        temp = JSON.parse(msg);
                        if(temp.length>0){
                            $(temp).each(function(index,obj){
                                $('#sSelect({$searchI})').append('<option value="'+obj["id"]+'">'+obj["name"]+'</option>');
                                searchNewsArray[obj["id"]] = obj;
                            });
                        }else{
                            $('#sSelect({$searchI})').append('<option>NULL</option>');
                        }
                    }
                });
            }

            function addNewsF({$searchI})(id){
                if($("#s_div({$searchI}) .specifications-div").length>=({$data.system.dataSearchCount[i]})){
                    alert(_jsMsg["SELECT_ACHIEVE_MAX"]+" ({(int)$data.system.dataSearchCount[i]})");
                    return false;
                }
                if(id){
                    $.ajax({
                        url: _jsPath+"/ajax.php",
                        type: "GET",
                        data: { searckData: '({$data.system.dataSearch[i]})', id: id, keyword: '' },
                        dataType:'text',
                        async: false,
                        success: function(msg){
                            temp = JSON.parse(msg);
                            if(temp.length>0){
                                temp = temp[0];
                                var divHtml = 
                                    '<div class="col-md-12 mb-3 specifications-div">'+
                                        '<input type="hidden" name="({$data.system.dataKey[i]})[]" value="'+id+'">'+
                                        '<span>'+temp["name"]+' </span>'+
                                        '<input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">'+
                                    '</div>';
                                $("#s_div({$searchI})").append(divHtml);
                            }
                        }
                    });
                }
            }

            $(function(){
                $('#s_div({$searchI})').sortable({
                    animation: 200,
                    items: '.specifications-div'
                });
                ({section name=j loop=$data.one[$data.system.dataKey[i]]})
                    ({if $data.one[$data.system.dataKey[i]][j]})
                        addNewsF({$searchI})(({$data.one[$data.system.dataKey[i]][j]}));
                    ({/if})
                ({/section})
            });
        </script>
        ({assign var="searchI" value=$searchI+1})
    ({/if})
({/section})