({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-basic">({$console->getLabel("DETAIL")})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="list" href="#list-log">({$console->getLabel("LOG")})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    ({section name=i loop=$data.list[0].keyName})
                                        <th scope="col">({$data.list[0].keyName[i]})</th>
                                    ({/section})
                                    <th scope="col">({$console->getLabel("CREATE_DATE")})</th>
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})
                                    <tr>
                                        <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        ({section name=j loop=$data.list[i].keyData})
                                            <td data-max_width="100">
                                                <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].keyData[j]})</a>
                                            </td>
                                        ({/section})
                                        <td >
                                            ({$data.list[i].create_date})
                                        </td>
                                    </tr>

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>

                ({/if})

                ({if $switch.editList!=0})
                    <div class="card-body tab-pane fade show active" id="list-basic">
                        
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">回覆</button><hr>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="10%">({$console->getLabel("TITLE")})</th>
                                    <th scope="col">({$console->getLabel("DETAIL")})</th>
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.one.keyName})
                                    <tr>
                                        <td scope="col">({$data.one.keyName[i]})</td>
                                        <td>({if strpos($data.one.keyData[i],'/form/') !== false })<a href="({$data.one.keyData[i]})" target="_black">({$data.one.keyData[i]})</a>({else})({$data.one.keyData[i]|nl2br})({/if})</td>
                                    </tr>
                                ({/section})
                            </tbody>
                        </table>


                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})
                        </small>
                        
                    </div>
                    <div class="card-body tab-pane fade" id="list-log">
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="20%">({$console->getLabel("RECIPIENT_EMAIL")})</th>
                                    <th scope="col" width="20%">({$console->getLabel("DATE")})</th>
                                    <th scope="col">({$console->getLabel("DETAIL")})</th>
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.one.reply})
                                    <tr>
                                        <td scope="col">({$data.one.replyRecipient[i]})</td>
                                        <td scope="col">({$data.one.replyDate[i]})</td>
                                        <td scope="col">({$data.one.reply[i]|nl2br})</td>
                                    </tr>
                                ({/section})
                            </tbody>
                        </table>


                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})
                        </small>
                        
                    </div>

                ({/if})
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})


({if $switch.editList!=0})
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">({$console->getLabel('REPLY_MAIL')})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label>({$console->getLabel("TITLE")})</label>
                        <input type="text" class="form-control" id="mailTitle" value="({$console->getLabel('CONTACT_REPLY')})">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label>({$console->getLabel("RECIPIENT_EMAIL")})</label>
                        <input type="text" class="form-control" id="mailRecipient" value="({section name=i loop=$data.one.keyName})({if $data.one.dataIsEmail[i]})({$data.one.keyData[i]}),({/if})({/section})">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label>({$console->getLabel("DETAIL")})</label>
                        <textarea class="form-control" rows="8" id="mailDetail"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">({$console->getLabel('CLOSE')})</button>
                <button type="button" class="btn btn-primary" onclick="sned();">({$console->getLabel('SEND')})</button>
            </div>
        </div>
    </div>
</div>
<script>
    function sned(){
        if(!$("#mailTitle").val() || !$("#mailRecipient").val() || !$("#mailDetail").val()){
            alert("({$console->getLabel('PLEASE_KEY_DETAIL')})");
            return false;
        }
        loadingStart();
        $.ajax({
            type: "GET",data: {ajax: 1,mailTitle: $("#mailTitle").val(),mailRecipient: $("#mailRecipient").val(),mailDetail: $("#mailDetail").val()},dataType:'text',
            async: true,timeout: 0,success: function(msg){
                try{
                    temp = JSON.parse(msg);
                    alert(temp.message);
                    if(temp.response){
                        $("#mailDetail").val("");
                        $('#exampleModalCenter').modal('hide');
                    }
                }catch(e){
                    alert("error");
                }
                loadingStop();
            }
        });
    }
</script>
({/if})