({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$label_back["LIST"]})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$label_back["EDIT"]})</a>
                        </li>
                    ({/if})
                    ({if $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-add">({$label_back["ADD"]})</a>
                        </li>
                    ({/if})
                    ({if $switch.instructionsList!=0})
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="list" href="#list-instructions">({$label_back["INSTRUCTIONS"]})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">({$label_back["NAME"]})</th>
                                    <th scope="col">({$label_back["CONTOL"]})</th>
                                    <th scope="col">({$label_back["STATUS"]})</th>
                                    <th scope="col">({$label_back["CREATE_DATE"]})</th>
                                    <th scope="col">({$label_back["UPDATE_DATE"]})</th>
                                    <!-- <th scope="col">({$label_back["TOW_SORT"]})</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})

                                    ({if $data.list[i].id!=$member.groupID || $member.groupID==1})
                                        <tr>
                                            <td scope="row">
                                                ({if $data.list[i].id!=$member.groupID})
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                        <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                                    </div>
                                                ({/if})
                                            </td>
                                            <td >
                                                <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                                
                                            </td>
                                            <td >
                                                <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].control})</a>
                                                
                                            </td>
                                            <td>
                                                <div class="onoffswitch">
                                                    <input type="hidden" name="status_({$data.list[i].id})" value="0" ({if $data.list[i].id==$member.id})disabled({/if})>
                                                    <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if}) ({if $data.list[i].id==$member.id})disabled({/if})>
                                                    <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                                </div>
                                            </td>
                                            <td >
                                                ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                            </td>
                                            <td >
                                                ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                            </td>
                                            <!-- <th >
                                                <span class="glyphicon-move" style="font-size: 20px;"></span>
                                            </th> -->
                                        </tr>
                                    ({/if})

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>
                ({/if})

                ({if $switch.editList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$label_back['NAME']})</label>
                                <input type="text" name="name" class="form-control" autocomplete="name" value="({$data.one.name})" required>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$label_back['CONTOL']})</label>
                                <input type="text" name="control" class="form-control" autocomplete="control" value="({$data.one.control})" required>
                                <small class="text-muted">({$label_back['CONTOL_SMALL']})</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>({$label_back['AUTH']})</label>

                                <input type="hidden" name="auth" value="">
                                ({section name=i loop=$data.menu})
                                    <br>({for $j=1 to $data.menu[i].floor})&nbsp;&nbsp;&nbsp;&nbsp;({/for})
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" name="auth[]" id="customCheck({$data.menu[i].id})" value="({$data.menu[i].id})" data-parent="({$data.menu[i].parent})" onchange="treeChange('({$data.menu[i].id})')" ({if in_array($data.menu[i].id,$data.one.auth)})checked({/if})>
                                        <label class="custom-control-label" for="customCheck({$data.menu[i].id})">({$label_back[$data.menu[i].name]})</label>
                                    </div>
                                ({/section})


                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$label_back['STATUS']})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0" ({if $data.one.id==$member.id})disabled({/if})>
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" ({if $data.one.status})checked({/if}) ({if $data.one.id==$member.id})disabled({/if})>
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">
                            ({$label_back['CREATE_DATE']})
                            ({$data.one.create_date})(({$data.one.create_user}));
                            ({$label_back['UPDATE_DATE']})
                            ({$data.one.update_date})(({$data.one.update_user}))
                        </small>
                        
                    </div>
                ({/if})

                ({if $switch.addList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$label_back['NAME']})</label>
                                <input type="text" name="name" class="form-control" autocomplete="name" required>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$label_back['CONTOL']})</label>
                                <input type="text" name="control" class="form-control" value="" autocomplete="control" required>
                                <small class="text-muted">({$label_back['CONTOL_SMALL']})</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>({$label_back['AUTH']})</label>

                               ({section name=i loop=$data.menu})
                                    <br>({for $j=1 to $data.menu[i].floor})&nbsp;&nbsp;&nbsp;&nbsp;({/for})
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" name="auth[]" id="customCheck({$data.menu[i].id})" value="({$data.menu[i].id})" data-parent="({$data.menu[i].parent})" onchange="treeChange('({$data.menu[i].id})')">
                                        <label class="custom-control-label" for="customCheck({$data.menu[i].id})">({$label_back[$data.menu[i].name]})</label>
                                    </div>
                                ({/section})


                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$label_back['STATUS']})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0" >
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </div>
                ({/if})
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})