({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="list" href="#list-detail">({$label_back["DETAIL"]})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

                <div class="card-body tab-pane fade show active" id="list-detail">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label>({$label_back['PICTURE']})</label>
                            <div>
                                ({assign var=_I_ value=0})
                                ({include file='module.uploadImg.html'})
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$label_back['CREATE_DATE']})
                        ({$data.one.create_date})(({$data.one.create_user}));
                        ({$label_back['UPDATE_DATE']})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                    
                </div>

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})