({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("EDIT")})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="card-body tab-pane fade show active" id="list-edit">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label>({$console->getLabel("DETAIL")})</label>
                            ({include file='module.aceEditor.html'})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({include file='foor.html'})