<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="({$web.main_path})/" target="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/serback/back.css">
    <link rel="stylesheet" href="css/serback/MTsung.css">
    <link rel="stylesheet" href="css/serback/signin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="js/serback/jquery.all.min.js"></script>
    <script src="js/config.js" id="config" data-lang="({$lang})" data-path="({$web.main_path})"  data-fb_app_id="({$web.fbAuthAppID})" data-google_client_id="({$web.googleAuthAppID})"></script>
    <script src="js/serback/back_js.js"></script>
    <script src="//apis.google.com/js/api:client.js?hl=({$lang})"></script>
    <script src="js/socialLogin.js" async></script>
    <script src="js/serback/bootstrap.min.js"></script>
    <script src="js/serback/bootstrap.bundle.min.js"></script>
    <script src="js/validation.js"></script>
    <!-- reCAPTCHA -->
    <script src='//www.google.com/recaptcha/api.js?hl=({$lang})' async defer></script>
    <title>({$label_back['LOGIN_FORGET']})</title>
    
    <link rel="icon" href="({$web.icon})" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="({$web.icon})">
    <link rel="apple-touch-icon-precomposed" href="({$web.icon})">
</head>

<body class="text-center">

    <form class="form-signin" action="" method="POST">
        <img class="mb-4" src="({$web.icon})">
        <h1 class="h3 mb-3 font-weight-normal">({$label_back['FORGET_TITEL']})</h1>
        ({if isset($smarty.get.uID)})
                <input type="password" name="newPassword" class="form-control" placeholder="({$label_back['FORGET_NEW_PASSWORD']})" data-check="Password" data-text="({$label_back['NEW_PASSWORD']})"  required autofocus>
                <br>
                <input type="password" name="checkNewPassword" class="form-control" placeholder="({$label_back['FORGET_CHECK_NEW_PASSWORD']})" data-check="Password" data-text="({$label_back['CHECK_NEW_PASSWORD']})"  required autofocus>
                <br>
                <div class="checkbox mb-3">
                    <a href="({$web.serback_path})/login">({$label_back['LOGIN_LOGIN_LABEL']})</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block" onclick="return formSubmit(0);">({$label_back['LOGIN_FORGET_EDIT']})</button><br>
        ({else})
                <input type="text" name="email" class="form-control" placeholder="({$label_back['FORGET_EMAIL']})" data-check="Email" required autofocus>
                <br>
                <div class="checkbox mb-3">
                    <a href="({$web.serback_path})/login">({$label_back['LOGIN_LOGIN_LABEL']})</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block" onclick="return formSubmit(0);">({$label_back['LOGIN_FORGET']})</button><br>
        ({/if})
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018 Power by vipcase</p>
        ({$console->getToken()})
    </form>
</body>

</html>