<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="({$web.main_path})/" target="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/serback/bootstrap.min.css">
    <link rel="stylesheet" href="css/serback/MTsung.css">
    <link rel="stylesheet" href="css/serback/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/serback/jquery.circliful.css">
    <link rel="stylesheet" href="css/serback/basictable.css">
    <link rel="stylesheet" href="css/serback/signin.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="js/config.js"></script>
    <script src="js/serback/jquery3.3.1.min.js"></script>
    <script src="js/serback/bootstrap.min.js"></script>
    <script src="js/serback/jquery.circliful.js"></script>
    <script src="js/serback/jquery.basictable.min.js"></script>
    <script src="js/serback/back_js.js"></script>
    <script src="js/fbLogin.js"></script>
    <script src="js/LineLogin.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="js/GoogleLogin.js"></script>
    <title>({$label_back['LOGIN_FORGET']})</title>
    
    <link rel="icon" href="({$web.icon})" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="({$web.icon})">
    <link rel="apple-touch-icon-precomposed" href="({$web.icon})">
</head>

<body class="text-center">

    <form class="form-signin" action="" method="POST">
        <img class="mb-4" src="images/serback/logo.png">
        <h1 class="h3 mb-3 font-weight-normal">({$label_back['FORGET_TITEL']})</h1>
        <div class="checkbox mb-3">
            ({$label_back['LOGIN_LANG']})
            ({$console->getLanguageArray('html','/serback')})
        </div>
        ({if isset($smarty.get.uID)})
                <input type="password" name="newPassword" class="form-control" placeholder="({$label_back['FORGET_NEW_PASSWORD']})" required autofocus>
                <br>
                <input type="password" name="checkNewPassword" class="form-control" placeholder="({$label_back['FORGET_CHECK_NEW_PASSWORD']})" required autofocus>
                <br>
                <div class="checkbox mb-3">
                    <a href="login">({$label_back['LOGIN_LOGIN_LABEL']})</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">({$label_back['LOGIN_FORGET_EDIT']})</button><br>
        ({else})
                <input type="text" name="email" class="form-control" placeholder="({$label_back['FORGET_EMAIL']})" required autofocus>
                <br>
                <div class="checkbox mb-3">
                    <a href="login">({$label_back['LOGIN_LOGIN_LABEL']})</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">({$label_back['LOGIN_FORGET']})</button><br>
        ({/if})
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018 Power by vipcase</p>
        ({$console->getToken()})
    </form>
</body>

</html>