({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="list" href="#list-detail">({$label_back["DETAIL"]})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

                <div class="card-body tab-pane fade show active" id="list-detail">
                    <div class="form-row form-inline">
                            <div class="col-md-12 mb-3">
                                <!-- <span> ({$label_back['PRODUCT_NAME']})：</span> --><input type="text" class="form-control" id="productKeyword" placeholder="({$label_back["SEARCH_KEYWORD"]})">
                                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$label_back['SEARCH']})" onclick="searchProduct();">
                            
                                <select class="form-control" id="productSelect">
                                    <option></option>
                                </select>
                                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$label_back['ADD']})" onclick="addProductF($('#productSelect').val());">
                            </div>
                        </div>
                        <div class="form-row form-inline" id="addProduct_div" >
                            <input type="hidden" name="detail" value="">
                        </div>
                        <script>
                            var searchProductArray=[];
                            function searchProduct(){
                                $('#productSelect').html("");
                                $.ajax({
                                    url: _jsPath+"/ajax.php",
                                    type: "GET",
                                    data: { searckProduct: 1, keyword: $("#productKeyword").val() },
                                    dataType:'text',
                                    success: function(msg){
                                        temp = JSON.parse(msg);
                                        if(temp.length>0){
                                            $(temp).each(function(index,obj){
                                                $('#productSelect').append('<option value="'+obj["id"]+'">'+obj["name"]+'</option>');
                                                searchProductArray[obj["id"]] = obj;
                                            });
                                        }else{
                                            $('#productSelect').append('<option>NULL</option>');
                                        }
                                    }
                                });
                            }

                            function addProductF(id){
                                if($(".specifications-div").length>=3){
                                    alert(_jsMsg["SELECT_ACHIEVE_MAX"]+" 3");
                                    return false;
                                }
                                if(id){
                                    $.ajax({
                                        url: _jsPath+"/ajax.php",
                                        type: "GET",
                                        data: { searckProduct: 1, id: id, keyword: '' },
                                        dataType:'text',
                                        async: false,
                                        success: function(msg){
                                            temp = JSON.parse(msg);
                                            if(temp.length>0){
                                                temp = temp[0];
                                                var divHtml = 
                                                    '<div class="col-md-12 mb-3 specifications-div">'+
                                                        '<input type="hidden" name="detail[]" value="'+id+'">'+
                                                        '<img src="'+temp["picture"]+'?aaa='+temp["update_date"]+'" style="max-width:100px;">'+
                                                        '<span>'+temp["name"]+' </span>'+
                                                        ' <input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$label_back['DELETE']})" onclick="$(this).parent().remove();">'+
                                                    '</div>';
                                                $("#addProduct_div").append(divHtml);
                                            }
                                        }
                                    });
                                }
                            }

                            $(function(){
                                $('#addProduct_div').sortable({
                                    items: '.specifications-div'
                                });
                                ({section name=i loop=$data.one.detail})
                                    ({if $data.one.detail[i]})
                                        addProductF(({$data.one.detail[i]}));
                                    ({/if})
                                ({/section})
                            });
                        </script>
                    <small class="text-muted">
                        ({$label_back['CREATE_DATE']})
                        ({$data.one.create_date})(({$data.one.create_user}));
                        ({$label_back['UPDATE_DATE']})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                    
                </div>

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})