({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="list" href="#list-detail">({$console->getLabel("DETAIL")})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

                <div class="card-body tab-pane fade show active" id="list-detail">
                    <div class="form-row form-inline">
                            <div class="col-md-12 mb-3">
                                <!-- <span> ({$console->getLabel('PRODUCT_NAME')})：</span> --><input type="text" class="form-control" id="newsKeyword" placeholder="({$console->getLabel("SEARCH_KEYWORD")})">
                                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('SEARCH')})" onclick="searchNews();">
                            
                                <select class="form-control" id="newsSelect">
                                    <option></option>
                                </select>
                                <span> </span><input class="btn btn-outline-secondary" type="button" value="({$console->getLabel('ADD')})" onclick="addNewsF($('#newsSelect').val());">
                            </div>
                        </div>
                        <div class="form-row form-inline" id="news_div" >
                            <input type="hidden" name="detail" value="">
                        </div>
                        <script>
                            var searchNewsArray=[];
                            function searchNews(){
                                $('#newsSelect').html("");
                                $.ajax({
                                    url: _jsPath+"/ajax.php",
                                    type: "GET",
                                    data: { searckNews: 1, keyword: $("#newsKeyword").val() },
                                    dataType:'text',
                                    success: function(msg){
                                        temp = JSON.parse(msg);
                                        if(temp.length>0){
                                            $(temp).each(function(index,obj){
                                                $('#newsSelect').append('<option value="'+obj["id"]+'">'+obj["name"]+'</option>');
                                                searchNewsArray[obj["id"]] = obj;
                                            });
                                        }else{
                                            $('#newsSelect').append('<option>NULL</option>');
                                        }
                                    }
                                });
                            }

                            function addNewsF(id){
                                if($(".specifications-div").length>=5){
                                    alert(_jsMsg["SELECT_ACHIEVE_MAX"]+" 5");
                                    return false;
                                }
                                if(id){
                                    $.ajax({
                                        url: _jsPath+"/ajax.php",
                                        type: "GET",
                                        data: { searckNews: 1, id: id, keyword: '' },
                                        dataType:'text',
                                        async: false,
                                        success: function(msg){
                                            temp = JSON.parse(msg);
                                            if(temp.length>0){
                                                temp = temp[0];
                                                var divHtml = 
                                                    '<div class="col-md-12 mb-3 specifications-div">'+
                                                        '<input type="hidden" name="detail[]" value="'+id+'">'+
                                                        '<span>'+temp["name"]+' </span>'+
                                                        '<input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">'+
                                                    '</div>';
                                                $("#news_div").append(divHtml);
                                            }
                                        }
                                    });
                                }
                            }

                            $(function(){
                                $('#news_div').sortable({
                                    items: '.specifications-div'
                                });
                                ({section name=i loop=$data.one.detail})
                                    ({if $data.one.detail[i]})
                                        addNewsF(({$data.one.detail[i]}));
                                    ({/if})
                                ({/section})
                            });
                        </script>
                    <small class="text-muted">
                        ({$console->getLabel('CREATE_DATE')})
                        ({$data.one.create_date})(({$data.one.create_user}));
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                    
                </div>

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})