<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="({$web.main_path})/" target="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/serback/back.css">
    <link rel="stylesheet" href="css/serback/MTsung.css">
    <link rel="stylesheet" href="css/serback/signin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <script src="js/serback/jquery.all.min.js"></script>
    <script src="js/config.js" id="config" data-lang="({$lang})" data-path="({$web.main_path})"  data-fb_app_id="({$web.fbAuthAppID})" data-google_client_id="({$web.googleAuthAppID})"></script>
    <script src="js/serback/back_js.js"></script>
    <script src="//apis.google.com/js/api:client.js?hl=({$lang})"></script>
    <script src="js/socialLogin.js" async></script>
    <script src="js/serback/bootstrap.min.js"></script>
    <script src="js/serback/bootstrap.bundle.min.js"></script>
    <!-- reCAPTCHA -->
    <script src='//www.google.com/recaptcha/api.js?hl=({$lang})' async defer></script>
    <title>({$label_back['LOGIN_LOGIN']})</title>
    
    <link rel="icon" href="({$web.icon})" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="({$web.icon})">
    <link rel="apple-touch-icon-precomposed" href="({$web.icon})">
</head>

<script>

</script>
<body class="text-center">

    <form class="form-signin" action="" method="POST">
        
        <br>
        <h1 class="h3 mb-4 font-weight-normal"><img class="mb-4" src="({$web.icon})" height="70"> ({$label_back['LOGIN_TITEL']})</h1>
        ({if count($console->getLanguageArray("array"))>1})
            <div class="checkbox mb-3">
                ({$label_back['LOGIN_LANG']})
                ({$console->getLanguageArray('html','/serback')})
            </div>
        ({/if})

        <div class="input-group mb-3">
        	<input type="text" name="account" id="account" class="form-control" placeholder="({$label_back['LOGIN_ACCOUNT']})" required autofocus>
        </div>

        <div class="input-group mb-2">
        	<input type="password" name="password" id="password" class="form-control" placeholder="({$label_back['LOGIN_PASSWORD']})"  autocomplete="on" required>
        </div>

        <!-- 一般驗證碼 -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <img src="verifycode.php" onclick="$(this).attr('src',$(this).attr('src'));">
            </div>
            <input type="text" name="verifycode" id="verifycode" class="form-control" placeholder="({$label_back['VERIFYCODE']})"  autocomplete="on" data-toggle="tooltip" data-placement="top" title="({$label_back['VERIFYCODE_TITLE']})" >
        </div>
        <!-- 一般驗證碼 -->


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="remember-me" name="remember-me"> ({$label_back['LOGIN_REMEMBER']})
            </label>
            <a href="forget">({$label_back['LOGIN_FORGET_PASSWORD']})</a>
        </div>

        <button class="btn btn-lg btn-primary btn-block" onclick="return grecaptcha();">({$label_back['LOGIN_LOGIN']})</button><br>
        
        <!-- reCAPTCHA -->
        <div class="g-recaptcha" data-sitekey="({$console->setting->getValue("reCAPTCHASiteKey")})" data-callback="login" data-size="invisible"></div>
        <!-- reCAPTCHA -->

        <a ({if $web.lineAuthAppID})href="javascript:;" onclick="lineLogin();"({else})style="-webkit-filter:grayscale(1);"({/if})><img width="50" src="images/LINE_LOGO.png"></a>
        <a ({if $web.fbAuthAppID})href="javascript:;" onclick="fbLogin();"({else})style="-webkit-filter:grayscale(1);"({/if})><img width="50" src="images/FB_LOGO.png"></a>
        <a ({if $web.googleAuthAppID})href="javascript:;" id="GoogleBtn"({else})style="-webkit-filter:grayscale(1);"({/if})><img width="50" src="images/GOOGLE_LOGO.png"></a>
        
        <p class="mt-5 mb-3 text-muted">&copy; 2018 vipcase</p>
        ({$console->getToken()})
      <br/>
    </form>
</body>

</html>

