({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("EDIT")})</a>
                        </li>
                    ({/if})
                    ({if $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-add">({$console->getLabel("ADD")})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">({$console->getLabel("NAME")})</th>
                                    <th scope="col">({$console->getLabel("DESHPRICE")})</th>
                                    <th scope="col">({$console->getLabel("STATUS")})</th>
                                    <th scope="col">({$console->getLabel("CREATE_DATE")})</th>
                                    <th scope="col">({$console->getLabel("UPDATE_DATE")})</th>
                                    <!-- <th scope="col">({$console->getLabel("TOW_SORT")})</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})
                                    <tr>
                                        <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                            
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].deshprice})%</a>
                                        </td>
                                        <td>
                                            <div class="onoffswitch">
                                                <input type="hidden" name="status_({$data.list[i].id})" value="0">
                                                <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if})>
                                                <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                        </td>
                                        <td >
                                            ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                        </td>
                                        <!-- <th >
                                            <span class="glyphicon-move" style="font-size: 20px;"></span>
                                        </th> -->
                                    </tr>

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>
                ({/if})

                ({if $switch.editList!=0 || $switch.addList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('NAME')})</label>
                                <input type="text" name="name" class="form-control" autocomplete="name" value="({$data.one.name})" required data-text="({$console->getLabel('NAME')})">
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('DESHPRICE')})</label>
                                <input type="text" name="deshprice" class="form-control" autocomplete="deshprice" value="({$data.one.deshprice})" required data-text="({$console->getLabel('DESHPRICE')})" data-check="Number">
                                <small class="text-muted">({$console->getLabel('DESHPRICE_SMALL')})</small>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('STATUS')})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0">
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" ({if !$data.one || $data.one.status})checked({/if})>
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})(({$data.one.create_user}));
                            ({$console->getLabel('UPDATE_DATE')})
                            ({$data.one.update_date})(({$data.one.update_user}))
                        </small>
                        
                    </div>
                ({/if})

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})