({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("EDIT")})</a>
                        </li>
                    ({/if})
                    ({if $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-add">({$console->getLabel("ADD")})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">({$console->getLabel("ACCOUNT")})</th>
                                    <th scope="col">({$console->getLabel("FIRST_NAME")})</th>
                                    <th scope="col">({$console->getLabel("EMAIL")})</th>
                                    <th scope="col">({$console->getLabel("STATUS")})</th>
                                    <th scope="col">({$console->getLabel("CREATE_DATE")})</th>
                                    <th scope="col">({$console->getLabel("UPDATE_DATE")})</th>
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})

                                    <tr>
                                        <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].account})</a>
                                            
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                            
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].email})</a>
                                            
                                        </td>
                                        <td>
                                            <div class="onoffswitch">
                                                <input type="hidden" name="status_({$data.list[i].id})" value="0">
                                                <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if})>
                                                <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                        </td>
                                        <td >
                                            ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                        </td>
                                    </tr>

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>
                ({/if})

                ({if $switch.editList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        
                        <div class="form-row">
                            <div class="col-md-4">
                                <label>({$console->getLabel('ACCOUNT')})</label>
                                <input type="text" readonly class="form-control" value="({$data.one.account})" disabled>
                            </div>
                            <div class="col-md-4 mb-4">
                                <label>&nbsp;</label>
                                <div class='form-inline'>
                                    ({if $web.lineAuthClientID})
                                        <img src="images/LINE_LOGO.png" width="38px" ({if !$data.one.lineID})style="-webkit-filter:grayscale(1);"({/if})>&nbsp;
                                    ({/if})
                                    ({if $web.fbAuthAppID})
                                        <img src="images/FB_LOGO.png" width="38px" ({if !$data.one.fbID})style="-webkit-filter:grayscale(1);"({/if})>&nbsp;
                                    ({/if})
                                    ({if $web.googleAuthAppID})
                                        <img src="images/GOOGLE_LOGO.png" width="38px" ({if !$data.one.googleID})style="-webkit-filter:grayscale(1);"({/if})>
                                    ({/if})
                                </div>
                            </div> 
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('NEW_PASSWORD')})</label>
                                <input type="password" name="newPassword" class="form-control" data-check="Password" data-text="({$console->getLabel('NEW_PASSWORD')})" autocomplete="off">
                                <small class="text-muted">({$console->getLabel('NEW_PASSWORD_MESSAGE')})</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('CHECK_NEW_PASSWORD')})</label>
                                <input type="password" name="checkNewPassword" class="form-control" data-check="Password" data-text="({$console->getLabel('CHECK_NEW_PASSWORD')})" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('FIRST_NAME')})</label>
                                <input type="text" name="name" class="form-control" value="({$data.one.name})" autocomplete="name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('EMAIL')})</label>
                                <input type="email" name="email" class="form-control" value="({$data.one.email})" autocomplete="email" data-check="Email" data-text="({$console->getLabel('EMAIL')})" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('ADDRESS')})</label>
                                <div class="form-inline" id="twzipcode"></div>
                                <script>
                                    $('#twzipcode').twzipcode({
                                        'css': ['form-control', 'form-control'],
                                        'countyName': 'address[0]',
                                        'districtName': 'address[1]',
                                        'zipcodeName': 'address[2]',
                                        'zipcodeIntoDistrict': true,
                                        'countySel'   : '({$data.one.address[0]})',
                                        'districtSel' : '({$data.one.address[1]})',
                                        'zipcodeSel' : '({$data.one.address[2]})'
                                    });
                                    $('#twzipcode').find('select').attr('required', true);
                                </script>
                                <input type="text" name="address[3]" class="form-control" value="({$data.one.address[3]})">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('MOBILE_PHONE')})</label>
                                <input type="text" name="phone" class="form-control" value="({$data.one.phone})">
                            </div>
                        </div>
<!--                         <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('LANDLINE')})</label>
                                <input type="text" name="landline" class="form-control" value="({$data.one.landline})">
                            </div>
                        </div> -->
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('STATUS')})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0">
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" ({if $data.one.status})checked({/if}) >
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})(({$data.one.create_user}));
                            ({$console->getLabel('UPDATE_DATE')})
                            ({$data.one.update_date})(({$data.one.update_user}))
                        </small>
                    </div>
                ({/if})

                ({if $switch.addList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('ACCOUNT')})</label>
                                <input type="text" name="account" class="form-control" autocomplete="account" data-check="Account" data-text="({$console->getLabel("ACCOUNT")})" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('PASSWORD')})</label>
                                <input type="password" name="password" class="form-control" autocomplete="off" data-check="Password" data-text="({$console->getLabel('PASSWORD')})" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('CHECK_PASSWORD')})</label>
                                <input type="password" name="checkPassword" class="form-control" autocomplete="off"  data-check="Password" data-text="({$console->getLabel('CHECK_PASSWORD')})" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('FIRST_NAME')})</label>
                                <input type="text" name="name" class="form-control" value="" autocomplete="name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('EMAIL')})</label>
                                <input type="email" name="email" class="form-control" value="" autocomplete="email" data-check="Email" data-text="({$console->getLabel('EMAIL')})" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('ADDRESS')})</label>
                                <div class="form-inline" id="twzipcode"></div>
                                <script>
                                    $('#twzipcode').twzipcode({
                                        'css': ['form-control', 'form-control'],
                                        'countyName': 'address[0]',
                                        'districtName': 'address[1]',
                                        'zipcodeName': 'address[2]',
                                        'zipcodeIntoDistrict': true,
                                    });
                                    $('#twzipcode').find('select').attr('required', true);
                                </script>
                                <input type="text" name="address[3]" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('MOBILE_PHONE')})</label>
                                <input type="text" name="phone" class="form-control">
                            </div>
                        </div>
<!--                         <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('LANDLINE')})</label>
                                <input type="text" name="landline" class="form-control">
                            </div>
                        </div> -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('STATUS')})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0" >
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </div>
                ({/if})
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})