({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0 || $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("DETAIL")})</a>
                        </li>
                        ({if $switch.editList!=0})
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="list" href="#list-order">({$console->getLabel("ORDERS")})</a>
                            </li>
                        ({/if})
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <!-- <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th> -->
                                    <th scope="col">({$console->getLabel("ACCOUNT")})</th>
                                    <th scope="col">({$console->getLabel("FIRST_NAME")})</th>
                                    <th scope="col">({$console->getLabel("EMAIL")})</th>
                                    <th scope="col">({$console->getLabel("STATUS")})</th>
                                    <!-- <th scope="col">({$console->getLabel("CREATE_DATE")})</th> -->
                                    <th scope="col">({$console->getLabel("UPDATE_DATE")})</th>
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})

                                    <tr>
                                        <!-- <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                            </div>
                                        </td> -->
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].account})</a>
                                            
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                            
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].email})</a>
                                            
                                        </td>
                                        <td>
                                            <div class="onoffswitch">
                                                <input type="hidden" name="status_({$data.list[i].id})" value="0">
                                                <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if})>
                                                <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <!-- <td >
                                            ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                        </td> -->
                                        <td >
                                            ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                        </td>
                                    </tr>

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>
                ({/if})

                ({if $switch.editList!=0 || $switch.addList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        
                        ({if $switch.addList!=0})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('ACCOUNT')})</label>
                                    <input type="text" name="account" class="form-control" autocomplete="account" data-check="Account" data-text="({$console->getLabel("ACCOUNT")})" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('PASSWORD')})</label>
                                    <input type="password" name="password" class="form-control" autocomplete="off" data-check="Password" data-text="({$console->getLabel('PASSWORD')})" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('CHECK_PASSWORD')})</label>
                                    <input type="password" name="checkPassword" class="form-control" autocomplete="off"  data-check="Password" data-text="({$console->getLabel('CHECK_PASSWORD')})" required>
                                </div>
                            </div>
                        ({else if $switch.editList!=0})
                        
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('ACCOUNT')})</label>
                                    <input type="text" readonly class="form-control" value="({$data.one.account})" disabled>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label>&nbsp;</label>
                                    <div class='form-inline'>
                                        ({if $web.lineAuthClientID})
                                            <img src="images/LINE_LOGO.png" width="38px" ({if !$data.one.lineID})style="-webkit-filter:grayscale(1);"({/if})>&nbsp;
                                        ({/if})
                                        ({if $web.fbAuthAppID})
                                            <img src="images/FB_LOGO.png" width="38px" ({if !$data.one.fbID})style="-webkit-filter:grayscale(1);"({/if})>&nbsp;
                                        ({/if})
                                        ({if $web.googleAuthAppID})
                                            <img src="images/GOOGLE_LOGO.png" width="38px" ({if !$data.one.googleID})style="-webkit-filter:grayscale(1);"({/if})>
                                        ({/if})
                                    </div>
                                </div> 
                            </div>

                            ({if $data.group.0})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel("MEMBER_LEVEL")})</label>
                                    <div class="form-group">
                                        <select class="form-control" name="groupID" data-type="chosen" data-text="({$console->getLabel("MEMBER_LEVEL")})" data-placeholder="({$label_back["PLEASE_CHOOSE"]})" required ({if $web.autoUpMoney})disabled({/if})>
                                            <option value="0" ({if 1==$data.one.groupID})selected({/if})>無</option>
                                            ({section name=i loop=$data.group})
                                                <option value="({$data.group[i].id})" ({if $data.group[i].id==$data.one.groupID})selected({/if})>({$data.group[i].name})</option>
                                            ({/section})
                                        </select>
                                    </div>
                                </div>
                            </div>
                            ({/if})


                            ({if $web.pointCheck})
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel("BONUS_POINT")})</label>
                                <input type="text" name="point" class="form-control" value="({$data.one.point})" data-text="({$console->getLabel("BONUS_POINT")})" data-check="Number">
                                </div>
                            </div>
                            ({/if})

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('NEW_PASSWORD')})</label>
                                    <input type="password" name="newPassword" class="form-control" data-check="Password" data-text="({$console->getLabel('NEW_PASSWORD')})" autocomplete="off">
                                    <small class="text-muted">({$console->getLabel('NEW_PASSWORD_MESSAGE')})</small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('CHECK_NEW_PASSWORD')})</label>
                                    <input type="password" name="checkNewPassword" class="form-control" data-check="Password" data-text="({$console->getLabel('CHECK_NEW_PASSWORD')})" autocomplete="off">
                                </div>
                            </div>
                        ({/if})
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('FIRST_NAME')})</label>
                                <input type="text" name="name" class="form-control" value="({$data.one.name})" autocomplete="name"  data-text="({$console->getLabel('FIRST_NAME')})" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('EMAIL')})</label>
                                <input type="email" name="email" class="form-control" value="({$data.one.email})" autocomplete="email" data-check="Email" data-text="({$console->getLabel('EMAIL')})" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('ADDRESS')})</label>
                                <div class="form-inline" id="twzipcode" ></div>
                                <script>
                                    $('#twzipcode').twzipcode({
                                        'css': ['form-control', 'form-control'],
                                        'countyName': 'address[0]',
                                        'districtName': 'address[1]',
                                        'zipcodeName': 'address[2]',
                                        'zipcodeIntoDistrict': true,
                                        'countySel'   : '({$data.one.address[0]})',
                                        'districtSel' : '({$data.one.address[1]})',
                                        'zipcodeSel' : '({$data.one.address[2]})'
                                    });
                                    // $('#twzipcode').find('select').attr('required', true);
                                </script>
                                <input type="text" name="address[3]" class="form-control" value="({$data.one.address[3]})">
                            </div>
                        </div>

({assign var="addressI" value=0})
({section name=i loop=$data.system.dataType})

    ({if $data.system.dataType[i] == "text" || $data.system.dataType[i] == "date"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <input type="text" name="({$data.system.dataKey[i]})" class="form-control" value="({$data.one[$data.system.dataKey[i]]})" data-text="({$console->getLabel($data.system.dataName[i])})">
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
    ({else if $data.system.dataType[i] == "select" || $data.system.dataType[i] == "radio" || $data.system.dataType[i] == "checkbox"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <select name="({$data.system.dataKey[i]})" class="form-control" data-type="chosen" ({if $data.system.dataType[i] == "checkbox"})multiple({/if})>
                    <option value="">({$console->getLabel("PLEASE_CHOOSE")})</option>
                    ({section name=j loop=$data.system.dataOption[i]})
                        <option value="({$data.system.dataOption[i][j]})" ({if $data.one[$data.system.dataKey[i]]==$data.system.dataOption[i][j]})selected({/if})>({$data.system.dataOption[i][j]})</option>
                    ({/section})
                </select>
            </div>
        </div>
    ({else if $data.system.dataType[i] == "address"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <div class="form-inline" id="twzipcode({$addressI})"></div>
                <script>
                    $('#twzipcode({$addressI})').twzipcode({
                        'css': ['form-control', 'form-control'],
                        'countyName': '({$data.system.dataKey[i]})[0]',
                        'districtName': '({$data.system.dataKey[i]})[1]',
                        'zipcodeName': '({$data.system.dataKey[i]})[2]',
                        'zipcodeIntoDistrict': true,
                        'countySel'   : '({$data.one[$data.system.dataKey[i]][0]})',
                        'districtSel' : '({$data.one[$data.system.dataKey[i]][1]})',
                        'zipcodeSel' : '({$data.one[$data.system.dataKey[i]][2]})'
                    });
                    // $('#twzipcode({$addressI})').find('select').attr('required', true);
                </script>
                <input type="text" name="({$data.system.dataKey[i]})[3]" class="form-control" value="({$data.one[$data.system.dataKey[i]][3]})">
            </div>
        </div>
        ({assign var="addressI" value=$addressI+1})
    ({else if $data.system.dataType[i] == "date"})
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>({$console->getLabel($data.system.dataName[i])})</label>
                <input type="date" name="({$data.system.dataKey[i]})" class="form-control" data-text="({$console->getLabel($data.system.dataName[i])})" value="({$data.one[$data.system.dataKey[i]]})" >
                <small class="text-muted">({$console->getLabel($data.system.dataSuggestText[i])})</small>
            </div>
        </div>
    ({/if})
({/section})
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('STATUS')})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0">
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" ({if !$data.one || $data.one.status})checked({/if}) >
                                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                                </div>
                            </div>
                        </div>


                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})(({$data.one.create_user}));
                            ({$console->getLabel('UPDATE_DATE')})
                            ({$data.one.update_date})(({$data.one.update_user}))
                        </small>
                    </div>
                    ({if $switch.editList!=0})

                        <div class="card-body tab-pane fade" id="list-order">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">({$console->getLabel("ORDER_NUMBER")})</th>
                                        <th scope="col">({$console->getLabel("PAYMENT_METHOD")})</th>
                                        <th scope="col">({$console->getLabel("SHIPMENT_METHOD")})</th>
                                        <th scope="col">({$console->getLabel("PAYMENT_STATUS")})</th>
                                        <th scope="col">({$console->getLabel("SHIPMENT_STATUS")})</th>
                                        <th scope="col">({$console->getLabel("TOTAL")})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ({section name=i loop=$data.one.orderList_})
                                        <tr>
                                            <td ><a href="({$web.serback_url})/order/edit/({$data.one.orderList_[i].id})">({$data.one.orderList_[i].orderNumber})</a></td>
                                            <td >({$data["paymentTitle"][$data.one.orderList_[i].paymentMethod]})</td>
                                            <td >({$data["shipmentTitle"][$data.one.orderList_[i].shipmentMethod]})</td>
                                            <td >({$data["paymentStatus"][$data.one.orderList_[i].paymentStatus]})</td>
                                            <td >({$data["shipmentStatus"][$data.one.orderList_[i].shipmentStatus]})</td>
                                            <td >$ ({$data.one.orderList_[i].total+$data.one.orderList_[i].freight})</td>
                                        </tr>
                                    ({/section})
                                </tbody>
                            </table>
                        </div>
                    ({/if})
                ({/if})

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})