({if $module.grapesjs})

<link rel="stylesheet" href="include/grapesjs/grapesjs/css/grapes.min.css">
<script src="include/grapesjs/grapesjs/grapes.min.js"></script>
<script src="include/grapesjs/grapesjs-plugin-ckeditor.min.js"></script>
<script src="include/grapesjs/ckeditor/ckeditor.js"></script>
<script src="include/grapesjs/grapesjs-blocks-basic.min.js"></script>
<!-- <script src="include/grapesjs/grapesjs-tabs.min.js"></script> -->
<!--  -->
<div id="divGjs({$_I_})" style="display: none;">
    <div id="gjs({$_I_})" style="min-height: 100vh;position: fixed;right: 0;top: 0;z-index: 2000;">
        ({$data["one"][$module.grapesjs[$_I_].name]|htmlspecialchars_decode})
    </div>
</div>

<script type="text/javascript">
    var editor({$_I_}) = grapesjs.init({
        showOffsets: 1,
        noticeOnUnload: 0,
        assetManager: {
            storageType : '',
            storeOnChange : true,
            storeAfterUpload : true,
            upload: '({$web.data_path})/', //for temporary storage
            assets : [ ],
            uploadFile: function(e) {
                var files = e.dataTransfer ? e.dataTransfer.files : e.target.files;

                var objForm = new FormData();
                var xhr = new XMLHttpRequest();
                xhr.open('POST', _jsPath+'/upload.php?isTinyMCE=1');
                xhr.onload = function() {
                    //上傳完成
                    try{
                        var fileName=JSON.parse(this.responseText);
                        for(var key in fileName){
                            editor({$_I_}).AssetManager.add(_jsPath+'/'+fileName[key]); //adding images to asset manager of GrapesJS
                        }
                    }catch(e){
                        alert('({$label_back.UPLOAD_IMG_ERROR})' + this.responseText);
                    }
                };

                for(var i in files){
                    objForm.append('images[]', files[i]);
                }
                objForm.append('({$console->getTokenName()})', '({$console->getToken("text")})');
                xhr.send(objForm); //開始上傳
                // $.ajax({
                //     url:  _jsPath+'/upload.php',
                //     type: 'POST',
                //     data: formData,
                //     contentType:false,
                //     crossDomain: true,
                //     dataType: 'json',
                //     mimeType: "multipart/form-data",
                //     processData:false,
                //     success: function(result){
                //         var myJSON = [];
                //         $.each( result['data'], function( key, value ) {
                //             myJSON[key] = value;
                //         });
                //         var images = myJSON;
                //         editor({$_I_}).AssetManager.add(images); //adding images to asset manager of GrapesJS
                //     }
                // });
            },
        },
        storageManager: { autoload: 0 },
        container: '#gjs({$_I_})',
        fromElement: true,
        // showDevices: false,
        plugins: ['gjs-plugin-ckeditor','gjs-blocks-basic'],
        pluginsOpts: {
            'gjs-plugin-ckeditor': {
                position: 'center',
                options: {
                    startupFocus: true,
                    extraAllowedContent: '*(*);*{*}', // Allows any class and any inline style
                    allowedContent: true, // Disable auto-formatting, class removing, etc.
                    enterMode: CKEDITOR.ENTER_BR,
                    extraPlugins: 'sharedspace,justify,colorbutton,panelbutton,font',
                    toolbar: [
                        { name: 'styles', items: ['Font', 'FontSize'] },
                        ['Bold', 'Italic', 'Underline', 'Strike'],
                        { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                        { name: 'links', items: ['Link', 'Unlink'] },
                        { name: 'colors', items: ['TextColor', 'BGColor'] },
                    ],
                }
            },
            'gjs-blocks-basic': {},
            // 'grapesjs-tabs': {}
        },
        canvas: {
            styles: [
                'css/main.css',
                // 'css/serback/back.css',
            ],
            scripts: [
                // 'js/serback/jquery.all.min.js',
                // 'js/serback/bootstrap.min.js',
                // 'js/serback/bootstrap.bundle.min.js',
            ],
        }
    });
    window.editor({$_I_}) = editor({$_I_});
    editor({$_I_}).Panels.addButton('options',
    [
        {
            id: 'close',
            className: 'fa fa-save icon-close',
            command: function(editor1, sender) {
                $("#divGjs({$_I_})").hide();
                $("[name='({$module.grapesjs[$_I_].name})']").val("<style>"+editor({$_I_}).getCss()+"</style>"+editor({$_I_}).getHtml());
            },
            attributes: {
                title: '返回'
            }
        },
    ]);

    // editor({$_I_}).BlockManager.add('table-block', {
    //   id: 'table',
    //   label: 'Table',
    //   category: 'Basic',
    //   attributes: { class: 'fa fa-table' },
    //   content: `
    //       <table class="table table-striped table-bordered table-resizable">
    //           <tr><td></td><td></td><td></td></tr>
    //           <tr><td></td><td></td><td></td></tr>
    //           <tr><td></td><td></td><td></td></tr>
    //       </table>
    //     `,
    // });

    // editor({$_I_}).BlockManager.add('testBlock', {
    //     label: '4格',
    //     attributes: { class:'gjs-fonts gjs-f-b1' },
    //     content: `
    //         <div class="form-row">
    //             <div class="col" style="padding:20px 20px 20px 20px;">
    //             </div>
    //             <div class="col">
    //             </div>
    //             <div class="col">
    //             </div>
    //             <div class="col">
    //             </div>
    //         </div>
    //     `
    // });
    // editor({$_I_}).BlockManager.add('img', {
    //     label: '圖片',
    //     attributes: { class:'gjs-fonts gjs-f-image' },
    //     content: `<img src="http://localhost/_MTsung/images/ProfilePicture.jpg" class="img-fluid"></img>`
    // });

</script>
({/if})
