    <!-- 上傳圖片模組 -->
    <style>
        #dropFileDIV({$_I_}) {
            background-color: #f5f7ff;
            text-align: center;
            width: 100%;
            height: 250px;
            margin: auto;
            border: dashed 5px gray;
        }

        #fileDIV({$_I_}){
            width: 100%;
            margin: auto;
        }


        .fileDivE({$_I_}){
            padding : 15px;
            ({if $module.uploadFile[$_I_].max>1})border: dashed  5px #e9e9e9;({/if})
            border-top-width: 0px; 
        }
        .custom-file-input ~ .custom-file-label::after {
            content: "({$console->getLabel("BROWSER")})";
        }

    </style>
    <script>
        function dragoverHandlerFile({$_I_})(evt) {
            evt.preventDefault();
        }

        function dropHandlerFile({$_I_})(evt,flag) { //evt 為 DragEvent 物件
            if(typeof(flag) == "undefined"){
                flag = 1;
            }

            if(flag==1){
                evt.preventDefault();
                var files = evt.dataTransfer.files; //由DataTransfer物件的files屬性取得檔案物件
            }else{
                var files = document.getElementById('ff1({$_I_})').files;
            }

            if(($('#fileDIV({$_I_})>div').length+files.length) > ({(int)$module.uploadFile[$_I_].max})){
                document.getElementById('ff1({$_I_})').value = '';
                alert("({$console->getLabel("UPLOAD_MAX_OUT")})({(int)$module.uploadFile[$_I_].max})");
                return false;
            }

            var objForm = new FormData();
            var xhr = new XMLHttpRequest();
            var up_progress = document.getElementById('up_progressFile({$_I_})');
            xhr.open('POST', _jsPath+'/upload.php?isTinyMCE=1');
            
            xhr.onload = function() {
                //上傳完成
                try{
                    var fileName=JSON.parse(this.responseText);
                    for(var key in fileName){
                        openFile1({$_I_})(_jsPath+'/'+fileName[key]);
                    }
                    up_progress.innerHTML = '({$console->getLabel("UPLOAD_IMG_OK")})';
                }catch(e){
                    up_progress.innerHTML = '({$console->getLabel("UPLOAD_IMG_ERROR")})';
                    alert('({$console->getLabel("UPLOAD_IMG_ERROR")})' + this.responseText);
                }
                document.getElementById('ff1({$_I_})').value = '';
                document.getElementById('dropFileDIV({$_I_})').style.border = 'dashed 5px gray';
            };
            xhr.upload.onprogress = function(evt) {
                //上傳進度
                if (evt.lengthComputable) {
                    var complete = (evt.loaded / evt.total * 100 | 0);
                    if (100 == complete) {
                        up_progress.innerHTML = '({$console->getLabel("FILE_PROCESSING")})';
                    }else{
                        up_progress.innerHTML = complete + ' %';
                    }
                }
            };
            var errMsg='';
            for (var i = 0; i < files.length; i++) {
                objForm.append('file[]', files[i]);
                // var check_image_type = ['php'];
                // var check_file_name = files[i].name.split('.');
                // check_file_name = check_file_name[check_file_name.length - 1];
                // if (check_image_type.indexOf(check_file_name.toLowerCase()) >= 0) {
                //     errMsg += files[i].name+'({$console->getLabel("UPLOAD_IMG_TYPE_ERROR")})\n';
                // } else {
                //     objForm.append('file[]', files[i]);
                // }
            }
            if(errMsg!=''){
                alert(errMsg);
            }else{
                xhr.send(objForm); //開始上傳
            }
        }


        function openFile1({$_I_})(imgSrc) {
            if(($('#fileDIV({$_I_})>div').length)+1 > ({(int)$module.uploadFile[$_I_].max})){
                document.getElementById('ff1({$_I_})').value = '';
                alert("({$console->getLabel("UPLOAD_MAX_OUT")})({(int)$module.uploadFile[$_I_].max})");
                return false;
            }
            var imgDiv = document.createElement('div');
            var imgBtnDiv = document.createElement('div');
            var imgBtn = document.createElement('input');
            var imgBtnCropper = document.createElement('input');
            var imgInput = document.createElement('input');
            var imgTag = document.createElement('a');
            imgDiv.id = imgSrc;
            imgDiv.className = "fileDivE({$_I_})";
            imgBtnDiv.className = "btn-group";

            imgBtn.className = "btn btn-outline-secondary";
            imgBtn.type = "button";
            imgBtn.value = "({$console->getLabel("DELETE")})";
            imgBtn.onclick = function (){
                if (confirm("({$console->getLabel("FILE_DELETE_CONFIRM")})")) {
                    $.ajax({
                        url: _jsPath+"/ajax.php",
                        type: "GET",
                        data: {
                            rmSrc: imgSrc,
                        },
                        dataType:'text',
                        async: false,
                        success: function(msg){
                            if(msg){
                                // alert("({$console->getLabel("DELETE_OK")})");
                            }else{
                                // alert("({$console->getLabel("DELETE_ERROR")})");
                            }
                            temp = imgSrc.replace(/\./g, "\\.");
                            temp = temp.replace(/\//g, "\\\/");
                            $('#'+temp).remove();
                        }
                    });
                }
            };


            ({if $module.uploadFile[$_I_].max>1})imgBtnDiv.style.float = "right";({/if})
            imgBtnDiv.appendChild(imgBtn);

            imgTag.href = imgSrc;
            imgTag.download = "";
            imgTag.appendChild(document.createTextNode(imgSrc));
            imgTag.style.margin = "10px";

            imgDiv.appendChild(imgBtnDiv);
            imgDiv.appendChild(document.createElement("br"));
            imgDiv.appendChild(imgTag);

            imgInput.type = "hidden";
            imgInput.name = "({$module.uploadFile[$_I_].name})({if $module.uploadFile[$_I_].max>1})[]({/if})";
            
            if(_jsPath || imgSrc.indexOf("/")==0){
                imgInput.value = imgSrc.replace(_jsPath+'/', "");
            }else{
                imgInput.value = imgSrc;
            }
            imgDiv.appendChild(imgInput);







            ({if isset($module.uploadFile[$_I_].textOther)})
                ({section name=i loop=$module.uploadFile[$_I_].textOther})

                    var imgDiv({$smarty.section.i.index}) = document.createElement('div');
                    var imgInput({$smarty.section.i.index}) = document.createElement('input');
                    var imgLabel({$smarty.section.i.index}) = document.createElement('label');
                    imgDiv({$smarty.section.i.index}).className = "form-row";

                    imgLabel({$smarty.section.i.index}).className = " control-label col-sm-1";
                    imgLabel({$smarty.section.i.index}).innerText = "({$module.uploadFile[$_I_].textOtherText[i]})";

                    imgInput({$smarty.section.i.index}).type = "text";
                    imgInput({$smarty.section.i.index}).className = " col-sm-11 form-control mb-2";
                    imgInput({$smarty.section.i.index}).name = "({$module.uploadFile[$_I_].name})({$module.uploadFile[$_I_].textOther[i]})({if $module.uploadFile[$_I_].max>1})[]({/if})";
                    var temp = textOther_({$module.uploadFile[$_I_].textOther[i]})({$_I_}).shift();
                    temp = (typeof(temp)=="undefined") ?　"" : temp;
                    imgInput({$smarty.section.i.index}).value = temp;

                    imgDiv({$smarty.section.i.index}).appendChild(imgLabel({$smarty.section.i.index}));
                    imgDiv({$smarty.section.i.index}).appendChild(imgInput({$smarty.section.i.index}));
                    imgDiv.appendChild(imgDiv({$smarty.section.i.index}));

                ({/section})
            ({/if})


            ({if isset($module.uploadFile[$_I_].textareaOther)})
                ({section name=i loop=$module.uploadFile[$_I_].textareaOther})

                    var imgDiv({$smarty.section.i.index}) = document.createElement('div');
                    var imgInput({$smarty.section.i.index}) = document.createElement('textarea');
                    var imgLabel({$smarty.section.i.index}) = document.createElement('label');
                    imgDiv({$smarty.section.i.index}).className = "form-row";

                    imgLabel({$smarty.section.i.index}).className = " control-label col-sm-1";
                    imgLabel({$smarty.section.i.index}).innerText = "({$module.uploadFile[$_I_].textareaOtherText[i]})";

                    imgInput({$smarty.section.i.index}).rows = "5";
                    imgInput({$smarty.section.i.index}).className = " col-sm-11 form-control mb-2";
                    imgInput({$smarty.section.i.index}).name = "({$module.uploadFile[$_I_].name})({$module.uploadFile[$_I_].textareaOther[i]})({if $module.uploadFile[$_I_].max>1})[]({/if})";
                    var temp = textareaOther_({$module.uploadFile[$_I_].textareaOther[i]})({$_I_}).shift();
                    temp = (typeof(temp)=="undefined") ?　"" : temp;
                    imgInput({$smarty.section.i.index}).value = temp;

                    imgDiv({$smarty.section.i.index}).appendChild(imgLabel({$smarty.section.i.index}));
                    imgDiv({$smarty.section.i.index}).appendChild(imgInput({$smarty.section.i.index}));
                    imgDiv.appendChild(imgDiv({$smarty.section.i.index}));

                ({/section})
            ({/if})

            document.getElementById('fileDIV({$_I_})').appendChild(imgDiv);

        }
        $(function(){
            ({if isset($module.uploadFile[$_I_].textOther)})
                ({section name=i loop=$module.uploadFile[$_I_].textOther})
                    textOther_({$module.uploadFile[$_I_].textOther[i]})({$_I_}) = [];

                    ({assign var="temp" value=$module.uploadFile[$_I_].name|cat:$module.uploadFile[$_I_].textOther[i]})
                    ({if isset($data[$temp])})
                        ({foreach key=k item=v from=$data[$temp]})
                            textOther_({$module.uploadFile[$_I_].textOther[i]})({$_I_}) = $.parseJSON('({$v|unescape:"html"|addslashes})');
                        ({/foreach})
                    ({else if isset($data["one"][$temp])})
                        ({foreach key=k item=v from=$data["one"][$temp]})
                            textOther_({$module.uploadFile[$_I_].textOther[i]})({$_I_}) = $.parseJSON('({$v|unescape:"html"|addslashes})');
                        ({/foreach})
                    ({/if})

                ({/section})
            ({/if})

            ({if isset($module.uploadFile[$_I_].textareaOther)})
                ({section name=i loop=$module.uploadFile[$_I_].textareaOther})
                    textareaOther_({$module.uploadFile[$_I_].textareaOther[i]})({$_I_}) = [];

                    ({assign var="temp" value=$module.uploadFile[$_I_].name|cat:$module.uploadFile[$_I_].textareaOther[i]})
                    ({if isset($data[$temp])})
                        ({foreach key=k item=v from=$data[$temp]})
                            textareaOther_({$module.uploadFile[$_I_].textareaOther[i]})({$_I_}) = $.parseJSON('({$v|unescape:"html"|addslashes})');
                        ({/foreach})
                    ({else if isset($data["one"][$temp])})
                        ({foreach key=k item=v from=$data["one"][$temp]})
                            textareaOther_({$module.uploadFile[$_I_].textareaOther[i]})({$_I_}) = $.parseJSON('({$v|unescape:"html"|addslashes})');
                        ({/foreach})
                    ({/if})

                ({/section})
            ({/if})

            ({if isset($data[$module.uploadFile[$_I_].name])})
                ({foreach key=k item=v from=$data[$module.uploadFile[$_I_].name]})
                    ({if $v})
                        openFile1({$_I_})("({$v})");
                    ({/if})
                ({/foreach})
            ({else if isset($data["one"][$module.uploadFile[$_I_].name])})
                ({foreach key=k item=v from=$data["one"][$module.uploadFile[$_I_].name]})
                    ({if $v})
                        openFile1({$_I_})("({$v})");
                    ({/if})
                ({/foreach})
            ({/if})

            //拖曳排序
            $("#fileDIV({$_I_})").sortable({ 
                items:'.fileDivE({$_I_})'
                // stop: function(){
                //     imgDivSort({$_I_})();
                // }
            });
        });
        // function imgDivSort({$_I_})(){
        //     // $('#fileDIV({$_I_})>div').each(function (index,obj){
        //     //     $(obj).find('div input[type="text"][id]').val(index+1);
        //     // });
        // }
    </script>

    <div id="dropFileDIV({$_I_})" ondragover="dragoverHandlerFile({$_I_})(event)" ondrop="dropHandlerFile({$_I_})(event)" ondragenter="this.style.border = 'dashed 5px orange';" ondragleave="this.style.border = 'dashed 5px gray';" onclick="document.getElementById('ff1({$_I_})').click();" ({if $module.uploadFile[$_I_].max<=1})style="display: none;"({/if})>
        ({$console->getLabel("FILE_DROP")})
        ({if isset($module.uploadFile[$_I_].suggestText)})
        <br>({$console->getLabel("SUGGEST_SIZE")})({$module.uploadFile[$_I_].suggestText})
        ({/if})
        <div id="up_progressFile({$_I_})"></div>
        ({if $module.uploadFile[$_I_].max>1})
            <input type="file" class="form-control-file" id="ff1({$_I_})" multiple onchange="dropHandlerFile({$_I_})('',0);" style="display: none;" />
        ({/if})
    </div>
    <input type="hidden" name="({$module.uploadFile[$_I_].name})" value="">
    ({if isset($module.uploadFile[$_I_].textOther)})
        ({section name=i loop=$module.uploadFile[$_I_].textOther})
            <input type="hidden" name="({$module.uploadFile[$_I_].name})({$module.uploadFile[$_I_].textOther[i]})" value="">
        ({/section})
    ({/if})
    <div id="fileDIV({$_I_})"></div>
    ({if $module.uploadFile[$_I_].max<=1})
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="ff1({$_I_})" onchange="dropHandlerFile({$_I_})('',0);">
            <label class="custom-file-label" for="ff1({$_I_})">({$console->getLabel("CHANGE_FILE")})</label>
        </div>
    ({/if})

    <!-- 上傳圖片模組 end -->
    