({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="list" href="#list-detail">({$console->getLabel("BASIC_INFORMATION")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-page-setting">({$console->getLabel("PAGE_SETTING")})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

                <div class="card-body tab-pane fade show active" id="list-detail">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label>({$console->getLabel('DETAIL')})</label>
                            <div>
                                ({assign var=_I_ value=0})
                                ({include file='module.tinymceEditor.html'})
                            </div>
                        </div>
                    </div>         
                   <!--  <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel('STATUS')})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="status" value="0">
                                <input type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch" value="1" ({if $data.one.status})checked({/if})>
                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                            </div>
                        </div>
                    </div> -->
                    <small class="text-muted">
                        ({$console->getLabel('CREATE_DATE')})
                        ({$data.one.create_date})(({$data.one.create_user}));
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                    
                </div>
                <!-- 頁面設定 -->
                <div class="card-body tab-pane fade" id="list-page-setting">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("CUSTOM_PAGE_TITLE")})</label>
                            <input type="text" class="form-control" name="pageTitle" value="({$data.one.pageTitle})">
                            <small class="text-muted">({$console->getLabel("CUSTOM_PAGE_TITLE_TEXT")})</small>
                        </div>
                    </div>
                    <!-- <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("CUSTOM_URL")})</label>
                            <input type="text" class="form-control" name="urlKey" value="({$data.one.urlKey})">
                            <small class="text-muted">({$console->getLabel("CUSTOM_URL_TEXT")})</small>
                        </div>
                    </div> -->
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("CUSTOM_PAGE_META")})</label>
                            <textarea class="form-control" rows="8" name="pageMeta">({$data.one.pageMeta})</textarea>
                            <small class="text-muted">({$console->getLabel("CUSTOM_PAGE_META_TEXT")})</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})