({include file='top.html'})
<form action="" method="post"> 
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="list" href="#list-setting1">({$console->getLabel("MAILING")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting2">({$console->getLabel("TCAT_BLACK_CAT")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting3">({$console->getLabel("ECAN_HOME_DELIVERY")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting4">({$console->getLabel("FAMI")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting5">({$console->getLabel("UNIMART")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting6">({$console->getLabel("HILIFE")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting7">({$console->getLabel("FAMIC2C")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting8">({$console->getLabel("UNIMARTC2C")})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="list" href="#list-setting9">({$console->getLabel("HILIFEC2C")})</a>
                    </li>

                </ul>
            </div>
            <div class="tab-content">
                <!-- 宅配 -->
                <div class="card-body tab-pane fade show active" id="list-setting1">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("MAILING")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="mailingCheck" value="0">
                                <input type="checkbox" name="mailingCheck" class="onoffswitch-checkbox" id="mailingCheck" value="1" ({if $data.one.mailingCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="mailingCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="mailingDetail">({$data.one.mailingDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 黑貓宅配(綠界) -->
                <div class="card-body tab-pane fade" id="list-setting2">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("TCAT_BLACK_CAT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="tcatBlackCatCheck" value="0">
                                <input type="checkbox" name="tcatBlackCatCheck" class="onoffswitch-checkbox" id="tcatBlackCatCheck" value="1" ({if $data.one.tcatBlackCatCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="tcatBlackCatCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="tcatBlackCatDetail">({$data.one.tcatBlackCatDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 宅配通宅配(綠界) -->
                <div class="card-body tab-pane fade" id="list-setting3">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("ECAN_HOME_DELIVERY")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="ecanHomeDeliveryCheck" value="0">
                                <input type="checkbox" name="ecanHomeDeliveryCheck" class="onoffswitch-checkbox" id="ecanHomeDeliveryCheck" value="1" ({if $data.one.ecanHomeDeliveryCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="ecanHomeDeliveryCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="ecanHomeDeliveryDetail">({$data.one.ecanHomeDeliveryDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 全家取貨(綠界)(B2C) -->
                <div class="card-body tab-pane fade" id="list-setting4">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("FAMI")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="famiCheck" value="0">
                                <input type="checkbox" name="famiCheck" class="onoffswitch-checkbox" id="famiCheck" value="1" ({if $data.one.famiCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="famiCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PICK_UP_PAYMENT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="famiPickUpPaymentCheck" value="0">
                                <input type="checkbox" name="famiPickUpPaymentCheck" class="onoffswitch-checkbox" id="famiPickUpPaymentCheck" value="1" ({if $data.one.famiPickUpPaymentCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="famiPickUpPaymentCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PURE_PICKUP")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="famiPpurePickupCheck" value="0">
                                <input type="checkbox" name="famiPpurePickupCheck" class="onoffswitch-checkbox" id="famiPpurePickupCheck" value="1" ({if $data.one.famiPpurePickupCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="famiPpurePickupCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="famiDetail">({$data.one.famiDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 統一超商取貨(綠界)(B2C) -->
                <div class="card-body tab-pane fade" id="list-setting5">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("UNIMART")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="unimartCheck" value="0">
                                <input type="checkbox" name="unimartCheck" class="onoffswitch-checkbox" id="unimartCheck" value="1" ({if $data.one.unimartCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="unimartCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PICK_UP_PAYMENT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="unimartPickUpPaymentCheck" value="0">
                                <input type="checkbox" name="unimartPickUpPaymentCheck" class="onoffswitch-checkbox" id="unimartPickUpPaymentCheck" value="1" ({if $data.one.unimartPickUpPaymentCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="unimartPickUpPaymentCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PURE_PICKUP")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="unimartPpurePickupCheck" value="0">
                                <input type="checkbox" name="unimartPpurePickupCheck" class="onoffswitch-checkbox" id="unimartPpurePickupCheck" value="1" ({if $data.one.unimartPpurePickupCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="unimartPpurePickupCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="unimartDetail">({$data.one.unimartDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 萊爾富取貨(綠界)(B2C) -->
                <div class="card-body tab-pane fade" id="list-setting6">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("HILIFE")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="hilifeCheck" value="0">
                                <input type="checkbox" name="hilifeCheck" class="onoffswitch-checkbox" id="hilifeCheck" value="1" ({if $data.one.hilifeCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="hilifeCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PICK_UP_PAYMENT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="hilifePickUpPaymentCheck" value="0">
                                <input type="checkbox" name="hilifePickUpPaymentCheck" class="onoffswitch-checkbox" id="hilifePickUpPaymentCheck" value="1" ({if $data.one.hilifePickUpPaymentCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="hilifePickUpPaymentCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PURE_PICKUP")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="hilifePpurePickupCheck" value="0">
                                <input type="checkbox" name="hilifePpurePickupCheck" class="onoffswitch-checkbox" id="hilifePpurePickupCheck" value="1" ({if $data.one.hilifePpurePickupCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="hilifePpurePickupCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="hilifeDetail">({$data.one.hilifeDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 全家取貨(綠界)(C2C) -->
                <div class="card-body tab-pane fade" id="list-setting7">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("FAMIC2C")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="famiC2CCheck" value="0">
                                <input type="checkbox" name="famiC2CCheck" class="onoffswitch-checkbox" id="famiC2CCheck" value="1" ({if $data.one.famiC2CCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="famiC2CCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PICK_UP_PAYMENT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="famiC2CPickUpPaymentCheck" value="0">
                                <input type="checkbox" name="famiC2CPickUpPaymentCheck" class="onoffswitch-checkbox" id="famiC2CPickUpPaymentCheck" value="1" ({if $data.one.famiC2CPickUpPaymentCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="famiC2CPickUpPaymentCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PURE_PICKUP")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="famiC2CPpurePickupCheck" value="0">
                                <input type="checkbox" name="famiC2CPpurePickupCheck" class="onoffswitch-checkbox" id="famiC2CPpurePickupCheck" value="1" ({if $data.one.famiC2CPpurePickupCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="famiC2CPpurePickupCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="famiC2CDetail">({$data.one.famiC2CDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 統一超商取貨(綠界)(C2C) -->
                <div class="card-body tab-pane fade" id="list-setting8">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("UNIMARTC2C")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="unimartC2CCheck" value="0">
                                <input type="checkbox" name="unimartC2CCheck" class="onoffswitch-checkbox" id="unimartC2CCheck" value="1" ({if $data.one.unimartC2CCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="unimartC2CCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PICK_UP_PAYMENT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="unimartC2CPickUpPaymentCheck" value="0">
                                <input type="checkbox" name="unimartC2CPickUpPaymentCheck" class="onoffswitch-checkbox" id="unimartC2CPickUpPaymentCheck" value="1" ({if $data.one.unimartC2CPickUpPaymentCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="unimartC2CPickUpPaymentCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PURE_PICKUP")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="unimartC2CPpurePickupCheck" value="0">
                                <input type="checkbox" name="unimartC2CPpurePickupCheck" class="onoffswitch-checkbox" id="unimartC2CPpurePickupCheck" value="1" ({if $data.one.unimartC2CPpurePickupCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="unimartC2CPpurePickupCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="unimartC2CDetail">({$data.one.unimartC2CDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

                <!-- 萊爾富取貨(綠界)(C2C) -->
                <div class="card-body tab-pane fade" id="list-setting9">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("HILIFEC2C")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="hilifeC2CCheck" value="0">
                                <input type="checkbox" name="hilifeC2CCheck" class="onoffswitch-checkbox" id="hilifeC2CCheck" value="1" ({if $data.one.hilifeC2CCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="hilifeC2CCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PICK_UP_PAYMENT")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="hilifeC2CPickUpPaymentCheck" value="0">
                                <input type="checkbox" name="hilifeC2CPickUpPaymentCheck" class="onoffswitch-checkbox" id="hilifeC2CPickUpPaymentCheck" value="1" ({if $data.one.hilifeC2CPickUpPaymentCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="hilifeC2CPickUpPaymentCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>({$console->getLabel("PURE_PICKUP")})</label>
                            <div class="onoffswitch">
                                <input type="hidden" name="hilifeC2CPpurePickupCheck" value="0">
                                <input type="checkbox" name="hilifeC2CPpurePickupCheck" class="onoffswitch-checkbox" id="hilifeC2CPpurePickupCheck" value="1" ({if $data.one.hilifeC2CPpurePickupCheck==1})checked({/if})>
                                <label class="onoffswitch-label" for="hilifeC2CPpurePickupCheck"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>({$console->getLabel("DESCRIPTION")})</label>
                            <textarea class="form-control" rows="8" name="hilifeC2CDetail">({$data.one.hilifeC2CDetail})</textarea>
                        </div>
                    </div>
                    <small class="text-muted">
                        ({$console->getLabel('UPDATE_DATE')})
                        ({$data.one.update_date})(({$data.one.update_user}))
                    </small>
                </div>

            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({include file='foor.html'})