({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  glyphicon glyphicon-refresh" data-toggle="list" href="javascript:;" onclick="loadData();"> ({$console->getLabel("更新主機使用資訊")})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0 || $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("BASIC_INFORMATION")})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <script>
                        function loadData(){
                            loadingStart();
                            $.ajax({
                                async: true,
                                data: {ajax:"loadData"},
                                success: function(msg){
                                    alert("ok");
                                    loadingStop();
                                    location.reload();
                                }
                            });
                        }
                    </script>
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">({$console->getLabel("NAME")})</th>
                                    <th scope="col">({$console->getLabel("SUB_DOMAIN")})</th>
                                    <th scope="col">({$console->getLabel("ADD_ON_DOMAIN")})</th>
                                    <th scope="col">({$console->getLabel("DATABASE_SIZE")})</th>
                                    <th scope="col">({$console->getLabel("DATA_SIZE")})</th>
                                    <th scope="col">({$console->getLabel("MONTH_BANDWIDTH")})</th>
                                    <!-- <th scope="col">({$console->getLabel("SORT")})</th> -->
                                    <th scope="col">({$console->getLabel("STATUS")})</th>
                                    <th scope="col">({$console->getLabel("CREATE_DATE")})</th>
                                    <!-- <th scope="col">({$console->getLabel("UPDATE_DATE")})</th> -->
                                    <!-- <th scope="col">({$console->getLabel("TOW_SORT")})</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})
                                    <tr>
                                        <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].name})</a>
                                            
                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].subDomain})</a>
                                            <a href="//({$data.list[i].subDomain}).({$web.serverName})" target="_blank"><span class="glyphicon-link" ></span></a>

                                        </td>
                                        <td >
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].addonDomain})</a>
                                            ({if $data.list[i].addonDomain})
                                                <a href="//({$data.list[i].addonDomain})" target="_blank"><span class="glyphicon-link"></span></a>
                                            ({/if})
                                        </td>
                                        <td >
                                            ({$data.list[i].dbSize})
                                        </td>
                                        <td >
                                            ({$data.list[i].dataSize})
                                        </td>
                                        <td >
                                            ({$data.list[i].bandwidth})
                                        </td>
                                        <!-- <td>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control col-md-3" name="sort_({$data.list[i].id})" value="({$data.list[i].sort})" autocomplete="off">
                                            </div>
                                        </td> -->
                                        <td>
                                            <div class="onoffswitch">
                                                <input type="hidden" name="status_({$data.list[i].id})" value="0">
                                                <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if})>
                                                <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                        </td>
                                        <!-- <td >
                                            ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                        </td> -->
                                        <!-- 
                                        <th >
                                            <span class="glyphicon-move" style="font-size: 20px;"></span>
                                        </th> -->
                                                
                                    </tr>

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>
                ({/if})

                ({if $switch.editList!=0 || $switch.addList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('NAME')})</label>
                                <input type="text" name="name" class="form-control" autocomplete="name" value="({$data.one.name})" data-text="({$console->getLabel("NAME")})" required ({if $data.one})readonly({/if})>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('SUB_DOMAIN')})</label>
                                <input type="text" name="subDomain" class="form-control" value="({$data.one.subDomain})" data-text="({$console->getLabel("SUB_DOMAIN")})" required  ({if $data.one})readonly({/if})>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel('ADD_ON_DOMAIN')})</label>
                                <input type="text" name="addonDomain" class="form-control" value="({$data.one.addonDomain})" ({if $data.one})readonly({/if})>
                            </div>
                        </div>
                        
                        ({if $data.one})
                            <script>
                                function addAliasDomain(domain,number){
                                    var domain = domain.trim();
                                    if(domain!=''){
                                        loadingStart();
                                        $.ajax({
                                            async: true,
                                            data: {
                                                ajax : "addAliasDomain",
                                                number : number,
                                                domain : domain
                                            },
                                            success: function(msg){
                                                try {
                                                    loadingStop();
                                                    temp = JSON.parse(msg);
                                                    if (!temp.response) {
                                                        alert(temp.message);
                                                        return false;
                                                    }
                                                    window.location.reload();
                                                } catch (e) {
                                                    alert("error : " + e);
                                                }
                                            }
                                        });
                                    }
                                }
                            </script>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('別名網域1')})</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="aliasDomain1" value="({$data.one.aliasDomain1})" ({if $data.one.aliasDomain1})readonly({/if})>
                                        ({if !$data.one.aliasDomain1})
                                        <div class="input-group-append">
                                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="addAliasDomain($('#aliasDomain1').val(),1);"><span class="glyphicon glyphicon-plus"></span></a>
                                        </div>
                                        ({/if})
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('別名網域2')})</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="aliasDomain2" value="({$data.one.aliasDomain2})" ({if $data.one.aliasDomain2})readonly({/if})>
                                        ({if !$data.one.aliasDomain2})
                                        <div class="input-group-append">
                                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="addAliasDomain($('#aliasDomain2').val(),2);"><span class="glyphicon glyphicon-plus"></span></a>
                                        </div>
                                        ({/if})
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('別名網域3')})</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="aliasDomain3" value="({$data.one.aliasDomain3})" ({if $data.one.aliasDomain3})readonly({/if})>
                                        ({if !$data.one.aliasDomain3})
                                        <div class="input-group-append">
                                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="addAliasDomain($('#aliasDomain3').val(),3);"><span class="glyphicon glyphicon-plus"></span></a>
                                        </div>
                                        ({/if})
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('DATABASE_SIZE')})</label>
                                    <input type="text" class="form-control" value="({$data.one.dbSize})" readonly>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('DATA_SIZE')})</label>
                                    <input type="text" class="form-control" value="({$data.one.dataSize})" readonly>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>({$console->getLabel('MONTH_BANDWIDTH')})</label>
                                    <input type="text" class="form-control" value="({$data.one.bandwidth})" readonly>
                                </div>
                            </div>
                        ({else})
                            <input type="hidden" name="aliasDomain1" value="">
                            <input type="hidden" name="aliasDomain2" value="">
                            <input type="hidden" name="aliasDomain3" value="">
                        ({/if})

                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})(({$data.one.create_user}));
                            ({$console->getLabel('UPDATE_DATE')})
                            ({$data.one.update_date})(({$data.one.update_user}))
                        </small>
                        
                    </div>
                ({/if})
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})