({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck ">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                    ({/if})
                    ({if $switch.addList!=0 || $switch.editList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("BASIC_INFORMATION")})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="list" href="#list-form-data" id="item_detail">({$console->getLabel("CUSTOM_FIELD")})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
            <div class="tab-content">

                ({if $switch.listList!=0})
                    <div class="card-body tab-pane fade show active" id="list-list">
                        <table class="table table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="2%">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input border" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">({$console->getLabel("NAME")})</th>
                                    <!-- <th scope="col">({$console->getLabel("URL")})</th> -->
                                    <th scope="col">({$console->getLabel("SORT")})</th>
                                    <th scope="col">({$console->getLabel("STATUS")})</th>
                                    <th scope="col" width="8%">({$console->getLabel("TOW_SORT")})</th>
                                </tr>
                            </thead>
                            <tbody>
                                ({section name=i loop=$data.list})
                                    <tr data-parent="({$data.list[i].parent})" data-id="({$data.list[i].id})">
                                        <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                <label class="custom-control-label" for="customCheck({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <td >
                                            ({for $j=2 to $data.list[i].floor})&nbsp;&nbsp;&nbsp;&nbsp;({/for})
                                            ({if $data.list[i].floor < $data.maxFloor})
                                                <span class="glyphicon glyphicon-minus" style="color:#6e7892" data-id="({$data.list[i].id})" onclick="treeFoldStar(({$data.list[i].id}))"></span>
                                            ({else})
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            ({/if})
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({if $console->getLabel($data.list[i].name)})({$console->getLabel($data.list[i].name)})({else})({$data.list[i].name})({/if})</a>
                                        </td>
                                        <!-- <td>
                                            <a href="({$data.listUrl})/edit/({$data.list[i].id})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})">({$data.list[i].url})</a>
                                        </td> -->
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control col-md-3" name="sort_({$data.list[i].id})" value="({$data.list[i].sort})" autocomplete="off">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="onoffswitch">
                                                <input type="hidden" name="status_({$data.list[i].id})" value="0">
                                                <input type="checkbox" name="status_({$data.list[i].id})" class="onoffswitch-checkbox" id="myonoffswitch_({$data.list[i].id})" value="1" ({if $data.list[i].status})checked({/if})>
                                                <label class="onoffswitch-label" for="myonoffswitch_({$data.list[i].id})"></label>
                                            </div>
                                        </td>
                                        <th >
                                            <span class="glyphicon-move" style="font-size: 20px;"></span>
                                        </th>
                                    </tr>

                                ({/section})
                                
                            </tbody>
                        </table>          
                    </div>
                ({/if})

                ({if $switch.addList!=0 || $switch.editList!=0})
                    <div class="card-body tab-pane fade show active" id="list-edit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("LANGUAGE_KEY")})</label>
                                <input type="text" class="form-control" name="name" value="({$data.one.name})" data-text="({$console->getLabel("LANGUAGE_KEY")})" required>
                                <small class="text-muted">({$console->getLabel($data.one.name)})</small>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("FEATURES")})</label>
                                <div class="form-group">
                                    <select class="form-control" name="features" data-type="chosen" data-text="({$console->getLabel("FEATURES")})" onchange="selectFeatures(this);" required>
                                        <option value="">({$console->getLabel("PLEASE_CHOOSE")})</option>
                                        ({foreach from=$data.featuresList key=k item=v})
                                            <option value="({$k})" ({if $k==$data.one.features})selected({/if})>({$v})</option>
                                        ({/foreach})
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" id="div_alias">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("ALIAS")})</label>
                                <input type="text" class="form-control" name="alias" value="({$data.one.alias})" data-text="({$console->getLabel("ALIAS")})" required onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9]/g,'');">
                            </div>
                        </div>

                        <div class="form-row" id="div_floor">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("MAX_FLOOR")})</label>
                                <input type="text" class="form-control" name="addMaxFloor" value="({$data.one.addMaxFloor})" data-text="({$console->getLabel("MAX_FLOOR")})" data-check="Number" required>
                            </div>
                        </div>

                        <div class="form-row" id="div_count">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("FRONT_DATA_COUNT")})</label>
                                <input type="text" class="form-control" name="count" value="({$data.one.count})" data-text="({$console->getLabel("FRONT_DATA_COUNT")})" data-check="Number" required>
                            </div>
                        </div>
              
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("FLOOR")})</label>
                                <div class="form-group">
                                    <select class="form-control" name="parent" data-type="chosen" data-text="({$console->getLabel("FLOOR")})" required>
                                        <option value="">({$console->getLabel("PLEASE_CHOOSE")})</option>
                                        <!-- <option value="0,-1" ({if 0===$data.one.parent})selected({/if})>({$console->getLabel("ROOT_DIRECTORY")})</option> -->
                                        ({section name=i loop=$data.list})
                                            ({if $data.list[i].floor < $data.addMaxFloor})
                                            <option value="({$data.list[i].id}),({$data.list[i].floor})" style="margin-left:({$data.list[i].floor+1})em;" ({if $data.list[i].id==$data.one.parent})selected({/if})>({$console->getLabel($data.list[i].name)})</option>
                                            ({/if})
                                        ({/section})
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" id="div_page">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("PAGE_SETTING")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="pageSetting" value="0">
                                    <input type="checkbox" name="pageSetting" class="onoffswitch-checkbox" id="pageSetting" value="1" ({if $data.one.pageSetting})checked({/if})>
                                    <label class="onoffswitch-label" for="pageSetting"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" id="div_form">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("FORM_DATA")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="formData" value="0">
                                    <input type="checkbox" name="formData" class="onoffswitch-checkbox" id="formData" value="1" ({if $data.one.formData})checked({/if})>
                                    <label class="onoffswitch-label" for="formData"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" id="div_shipment">
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("MAILING")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="mailingCheck" value="0">
                                    <input type="checkbox" name="mailingCheck" class="onoffswitch-checkbox" id="mailingCheck" value="1" ({if $data.one.mailingCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="mailingCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("TCAT_BLACK_CAT")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="tcatBlackCatCheck" value="0">
                                    <input type="checkbox" name="tcatBlackCatCheck" class="onoffswitch-checkbox" id="tcatBlackCatCheck" value="1" ({if $data.one.tcatBlackCatCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="tcatBlackCatCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("ECAN_HOME_DELIVERY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="ecanHomeDeliveryCheck" value="0">
                                    <input type="checkbox" name="ecanHomeDeliveryCheck" class="onoffswitch-checkbox" id="ecanHomeDeliveryCheck" value="1" ({if $data.one.ecanHomeDeliveryCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="ecanHomeDeliveryCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("FAMI")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="famiCheck" value="0">
                                    <input type="checkbox" name="famiCheck" class="onoffswitch-checkbox" id="famiCheck" value="1" ({if $data.one.famiCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="famiCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("UNIMART")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="unimartCheck" value="0">
                                    <input type="checkbox" name="unimartCheck" class="onoffswitch-checkbox" id="unimartCheck" value="1" ({if $data.one.unimartCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="unimartCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("HILIFE")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="hilifeCheck" value="0">
                                    <input type="checkbox" name="hilifeCheck" class="onoffswitch-checkbox" id="hilifeCheck" value="1" ({if $data.one.hilifeCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="hilifeCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("FAMIC2C")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="famiC2CCheck" value="0">
                                    <input type="checkbox" name="famiC2CCheck" class="onoffswitch-checkbox" id="famiC2CCheck" value="1" ({if $data.one.famiC2CCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="famiC2CCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("UNIMARTC2C")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="unimartC2CCheck" value="0">
                                    <input type="checkbox" name="unimartC2CCheck" class="onoffswitch-checkbox" id="unimartC2CCheck" value="1" ({if $data.one.unimartC2CCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="unimartC2CCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("HILIFEC2C")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="hilifeC2CCheck" value="0">
                                    <input type="checkbox" name="hilifeC2CCheck" class="onoffswitch-checkbox" id="hilifeC2CCheck" value="1" ({if $data.one.hilifeC2CCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="hilifeC2CCheck"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" id="div_payment">
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("CASH_ON_DELIVERY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="cashOnDeliveryCheck" value="0">
                                    <input type="checkbox" name="cashOnDeliveryCheck" class="onoffswitch-checkbox" id="cashOnDeliveryCheck" value="1" ({if $data.one.cashOnDeliveryCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="cashOnDeliveryCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("PHYSICAL_ATM_TRANSFER")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="physicalATMTransferCheck" value="0">
                                    <input type="checkbox" name="physicalATMTransferCheck" class="onoffswitch-checkbox" id="physicalATMTransferCheck" value="1" ({if $data.one.physicalATMTransferCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="physicalATMTransferCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("PHYSICAL_ATM_TRANSFER_ECPAY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="physicalATMTransferECPayCheck" value="0">
                                    <input type="checkbox" name="physicalATMTransferECPayCheck" class="onoffswitch-checkbox" id="physicalATMTransferECPayCheck" value="1" ({if $data.one.physicalATMTransferECPayCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="physicalATMTransferECPayCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("INTERNET_ATM_TRANSFER_ECPAY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="internetATMTransferECPayCheck" value="0">
                                    <input type="checkbox" name="internetATMTransferECPayCheck" class="onoffswitch-checkbox" id="internetATMTransferECPayCheck" value="1" ({if $data.one.internetATMTransferECPayCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="internetATMTransferECPayCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("ONLINE_CARD_ECPAY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="onlineCardECPayCheck" value="0">
                                    <input type="checkbox" name="onlineCardECPayCheck" class="onoffswitch-checkbox" id="onlineCardECPayCheck" value="1" ({if $data.one.onlineCardECPayCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="onlineCardECPayCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("CONVENIENCE_STORE_PICK_UP_PAYMENT_ECPAY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="convenienceStorePickUpPaymentECPayCheck" value="0">
                                    <input type="checkbox" name="convenienceStorePickUpPaymentECPayCheck" class="onoffswitch-checkbox" id="convenienceStorePickUpPaymentECPayCheck" value="1" ({if $data.one.convenienceStorePickUpPaymentECPayCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="convenienceStorePickUpPaymentECPayCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("CVS_ECPAY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="cvsECPayCheck" value="0">
                                    <input type="checkbox" name="cvsECPayCheck" class="onoffswitch-checkbox" id="cvsECPayCheck" value="1" ({if $data.one.cvsECPayCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="cvsECPayCheck"></label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>({$console->getLabel("BARCODE_ECPAY")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="barcodeECPayCheck" value="0">
                                    <input type="checkbox" name="barcodeECPayCheck" class="onoffswitch-checkbox" id="barcodeECPayCheck" value="1" ({if $data.one.barcodeECPayCheck|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="barcodeECPayCheck"></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>({$console->getLabel("STATUS")})</label>
                                <div class="onoffswitch">
                                    <input type="hidden" name="status" value="0">
                                    <input type="checkbox" name="status" class="onoffswitch-checkbox" id="status" value="1" ({if $data.one.status|| $switch.addList!=0})checked({/if})>
                                    <label class="onoffswitch-label" for="status"></label>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">
                            ({$console->getLabel('CREATE_DATE')})
                            ({$data.one.create_date})(({$data.one.create_user}));
                            ({$console->getLabel('UPDATE_DATE')})
                            ({$data.one.update_date})(({$data.one.update_user}))
                        </small>
                    </div>

                        <!-- 表單資料 -->
                        <div class="card-body tab-pane fade" id="list-form-data">
                            <input class="btn btn-outline-secondary mb-3" type="button" value="({$console->getLabel('ADD_DATA')})" onclick="addFormData();">
                            <div class="form-row form-inline" id="specifications_div" >
                                <input type="hidden" name="dataName">
                                <input type="hidden" name="dataType">
                                <input type="hidden" name="dataOption">
                                <input type="hidden" name="dataRequired">
                                ({section name=i loop=$data.one.dataName})
                                    <div class="col-md-12 mb-3 specifications-div">
                                        <span> ({$console->getLabel('LANGUAGE_KEY')})：</span><input type="text" class="form-control" name="dataName[]" data-text="({$console->getLabel('LANGUAGE_KEY')})" value="({$data.one.dataName[i]})" required autocomplete="off" >

                                        <span> ({$console->getLabel('KEY')})：</span><input type="text" class="form-control" name="dataKey[]" data-text="({$console->getLabel('KEY')})" value="({$data.one.dataKey[i]})" data-check="Only" required onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9_]/g,'');" onblur="this.value=this.value.replace(/[^a-zA-Z0-9_]/g,'');" autocomplete="off">

                                        <span> ({$console->getLabel('TYPE')})：</span><select type="text" class="form-control" name="dataType[]" onchange="selectType(this);">
                                            ({foreach from=$data.typeOption key=k item=v})
                                                <option value="({$k})" ({if $k==$data.one.dataType[i]})selected({/if})>({$v})</option>
                                            ({/foreach})
                                        </select>
                                        
                                        <span class="count_div" ({if !($data.one.dataType[i]=="imageModule" || $data.one.dataType[i]=="fileModule")})style="display:none"({/if})>
                                            <span> ({$console->getLabel('UP_COUNT')})：</span><input type="text" class="form-control" name="dataCount[]" data-text="({$console->getLabel('UP_COUNT')})" value="({$data.one.dataCount[i]})" data-check="Number" ({if ($data.one.dataType[i]=="imageModule" || $data.one.dataType[i]=="fileModule")})required({/if}) size="4" autocomplete="off" >
                                        </span>

                                        <span class="search_div" ({if !($data.one.dataType[i]=="search")})style="display:none"({/if})>
                                            <span> ({$console->getLabel('FORM_NAME')})：</span><input type="text" class="form-control" name="dataSearch[]" data-text="({$console->getLabel('FORM_NAME')})" value="({$data.one.dataSearch[i]})" ({if ($data.one.dataType[i]=="search")})required({/if}) autocomplete="off" >
                                            <span> ({$console->getLabel('SEARCH_COUNT')})：</span><input type="text" class="form-control" name="dataSearchCount[]" data-text="({$console->getLabel('SEARCH_COUNT')})" value="({$data.one.dataSearchCount[i]})" data-check="Number" ({if ($data.one.dataType[i]=="search")})required({/if}) size="4" autocomplete="off" >
                                        </span>

                                        <span class="option_div" ({if !($data.one.dataType[i]=="fileModule")})style="display:none"({/if})>
                                            <span> ({$console->getLabel('EXTENSION')})：</span><textarea class="form-control" name="dataExtension[]" data-text="({$console->getLabel('EXTENSION')})" placeholder="mp3,pdf" ({if ($data.one.dataType[i]=="fileModule")})required({/if})>({$data.one.dataExtension[i]})</textarea>
                                        </span>

                                        <span> ({$console->getLabel('SUGGEST_TEXT')})：</span><input type="text" class="form-control" name="dataSuggestText[]" data-text="({$console->getLabel('SUGGEST_TEXT')})" value="({$data.one.dataSuggestText[i]})" autocomplete="off" >

                                        <span class="count_div" ({if !($data.one.dataType[i]=="imageModule" || $data.one.dataType[i]=="fileModule")})style="display:none"({/if})>

                                            <br><br><span> ({$console->getLabel('TEXT_OTHER')})：</span><textarea class="form-control" name="dataTextOther[]" data-text="({$console->getLabel('TEXT_OTHER')})" placeholder="Href,Alt">({$data.one.dataTextOther[i]})</textarea>
                                            <span> ({$console->getLabel('TEXT_OTHER_TEXT')})：</span><textarea class="form-control" name="dataTextOtherText[]" data-text="({$console->getLabel('TEXT_OTHER_TEXT')})" placeholder="TEXT,文字">({$data.one.dataTextOtherText[i]})</textarea>
                                            <span> ({$console->getLabel('TEXT_AREAOTHER')})：</span><textarea class="form-control" name="dataTextareaOther[]" data-text="({$console->getLabel('TEXT_AREAOTHER')})" placeholder="Href,Alt">({$data.one.dataTextareaOther[i]})</textarea>
                                            <span> ({$console->getLabel('TEXT_AREAOTHER_TEXT')})：</span><textarea class="form-control" name="dataTextareaOtherText[]" data-text="({$console->getLabel('TEXT_AREAOTHER_TEXT')})" placeholder="TEXT,文字">({$data.one.dataTextareaOtherText[i]})</textarea>
                                        </span>

                                        <span> </span><input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">
                                    </div>
                                ({/section})
                            </div>
                            <small class="text-muted">
                                ({$console->getLabel('CREATE_DATE')})
                                ({$data.one.create_date})(({$data.one.create_user}));
                                ({$console->getLabel('UPDATE_DATE')})
                                ({$data.one.update_date})(({$data.one.update_user}))
                            </small>
                        </div>
                        <script>
                            var checkboxI=0;
                            function addFormData(){
                                $('#specifications_div').append(''+
                                '<div class="col-md-12 mb-3 specifications-div">'+
                                    '<span> ({$console->getLabel('LANGUAGE_KEY')})：</span><input type="text" class="form-control" name="dataName[]" data-text="({$console->getLabel('LANGUAGE_KEY')})" value="" required autocomplete="off" >'+
                                    '<span> ({$console->getLabel('KEY')})：</span><input type="text" class="form-control" name="dataKey[]" data-text="({$console->getLabel('KEY')})" value="" data-check="Only" required autocomplete="off" onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9_]/g,\'\');" onblur="this.value=this.value.replace(/[^a-zA-Z0-9_]/g,\'\');">'+
                                    '<span> ({$console->getLabel('TYPE')})：</span><select type="text" class="form-control" name="dataType[]" onchange="selectType(this);">'+
                                        ({foreach from=$data.typeOption key=k item=v})
                                            '<option value="({$k})">({$v})</option>'+
                                        ({/foreach})
                                    '</select>'+
                                    '<span class="count_div" style="display:none">'+
                                        '<span> ({$console->getLabel('UP_COUNT')})：</span><input type="text" class="form-control" name="dataCount[]" data-text="({$console->getLabel('UP_COUNT')})" value="" data-check="Number" size="4" autocomplete="off" >'+
                                    '</span> '+
                                    '<span class="search_div" style="display:none">'+
                                        '<span> ({$console->getLabel('FORM_NAME')})：</span><input type="text" class="form-control" name="dataSearch[]" data-text="({$console->getLabel('FORM_NAME')})" value=""  autocomplete="off" >'+
                                        '<span> ({$console->getLabel('SEARCH_COUNT')})：</span><input type="text" class="form-control" name="dataSearchCount[]" data-text="({$console->getLabel('SEARCH_COUNT')})" value="" data-check="Number" size="4" autocomplete="off" >'+
                                    '</span> '+
                                    '<span class="option_div" style="display:none">'+
                                        '<span> ({$console->getLabel('EXTENSION')})：</span><textarea class="form-control" name="dataExtension[]" data-text="({$console->getLabel('EXTENSION')})" placeholder="mp3,pdf"></textarea>'+
                                    '</span> '+
                                    '<span> ({$console->getLabel('SUGGEST_TEXT')})：</span><input type="text" class="form-control" name="dataSuggestText[]" data-text="({$console->getLabel('SUGGEST_TEXT')})" value=""  autocomplete="off" >'+
                                    '<span class="count_div" style="display:none">'+
                                        '<br><br><span> ({$console->getLabel('TEXT_OTHER')})：</span><textarea class="form-control" name="dataTextOther[]" data-text="({$console->getLabel('TEXT_OTHER')})" placeholder="Href,Alt"></textarea>'+
                                        '<span> ({$console->getLabel('TEXT_OTHER_TEXT')})：</span><textarea class="form-control" name="dataTextOtherText[]" data-text="({$console->getLabel('TEXT_OTHER_TEXT')})" placeholder="TEXT,文字"></textarea>'+
                                        '<span> ({$console->getLabel('TEXT_AREAOTHER')})：</span><textarea class="form-control" name="dataTextareaOther[]" data-text="({$console->getLabel('TEXT_AREAOTHER')})" placeholder="Href,Alt"></textarea>'+
                                        '<span> ({$console->getLabel('TEXT_AREAOTHER_TEXT')})：</span><textarea class="form-control" name="dataTextareaOtherText[]" data-text="({$console->getLabel('TEXT_AREAOTHER_TEXT')})" placeholder="TEXT,文字"></textarea>'+
                                    '</span> '+
                                    '<span> </span><input class="btn btn-outline-secondary" style="float:right;" type="button" value="({$console->getLabel('DELETE')})" onclick="$(this).parent().remove();">'+
                                '</div>');
                                checkboxI++;
                            }
                            $(function(){
                                $('#specifications_div').sortable({
                                    animation: 200,
                                    items: '.specifications-div'
                                });
                                selectFeatures();
                            });
                            function selectType(obj){
                                if($(obj).val() == "search"){
                                    $(obj).parent().find(".search_div").show().find("input,textarea").prop('required',true);
                                }else{
                                    $(obj).parent().find(".search_div").hide().find("input,textarea").prop('required',false).val('');
                                }
                                var temp = ["imageModule","fileModule"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $(obj).parent().find(".count_div").show().find("input").prop('required',true);
                                    if($(obj).val() == "fileModule"){
                                        $(obj).parent().find(".option_div").show().find("input,textarea").prop('required',true);
                                    }else{
                                        $(obj).parent().find(".option_div").hide().find("input,textarea").prop('required',false).val('');
                                    }
                                }else{
                                    $(obj).parent().find(".count_div").hide().find("input").prop('required',false).val('');
                                    $(obj).parent().find(".option_div").hide().find("input,textarea").prop('required',false).val('');
                                }
                            }
                        
                            function selectFeatures(obj){
                                if(!obj) obj = $("[name='features']");
                                var temp = ["_null","member","order","memberLog/member","_other_form","setting/web","setting/payment","setting/shipment"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $("#item_detail").hide();
                                    $("#list-form-data .specifications-div").remove();
                                    if($(obj).val()!="_other_form"){
                                        $("#div_alias").hide().find("input[type!='button'][type!='hidden']").prop('required',false).val('');
                                    }
                                }else{
                                    $("#item_detail").show();
                                    $("#div_alias").show().find("input[type!='button'][type!='hidden']").prop('required',true);
                                }
                                if($(obj).val() == "basic/product" || $(obj).val() == "class/product" || $(obj).val() == "setting/web"){
                                    $("#div_alias").hide().find("input[type!='button'][type!='hidden']").prop('required',false).val('');
                                }
                                var temp = ["_other_basic","basic/product"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $("#div_count").show().find("input").prop('required',true);
                                }else{
                                    $("#div_count").hide().find("input").prop('required',false).val('');
                                }
                                if($(obj).val()=="_other_class" || $(obj).val()=="class/product"){
                                    $("#div_floor").show().find("input").prop('required',true);
                                }else{
                                    $("#div_floor").hide().find("input").prop('required',false).val('');
                                }
                                var temp = ["_other_basic","_other_basicOne","_other_class","class/product","basic/product"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $("#div_page").show();
                                }else{
                                    $("#div_page").hide();
                                }
                                var temp = ["_other_basic","_other_basicOne","_other_class","class/product","basic/product"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $("#div_form").show();
                                }else{
                                    $("#div_form").hide();
                                }
                                var temp = ["setting/shipment"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $("#div_shipment").show();
                                }else{
                                    $("#div_shipment").hide();
                                }
                                var temp = ["setting/payment"];
                                if(temp.indexOf($(obj).val())>-1){
                                    $("#div_payment").show();
                                }else{
                                    $("#div_payment").hide();
                                }
                                if($(obj).val()=="class/product" || $(obj).val()=="basic/product"){
                                    $("input[name='alias']").val("product");
                                }

                            }
                        </script>

                ({/if})
            </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({if $switch.listList!=0})
    <nav class="navbar">
        　({$data.pageNumber->getHTML('bootstrap')})
    </nav>
({/if})
({include file='foor.html'})