({include file='top.html'})
<form action="" method="POST">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    ({if $switch.listList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-list">({$console->getLabel("LIST")})</a>
                        </li>
                    ({/if})
                    ({if $switch.editList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-edit">({$console->getLabel("EDIT")})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="list" href="#list-test">({$console->getLabel("DESCRIPTION")})</a>
                        </li>
                    ({/if})
                    ({if $switch.addList!=0})
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#list-add">({$console->getLabel("ADD")})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="list" href="#list-test">({$console->getLabel("DESCRIPTION")})</a>
                        </li>
                    ({/if})
                </ul>
            </div>
                <div class="tab-content">

                    ({if $switch.listList!=0})
                        <div class="card-body tab-pane fade show active" id="list-list">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" width="2%">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input border" id="checkAll">
                                                <label class="custom-control-label" for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th scope="col">({$console->getLabel("NAME")})</th>
                                        <th scope="col">({$console->getLabel("FILE_NAME")})</th>
                                        <th scope="col">({$console->getLabel("SORT")})</th>
                                        <th scope="col">({$console->getLabel("CREATE_DATE")})</th>
                                        <th scope="col">({$console->getLabel("UPDATE_DATE")})</th>
                                        <!-- <th scope="col">({$console->getLabel("REFERENCE_METHOD")})</th> -->
                                        <th scope="col" width="8%">({$console->getLabel("TOW_SORT")})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ({section name=i loop=$data.list})
                                        <tr>
                                            <td scope="row">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck_({$data.list[i].id})" name="checkElement[]" value="({$data.list[i].id})">
                                                    <label class="custom-control-label" for="customCheck_({$data.list[i].id})"></label>
                                                </div>
                                            </td>
                                            <td><a href="({$data.listUrl})/edit/({$data.list[i].id})">({$data.list[i].detail})</a></td>
                                            <td><a href="({$data.listUrl})/edit/({$data.list[i].id})">({$data.list[i].name})</a></td>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control col-md-3" name="sort_({$data.list[i].id})" value="({$data.list[i].sort})" autocomplete="off">
                                                </div>
                                            </td>
                                            <!-- <td>
                                                <div class="col-md-4 mb-3">
                                                    <input type="text" class="form-control" value="({literal})({({/literal})file='({$data.list[i].name})'({literal})})({/literal})" autocomplete="off" readonly>
                                                </div>
                                            </td> -->
                                            <td >
                                                ({$data.list[i].create_date})(({$data.list[i].create_user}))
                                            </td>
                                            <td >
                                                ({$data.list[i].update_date})(({$data.list[i].update_user}))
                                            </td>
                                            <th >
                                                <span class="glyphicon-move" style="font-size: 20px;"></span>
                                            </th>
                                        </tr>
                                    ({/section})
                                </tbody>
                            </table>            
                        </div>
                    ({/if})

                    ({if $switch.editList!=0})
                        <div class="card-body tab-pane fade show active" id="list-edit">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>({$console->getLabel("NAME")})</label>
                                    <input type="text" name="detail" class="form-control" value="({$data.one.detail})" autocomplete="off" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>({$console->getLabel("FILE_NAME")})</label>
                                    <input type="text" name="name" class="form-control" value="({$data.one.name})" autocomplete="off" required>
                                </div>
                            </div>
                            ({if $console->path[1]=="web"})
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>({$console->getLabel("USE_DATA")})</label>
                                    <div class="form-group">
                                        <input type="hidden" name="useTables">
                                        <select class="form-control" name="useTables[]" data-type="chosen" data-text="({$console->getLabel("USE_DATA")})" data-placeholder="({$console->getLabel("PLEASE_CHOOSE")})" multiple>
                                            ({section name=i loop=$data.tables})
                                                <option value="({$data.tables[i]})" ({if $data.one.useTables && in_array($data.tables[i],$data.one.useTables)})selected({/if})>({$data.tables[i]})</option>
                                            ({/section})
                                        </select>
                                        <small class="text-muted">({$console->getLabel('USE_DATA_SMALL')})</small>
                                    </div>
                                </div>
                            </div>
                            ({/if})
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label>({$console->getLabel("DETAIL")})</label>
                                    ({include file='module.aceEditor.html'})
                                </div>
                            </div>
                            <small class="text-muted">
                                ({$console->getLabel('CREATE_DATE')})
                                ({$data.one.create_date})(({$data.one.create_user}));
                                ({$console->getLabel('UPDATE_DATE')})
                                ({$data.one.update_date})(({$data.one.update_user}))
                            </small>
                        </div>
                    ({/if})

                    ({if $switch.addList!=0})
                        <div class="card-body tab-pane fade show active" id="list-add">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>({$console->getLabel("NAME")})</label>
                                    <input type="text" name="detail" class="form-control" value="" autocomplete="off" required>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>({$console->getLabel("FILE_NAME")})</label>
                                    <input type="text" name="name" class="form-control" value="" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>({$console->getLabel("USE_DATA")})</label>
                                    <div class="form-group">
                                        <input type="hidden" name="useTables">
                                        <select class="form-control" name="useTables[]" data-type="chosen" data-text="({$console->getLabel("USE_DATA")})" data-placeholder="({$console->getLabel("PLEASE_CHOOSE")})" multiple>
                                            ({section name=i loop=$data.tables})
                                                <option value="({$data.tables[i]})">({$data.tables[i]})</option>
                                            ({/section})
                                        </select>
                                        <small class="text-muted">({$console->getLabel('USE_DATA_SMALL')})</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label>({$console->getLabel("DETAIL")})</label>
                                    ({include file='module.aceEditor.html'})
                                </div>
                            </div>
                        </div>
                    ({/if})
                    <div class="card-body tab-pane fade" id="list-test">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <textarea class="form-control" readonly rows="60">({include file="description"})</textarea>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    ({$console->getToken()})
</form>
({include file='foor.html'})