<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- path -->
    <base href="({$web.main_path})/" target="">
    <!-- RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google" value="notranslate">
    
    <link rel="stylesheet" href="css/serback/back.css?0307">
    <link rel="stylesheet" href="css/serback/MTsung.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">

    <script src="//apis.google.com/js/api:client.js?hl=({$lang})"></script>
    <script src="js/serback/jquery.all.min.js?0307"></script>
    <script src="js/config.js" id="config" data-lang="({$lang})" data-path="({$web.main_path})" data-fb_app_id="({$web.fbAuthAppID})" data-google_client_id="({$web.googleAuthAppID})"></script>
    <script src="js/serback/bootstrap.min.js?0307"></script>
    <script src="js/serback/bootstrap.bundle.min.js?0307"></script>
    <script src="js/serback/back_js.js?0307"></script>
    <script src="js/socialLogin.js"></script>
    <script src="js/validation.js"></script>
    <script src="js/serback/Chart.bundle.js"></script>
    <script src="include/ckfinder/ckfinder.js"></script>
    <script src='//www.google.com/recaptcha/api.js?hl=({$lang})' async defer></script>
    <script src="include/ace-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="include/ace-noconflict/ext-language_tools.js"></script>
    <script src="js/serback/tinymce/tinymce.min.js"></script>

    <title>({if isset($console->getLabel($breadcru[0].name))})({$console->getLabel($breadcru[0].name)})-({/if})({$web.title}) ({$console->getLabel('LOGIN_TITEL')})</title>

    <link rel="icon" href="({$web.icon})" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="({$web.icon})">
    <link rel="apple-touch-icon-precomposed" href="({$web.icon})">
    
</head>

<body>
    <div class="div-full"></div>
    <nav class="navbar fixed-top navbar-dark" style="background-color:#192e5b;">
        <div>
            <a href="({$web.serback_url})/index"><img src="({$web.icon})" height="35"></a>
            <a class="navbar-brand nav-title" href="({$web.serback_url})/index">({$web.title|truncate:11:"...":true}) ({$console->getLabel('LOGIN_TITEL')})</a>
        </div>
        <div class="btn-group">
            ({if $switch.buttonBox!=0})
                <div class="nav-title">
                    <div class="btn-group">
                        ({if $switch.redoButton!=0})
                            <a class="btn btn-outline-light" href="javascript:;" onclick="({if $data.redoOnClick})({$data.redoOnClick})({/if})"><span class="glyphicon glyphicon-repeat"></span> ({$console->getLabel('REDO')})</a>
                        ({/if})
                        ({if $switch.editButton!=0})
                            <a class="btn btn-outline-light" href="javascript:;"><span class="glyphicon glyphicon-pencil"></span> ({$console->getLabel('EDITOR')})</a>
                        ({/if})
                        ({if $switch.saveButton!=0})
                            <a class="btn btn-outline-light" href="javascript:;" onclick="formSubmit(({$switch.searchBox}));"><span class="glyphicon glyphicon-ok"></span> ({$console->getLabel('SAVE')})</a>
                        ({/if})
                        ({if $switch.addButton!=0})
                            <a class="btn btn-outline-light" href="javascript:;" onclick="({if $data.addOnClick})({$data.addOnClick})({/if})"><span class="glyphicon glyphicon-plus"></span> ({$console->getLabel('ADD')})</a>
                        ({/if})
                        ({if $switch.exportButton!=0})
                            <a class="btn btn-outline-light" href="({$console->addQuery(['export'=>'1'])})"><span class="glyphicon glyphicon-export"></span> ({$console->getLabel('EXPORT')})</a>
                        ({/if})
                        ({if $switch.deleteButton!=0})
                            <a class="btn btn-outline-light" href="javascript:;" onclick="formSubmitDelete(({$switch.searchBox}));"><span class="glyphicon glyphicon-remove"></span> ({$console->getLabel('DELETE')})</a>
                        ({/if})
                        ({if $switch.backButton!=0})
                            <a class="btn btn-outline-light" href="({if $data.listUrl})({$data.listUrl})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})({/if})"><span class="glyphicon glyphicon-th-list"></span> ({$console->getLabel('BACK')})</a>
                        ({/if})
                    </div>
                </div> 
                &nbsp;
            ({/if})
            <a href="({$web.serback_url})/profile"><img src="({$member.picture})" class="rounded-circle " onerror="this.src='images/ProfilePicture.jpg'" height="40"></a>&nbsp;
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- ({$member.name}) -->MENU
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" target="_blank" href="({$web.main_url})">({$console->getLabel("MENU_VIEW")})</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="({$web.serback_url})/profile">({$console->getLabel('MENU_PROFILE')})</a>
                <!-- <a class="dropdown-item" href="({$web.serback_url})/message">({$console->getLabel('MENU_MESSAGE')})</a> -->
                <!-- <a class="dropdown-item" href="({$web.serback_url})/setting">({$console->getLabel("MENU_SETTING")})</a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="({$web.serback_url})/login">({$console->getLabel('MENU_LOGOUT')})</a>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <nav id="sidebar">
            ({if $web.analyticsCheck})
                <ul class="list-unstyled components">
                    <p>({$console->getLabel("FRONT_VIEWS_COUNT")})</p>
                    <img src="mathcode.php?bgcolor=1d65a6" width="100%">
                </ul>
            ({/if})
            ({if count($console->getLanguageArray("array"))>1})
                <ul class="list-unstyled components">
                    <!-- <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>主題</option>
                            <option>一般</option>
                            <option>一般1</option>
                        </select>
                    </div> -->
                    <p>({$console->getLabel('VIEW_LANG')})</p>
                    ({$console->getLanguageArray('html','/serback','form-control')})
                </ul>
                <ul class="list-unstyled components">

                    <p>({$console->getLabel('SETTING_LANG')})</p>
                    ({$console->getLanguageArray('serback','','form-control')})
                </ul>
            ({/if})

            <ul class="list-unstyled components">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="({$console->getLabel("SEARCH_KEYWORD")})" onkeyup="searchMenu(this.value);">
                </div>
            </ul>
            ({section name=i loop=$menu[0]})
                <ul class="list-unstyled components">
                    <p>({$console->getLabel($menu[0][i].name)})</p>

                    ({section name=j loop=$menu[1]})
                        ({if $menu[0][i].id == $menu[1][j].parent})
                            <li class="active">
                                <a href="#menu_({$menu[1][j].id})" data-toggle="collapse" aria-expanded="false">({$console->getLabel($menu[1][j].name)})</a>
                                <ul class="collapse list-unstyled" id="menu_({$menu[1][j].id})">

                                    ({section name=k loop=$menu[2]})
                                        ({if $menu[1][j].id == $menu[2][k].parent})
                                        ({if $menu[2][k].url!="systemMenu" || $member.account=="vipadmin"})
                                            <li><a href="({$web.serback_url})/({$menu[2][k].url})">({$console->getLabel($menu[2][k].name)})({if $menu[2][k].features=="_other_class"}) - ({$console->getLabel("CLASS")})({/if})</a></li>
                                        ({/if})
                                        ({/if})
                                    ({/section})
                                </ul>
                            </li>
                        ({/if})
                    ({/section})
                </ul>
            ({/section})
            <ul class="list-unstyled components">
                <p>&copy; 2019 vipcase</p>
            </ul>
            <br><br><br><br><br><br><br><br><br><br><br>
        </nav>
        <button type="button" id="sidebarCollapse" class="glyphicon-menu-hamburger"></button>
        <div id="content" class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="({$web.serback_url})">({$console->getLabel('INDEX')})</a></li>
                    ({section name=i loop=$breadcru})
                        <li class="breadcrumb-item active" aria-current="page"><a href="({$web.serback_url})/({$breadcru[i].url})">({$console->getLabel($breadcru[i].name)})</a></li>
                    ({/section})
                    <!-- <li class="breadcrumb-item active" aria-current="page">({$console->getLabel('MEMBER_CENTRE')})</li> -->
                </ol>
            </nav>
            ({if $switch.buttonBox!=0})
                <style>
                    #btnBox { display: block; }
                    @media only screen and (min-width:768px) {
                        #btnBox { display: none; }
                    }
                </style>
                <div class="text-right mb-3" id="btnBox">
                    <div class="btn-group">
                        ({if $switch.redoButton!=0})
                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="({if $data.redoOnClick})({$data.redoOnClick})({/if})"><span class="glyphicon glyphicon-repeat"></span> ({$console->getLabel('REDO')})</a>
                        ({/if})
                        ({if $switch.editButton!=0})
                            <a class="btn btn-outline-secondary" href="javascript:;"><span class="glyphicon glyphicon-pencil"></span> ({$console->getLabel('EDITOR')})</a>
                        ({/if})
                        ({if $switch.saveButton!=0})
                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="formSubmit(({$switch.searchBox}));"><span class="glyphicon glyphicon-ok"></span> ({$console->getLabel('SAVE')})</a>
                        ({/if})
                        ({if $switch.addButton!=0})
                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="({if $data.addOnClick})({$data.addOnClick})({/if})"><span class="glyphicon glyphicon-plus"></span> ({$console->getLabel('ADD')})</a>
                        ({/if})
                        ({if $switch.exportButton!=0})
                            <a class="btn btn-outline-secondary" href="({$console->addQuery(['export'=>'1'])})"><span class="glyphicon glyphicon-export"></span> ({$console->getLabel('EXPORT')})</a>
                        ({/if})
                        ({if $switch.deleteButton!=0})
                            <a class="btn btn-outline-secondary" href="javascript:;" onclick="formSubmitDelete(({$switch.searchBox}));"><span class="glyphicon glyphicon-remove"></span> ({$console->getLabel('DELETE')})</a>
                        ({/if})
                        ({if $switch.backButton!=0})
                            <a class="btn btn-outline-secondary" href="({if $data.listUrl})({$data.listUrl})({if $smarty.server.QUERY_STRING})?({$smarty.server.QUERY_STRING})({/if})({/if})"><span class="glyphicon glyphicon-th-list"></span> ({$console->getLabel('BACK')})</a>
                        ({/if})
                    </div>
                </div> 
            ({/if})
            ({if $switch.searchBox!=0})
                <form accept="" method="GET">

                    ({foreach from=$smarty.get key=k item=v})
                        ({if $k!="searchKeyWord" && $k!="startDate" && $k!="endDate" && $k!="status" && $k!="per" && $k!="class"})
                            <!-- <input type="hidden" value="({$v})" name="({$k})"> -->
                        ({/if})
                    ({/foreach})
                    ({if isset($smarty.get.searchKeyWord)})
                        <script>
                            $(function(){
                                ({if $console->path[0]=="form"})
                                    $('.ui-sortable tr').find("td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5)").unhighlight().highlight("({$smarty.get.searchKeyWord})".split(" "));
                                ({else if $console->path[0]=="member"})
                                    $('.ui-sortable tr').find("td:eq(1),td:eq(2),td:eq(3)").unhighlight().highlight("({$smarty.get.searchKeyWord})".split(" "));
                                ({else if $console->path[0]=="systemLog"})
                                    $('.ui-sortable tr').find("td:eq(0),td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5)").unhighlight().highlight("({$smarty.get.searchKeyWord})".split(" "));
                                ({else})
                                    $('.ui-sortable tr').find("td:eq(1)").unhighlight().highlight("({$smarty.get.searchKeyWord})".split(" "));
                                ({/if})
                            });
                        </script>
                    ({/if})
                    <div class="input-group text-center mb-3">
                        <div class="input-group-append">
                            <input type="text" class="form-control" size="50" name="searchKeyWord" value="({if isset($smarty.get.searchKeyWord)})({$smarty.get.searchKeyWord})({/if})" placeholder="({$console->getLabel("SEARCH_KEYWORD")})">
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">({$console->getLabel("FROM")})</span>
                        </div>
                        <div class="input-group-append">
                            <input type="date" value="({if isset($smarty.get.startDate)})({$smarty.get.startDate})({/if})" class="form-control" name="startDate">
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">({$console->getLabel("TO")})</span>
                        </div>
                        <div class="input-group-append">
                            <input type="date" value="({if isset($smarty.get.endDate)})({$smarty.get.endDate})({/if})" class="form-control" name="endDate">
                        </div>
                        <div class="input-group-append">
                            <div class="input-group-append">
                                <span class="input-group-text">({$console->getLabel("STATUS")})</span>
                            </div>
                            <select name="status"　 class="form-control">
                                <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                <option value="1" ({if isset($smarty.get.status) && $smarty.get.status=='1'})selected({/if})>({$console->getLabel("STATUS_1")})</option>
                                <option value="0" ({if isset($smarty.get.status) && $smarty.get.status=='0'})selected({/if})>({$console->getLabel("STATUS_0")})</option>
                            </select>
                        </div>
                        ({if $data.class.list})
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <span class="input-group-text">({$console->getLabel("CLASS")})</span>
                                </div>
                                <select class="form-control" name="class" >
                                    <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                    ({if $data.class.list})
                                        ({section name=i loop=$data.class.list})
                                            <option value="({$data.class.list[i].id})" style="margin-left:({$data.class.list[i].floor})em;" <!-- ({if $data.class.maxFloor>$data.class.list[i].floor})disabled({/if}) --> ({if $data.class.list[i].id==$smarty.get.class})selected({/if})>({$data.class.list[i].name})</option>
                                        ({/section})
                                    ({/if})
                                </select>
                            </div>
                        ({/if})
                        <div class="input-group-append">
                            <div class="input-group-append">
                                <span class="input-group-text">({$console->getLabel("PAGE_DATA_COUNT")})</span>
                            </div>
                            <select name="per" class="form-control">
                                <option value="" selected>({$console->getLabel("PLEASE_CHOOSE")})</option>
                                <option value="10" ({if isset($smarty.get.per) && $smarty.get.per=='10'})selected({/if})>10</option>
                                <option value="20" ({if isset($smarty.get.per) && $smarty.get.per=='20'})selected({/if})>20</option>
                                <option value="30" ({if isset($smarty.get.per) && $smarty.get.per=='30'})selected({/if})>30</option>
                                <option value="40" ({if isset($smarty.get.per) && $smarty.get.per=='40'})selected({/if})>40</option>
                                <option value="50" ({if isset($smarty.get.per) && $smarty.get.per=='50'})selected({/if})>50</option>
                            </select>
                            <button class="btn btn-secondary glyphicon-search" type="submit"></button>
                        </div>
                    </div>
                </form>
            ({/if})